openapi: 3.0.1
info:
  title: Webhooks e Eventos
  description: 'Registre, atualize, exclua e consulte webhooks de eventos.'
  version: '1.0'
servers:
  - url: 'https://api.sandbox.bankly.com.br'
paths:
  /webhooks:
    post:
      tags:
        - Configurações de webhooks
      summary: Registre um novo webhook.
      description: |
        <div class="bkly-ref-description">
          <p>Registre um novo webhook para um evento bankly.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: webhook.write</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Somente é possível registrar um webhook por evento."
        }
        [/block] 
      operationId: RegisterWebhook
      parameters:
        - $ref: >-
            http://localhost:3320/commons/components#/components/parameters/ApiVersion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRegistrationRequest'
      responses:
        '201':
          description: Recurso criado com sucesso
          headers:
            x-bkly-correlation-id:
              $ref: http://localhost:3320/commons/components#/components/headers/CorrelationId
            Location:
              $ref: http://localhost:3320/commons/components#/components/headers/Location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HookResponseSuccessResponse'
              examples:
                Webhook:
                  $ref: '#/components/examples/Webhook'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  '/webhooks/{id}':
    get:
      tags:
        - Configurações de webhooks
      summary: Obtenha as configuração de um webhook.
      description: |
        <div class="bkly-ref-description">
          <p>Obtenha as configuração de um webhook vinculado a um evento bankly.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: webhook.write</span>
        </div>
      operationId: GetWebhook
      parameters:
        - $ref: '#/components/parameters/WebhookId'
        - $ref: >-
            http://localhost:3320/commons/components#/components/parameters/ApiVersion
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              $ref: >-
                http://localhost:3320/commons/components#/components/headers/CorrelationId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HookResponseSuccessResponse'
              examples:
                Webhook:
                  $ref: '#/components/examples/Webhook'              
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
    patch:
      tags:
        - Configurações de webhooks
      summary: Atualize as configurações de um webhook.
      description: |
        <div class="bkly-ref-description">
          <p>Substitua a url, a private key e a public key de um webhook bankly.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: webhook.write</span>
        </div>
      operationId: UpdateWebhook
      parameters:
        - $ref: '#/components/parameters/WebhookId'
        - $ref: >-
            http://localhost:3320/commons/components#/components/parameters/ApiVersion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
      responses:
        '200':
          description: Requisição foi processada com sucesso.
          headers:
            x-bkly-correlation-id:
              $ref: >-
                http://localhost:3320/commons/components#/components/headers/CorrelationId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HookResponseSuccessResponse'
              examples:
                Webhook:
                  $ref: '#/components/examples/Webhook'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
    delete:
      tags:
        - Configurações de webhooks
      summary: Exclua um webhook.
      description: |
        <div class="bkly-ref-description">
          <p>Exclua um webhook vinculado a um evento bankly.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: webhook.delete</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Os eventos gerados após a deleção não poderão ser reprocessados para notificação."
        }
        [/block]
      operationId: DeleteWebhook
      parameters:
        - $ref: '#/components/parameters/WebhookId'
        - $ref: >-
            http://localhost:3320/commons/components#/components/parameters/ApiVersion
      responses:
        '204':
          description: >-
            Requisição foi processada com sucesso, mas não há conteúdo a ser
            retornado.
          headers:
            x-bkly-correlation-id:
              $ref: >-
                http://localhost:3320/commons/components#/components/headers/CorrelationId
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
components:
  
  parameters:
  
    WebhookId:
      name: id
      in: path
      required: true
      description: Identificador do webhook
      schema:
        $ref: '#/components/schemas/WebhookId'
  
  schemas:
    Error:
      $ref: >-
        http://localhost:3320/commons/components#/components/schemas/ErrorResponse
    ErrorResponse:
      $ref: 'http://localhost:3320/commons/components#/components/schemas/Error'
    
    WebhookId:
      description: Identificador do webhook
      type: integer
      format: int32
      
    WebhookName:
      description: Nome do webhook.
      type: string
      minLength: 3
      maxLength: 36
      
    WebhookContext:
      description: Contexto do evento associado ao webhook.
      type: string
      minLength: 3
      maxLength: 24
    
    EventName:
      description: Nome do evento associado ao webhook.
      type: string
      minLength: 10
      maxLength: 128
      
    URI:
      description: URL do recurso.
      type: string
      maxLength: 256

    WebhookURI:
      description: URL (POST) para envio da notificação.
      type: string
      maxLength: 256

    PublicKey:
      description: Chave publica para assinatura HMAC.
      type: string
      minLength: 24
      maxLength: 36
      
    PrivateKey:
      description: Chave privada para assinatura HMAC.
      type: string
      minLength: 32
      maxLength: 512
  
    WebhookRegistrationRequest:
      required:
        - name
        - context
        - eventName
        - uri
        - publicKey
        - privateKey
      type: object
      properties:
        name:
          $ref: '#/components/schemas/WebhookName'
        context:
          $ref: '#/components/schemas/WebhookContext'
        eventName:
          $ref: '#/components/schemas/EventName'
        uri:
          $ref: '#/components/schemas/WebhookURI'
        publicKey:
          $ref: '#/components/schemas/PublicKey'
        privateKey:
          $ref: '#/components/schemas/PrivateKey'

    WebhookUpdateRequest:
      required:
        - uri
        - publicKey
        - privateKey
      type: object
      properties:
        uri:
          $ref: '#/components/schemas/WebhookURI'
        publicKey:
          $ref: '#/components/schemas/PublicKey'
        privateKey:
          $ref: '#/components/schemas/PrivateKey'
      additionalProperties: false

    HookResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/WebhookId'
        name:
          $ref: '#/components/schemas/WebhookName'
        context:
          $ref: '#/components/schemas/WebhookContext'
        eventName:
          $ref: '#/components/schemas/EventName'
        uri:
          $ref: '#/components/schemas/WebhookURI'
        publicKey:
          $ref: '#/components/schemas/PublicKey'
      additionalProperties: false
    Link:
      description: link que identifica um possível estado do recurso ou entidade
      type: object
      properties:
        url:
          $ref: '#/components/schemas/URI'
        rel:
          type: string
          nullable: true
        method:
          type: string
          nullable: true
      additionalProperties: false

    HookResponseSuccessResponse:
      type: object
      properties:
        data:
          description: recurso ou entidade processado
          $ref: '#/components/schemas/HookResponse'
        links:
          description: lista de links que indicam os estados do recurso ou entidade processado
          type: array
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          readOnly: true
        meta:
          description: metadados da requisição
          type: object
          additionalProperties:
            type: object
            additionalProperties: false
          nullable: true
      additionalProperties: false

      
  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer.
      scheme: bearer
      bearerFormat: JWT
      
  examples:
    Webhook:
      value:
        data:
          id: 1
          name: webhook
          context: Pix
          eventName: PixCashinWasReceived
          uri: https://notifications.yourdomain.com
          publicKey: SGMzdNANYW23bHlXZWJob332
        links:
          - url: https://api.sandbox.bankly.com.br/webhooks/1
            rel: get_webhook
            method: GET
          - url: https://api.sandbox.bankly.com.br/webhooks/1
            rel: update_webhook
            method: PATCH
          - url: https://api.sandbox.bankly.com.br/webhooks/1
            rel: delete_webhook
            method: DELETE
        meta:
          requestedAt: '2021-10-19T02:30:23.000000Z'
          responseAt: '2021-10-19T02:30:23.100000Z'
      summary: Webhook configurado
          
security:
  - Bearer: []
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
