openapi: 3.0.1
info:
  version: 1.0.0
  title: Criptomoedas
servers:
  - url: 'https://bsp.sandbox.bankly.com.br'
paths:
  /v2/crypto/prices:
    get:
      tags:
        - Operações com criptomoedas 
      summary: Cotação de criptomoedas
      description: |
        <div class="bkly-ref-description">
          <p>Realize a cotação do valor para compra e venda de criptomoeda.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span>
           <span class="bkly-ref-scope-tag">scope: crypto.price.read</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Atualmente, só é possível operar com bitcoins (BTC)."
        }
        [/block]
      parameters:
        - $ref: '#/components/parameters/BanklyVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Bankly-Correlation-Id'
        - $ref: '#/components/parameters/Market'
      responses: 
        '200':
          description: "Recurso encontrado."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceResponseDto"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          $ref: 'http://localhost:3320/commons/components#/components/responses/405'
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '408':
          $ref: 'http://localhost:3320/commons/components#/components/responses/408'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '415':
          $ref: 'http://localhost:3320/commons/components#/components/responses/415'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
           $ref: 'http://localhost:3320/commons/components#/components/responses/429'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  
  /v2/crypto/graphs/prices:
    get:
      tags:
        - Operações com criptomoedas  
      summary: Gráfico da cotação de criptomoedas por período
      description: |
        <div class="bkly-ref-description">
          <p>Realize a cotação de criptomoedas de um período específico.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span>
          <span class="bkly-ref-scope-tag">scope: crypto.graph.read</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Atualmente, só é possível operar com bitcoins (BTC)."
        }
        [/block]
      parameters:
        - $ref: '#/components/parameters/BanklyVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Bankly-Correlation-Id'
        - $ref: '#/components/parameters/Market'
        - $ref: '#/components/parameters/Type'
      responses: 
        "200":
          description: "Recurso encontrado."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GraphResponseDto"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          $ref: 'http://localhost:3320/commons/components#/components/responses/405'
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '408':
          $ref: 'http://localhost:3320/commons/components#/components/responses/408'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '415':
          $ref: 'http://localhost:3320/commons/components#/components/responses/415'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
           $ref: 'http://localhost:3320/commons/components#/components/responses/429'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  
  /v2/crypto/orders:
    post:
      tags:
        - Operações com criptomoedas  
      summary: Criação de intenção de compra e venda de criptomoedas
      description: |
        <div class="bkly-ref-description">
          <p>Crie uma ordem de compra ou venda de criptomoedas.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span>
          <span class="bkly-ref-scope-tag">scope: crypto.order.create</span>
        </div>
      parameters:
        - $ref: '#/components/parameters/BanklyVersion'
        - $ref: '#/components/parameters/BanklyUserId'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Bankly-Correlation-Id'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Bankly-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderIntentionBodyDto"
      responses: 
        "201":
          description: Intenção de compra e venda criada com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderIntentionResponseDto"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          $ref: 'http://localhost:3320/commons/components#/components/responses/405'
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '408':
          $ref: 'http://localhost:3320/commons/components#/components/responses/408'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '415':
          $ref: 'http://localhost:3320/commons/components#/components/responses/415'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
           $ref: 'http://localhost:3320/commons/components#/components/responses/429'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
      
  /v2/crypto/orders/{authenticationCode}:
    post:
      tags:
        - Operações com criptomoedas  
      summary: Execução de ordem de compra e venda de criptomoedas 
      description: |
        <div class="bkly-ref-description">
          <p>Realize a execução da ordem de compra ou venda de criptomoedas para efetivar uma dessas operações.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span>
          <span class="bkly-ref-scope-tag">scope: crypto.order.create</span>
        </div>
      parameters:
        - $ref: '#/components/parameters/BanklyVersion'
        - $ref: '#/components/parameters/BanklyUserId'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Bankly-Correlation-Id'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Bankly-Idempotency-Key'
        - name: authenticationCode
          required: true
          in: path
          schema:
            type: string
            description: Identificador da transação retornado no endpoint de Criação de ordem de compra e venda de criptomoedas.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderExecutionBodyDto"
      responses: 
        "201":
          description: Execução de ordem de compra e venda realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderExecutionResponseDto"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          $ref: 'http://localhost:3320/commons/components#/components/responses/405'
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '408':
          $ref: 'http://localhost:3320/commons/components#/components/responses/408'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '415':
          $ref: 'http://localhost:3320/commons/components#/components/responses/415'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
           $ref: 'http://localhost:3320/commons/components#/components/responses/429'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'     

    get: 
      tags:
        - Operações com criptomoedas 
      summary: Consulta de ordem de compra e venda
      description: |
        <div class="bkly-ref-description">
          <p>Realize a consulta de uma ordem específica de compra ou venda de criptomoedas.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span>
          <span class="bkly-ref-scope-tag">scope: crypto.order.read </span>
        </div>
      parameters:
        - $ref: '#/components/parameters/BanklyVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Bankly-Correlation-Id'
        - name: authenticationCode
          required: true
          in: path
          schema:
            type: string
            description: Identificador da transação retornado no endpoint de Criação de ordem de compra e venda de criptomoedas.
      responses: 
        "200":
          description: Ordem retornada com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderQueryResponseDto"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'

components:
  securitySchemes:
    bearer:
      scheme: bearer
      type: http
  
  parameters:
    BanklyVersion:
      name: bankly-version
      in: header
      description: |
        Data em que ocorreu a alteração no contrato.
        _Neste caso, insira **2023-01-30**._
      required: true
      style: simple
      explode: false
      schema:
        type: string
        default: "2023-01-30"
    
    BanklyUserId:
      name: bankly-user-id
      in: header
      description: Número do documento do usuário que irá fazer a requisição.
      required: true
      style: simple
      explode: false
      schema:
        type: string

    Market:
      name: market
      required: true
      in: query
      schema:
        description: Mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
        enum:
          - BTC:BRL
        type: string
    
    Type:
      name: type
      in: query
      description: Informe o período que deseja exibir. Esse campo é <i>case sensitive</i> e a primeira letra do valor deve ser <b>minúscula</b>.
      required: true
      schema: 
        enum:
          - daily
          - weekly
          - monthly
          - annually
        type: string
  
  schemas:

    OrderIntentionBodyDataDto:
      type: object
      properties:
        type:
          type: string
          description: Tipo de ordem (compra ou venda).
          enum:
            - PURCHASE
            - SELL
        market:
          type: string
          description: Mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
        amount:
          $ref: "#/components/schemas/AmountValueBodyObject"
        fee:
          $ref: "#/components/schemas/FeeValueBodyObject"
      required:
        - market
        - type
        - amount
        - fee

    OrderIntentionBodyDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a criação de ordem de compra e venda de criptomoedas.
          $ref: "#/components/schemas/OrderIntentionBodyDataDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
      required:
        - data

    AccountValueBodyObject:
      type: object
      properties:
        branch:
          type: string
          description: Número da agência bancária.
        number:
          type: string
          description: Número da conta bancária.
      required:
        - branch
        - number

    AccountValueObject:
      type: object
      properties:
        branch:
          type: string
          description: Número da agência bancária.
        number:
          type: string
          description: Número da conta bancária.

    PriceValueObject:
      type: object
      properties:
        value:
          type: number
          nullable: true
          description: Preço final da criptomoeda.
        currency:
          type: string
          nullable: true
          description: Código da criptomoeda.
      additionalProperties: false

    OrderIntentionDto:
      type: object
      properties:
        authenticationCode:
          type: string
          description: Identificador da transação que deve ser informado no campo <code>order_authentication_code</code> do endpoint de execução de ordem de compra e venda.
          example: 60c66bce-0127-4e07-a35d-d14d31e4126a
        type:
          type: string
          description: Tipo de ordem (compra ou venda).
          enum:
            - PURCHASE
            - SELL
        market:
          type: string
          description: Mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
        price:
          description: Objeto contendo informações sobre o preço da criptomoeda.
          $ref: "#/components/schemas/PriceValueObject"
        amount:
          $ref: "#/components/schemas/AmountValueObject"
        fee:
          $ref: "#/components/schemas/FeeValueObject"
        quota:
          $ref: "#/components/schemas/QuotaValueObject"
        total:
          $ref: "#/components/schemas/TotalValueObject"
        status:
          type: string
          description: Situação da ordem de compra ou venda. Neste endpoint, o valor desse campo sempre retornará "CREATED".
        createdAt:
          format: date-time
          type: string
          description: "Data de criação da execução da ordem de compra ou venda (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
        expiresIn:
          format: date-time
          type: string
          description: "Data de expiração da execução da ordem (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."

    TotalValueObject:
      type: object
      properties:
        value:
          type: number
          description: Valor total da compra ou venda das criptomoedas com taxa.
        currency:
          type: string
          description: Código da moeda com base na ISO-4217.
    
    LinkValueObject:
      type: object
      properties:
        url:
          type: string
          example: cryptos/orders/{{authentication_code}}
        rel:
          type: string
          example: execute_order
        method:
          type: string
          example: POST
    
    OrderIntentionResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a criação de ordem de compra e venda de criptomoedas.
          $ref: "#/components/schemas/OrderIntentionDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
        links:
          type: array
          description: Links de próximos estados válidos da entidade/recurso.
          items:
            $ref: "#/components/schemas/LinkValueObject"

    AmountValueBodyObject:
      type: object
      properties:
        value:
          type: number
          description: Valor de compra ou venda das criptomoedas sem taxa.
        currency:
          type: string
          description: Código da moeda com base na ISO-4217.
      required:
        - value
        - currency

    AmountValueObject:
      type: object
      properties:
        value:
          type: number
          description: Valor de compra ou venda das criptomoedas sem taxa.
        currency:
          type: string
          description: Código da moeda com base na ISO-4217.

    FeeValueBodyObject:
      type: object
      properties:
        value:
          description: Valor da taxa.
          type: number
        currency:
          description: Código da moeda com base na ISO-4217.
          type: string
      required:
        - value
        - currency

    FeeValueObject:
      type: object
      properties:
        value:
          description: Valor da taxa.
          type: number
        currency:
          description: Código da moeda com base na ISO-4217.
          type: string

    DataOrderExecutionDto:
      type: object
      properties:
        account:
          $ref: "#/components/schemas/AccountValueBodyObject"
      required:
        - account
        
    OrderExecutionBodyDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a execução de ordem de compra e venda de criptomoedas
          $ref: "#/components/schemas/DataOrderExecutionDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
      required:
        - data

    QuotaValueObject:
      type: object
      properties:
        value:
          description: Valor da operação, em criptomoeda.
          type: number
        currency:
          description: Código da criptomoeda.
          type: string

    OrderExecutionDto:
      type: object
      properties:
        authenticationCode:
          type: string
          example: 60c66bce-0127-4e07-a35d-d14d31e4126a
          description: Identificador da transação que deve ser informado no campo <code>order_authentication_code</code> do endpoint de execução de ordem de compra e venda.
        type:
          type: string
          description: Tipo de ordem (compra ou venda).
          enum:
            - PURCHASE
            - SELL
        market:
          type: string
          description: Mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
        status:
          type: string
          description: Situação da ordem de execução de compra ou venda.
          enum:
            - CREATED
            - IN_PROCESS
            - DONE
            - EXPIRED
        account:
          $ref: "#/components/schemas/AccountValueObject"
        price:
          description: Objeto que contém informações sobre o preço da criptomoeda.
          $ref: "#/components/schemas/PriceValueObject"
        amount:
          $ref: "#/components/schemas/AmountValueObject"
        fee:
          $ref: "#/components/schemas/FeeValueObject"
        quota:
          $ref: "#/components/schemas/QuotaValueObject"
        total:
          $ref: "#/components/schemas/TotalValueObject"
        createdAt:
          description: "Data de criação da execução da ordem de compra ou venda."
          format: date-time
          type: string
        updatedAt:
          description: "Data de atualização da ordem de compra ou venda."
          format: date-time
          type: string

    OrderQueryDto:
      type: object
      properties:
        authenticationCode:
          type: string
          example: 60c66bce-0127-4e07-a35d-d14d31e4126a
          description: Identificador da transação informado no <i>path</i> desta requisição.
        type:
          type: string
          description: Tipo de ordem (compra ou venda).
          enum:
            - PURCHASE
            - SELL
        market:
          type: string
          description: Mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
        status:
          type: string
          description: Situação da ordem de execução de compra ou venda.
          enum:
            - CREATED
            - IN_PROCESS
            - DONE
            - EXPIRED
        account:
          description: Esse objeto não retorna caso o <i>status</i> da ordem seja CREATED ou EXPIRED.
          $ref: "#/components/schemas/AccountValueObject"
        price:
          description: Objeto que contém informações sobre o preço da criptomoeda.
          $ref: "#/components/schemas/PriceValueObject"
        amount:
          $ref: "#/components/schemas/AmountValueObject"
        fee:
          $ref: "#/components/schemas/FeeValueObject"
        quota:
          $ref: "#/components/schemas/QuotaValueObject"
        total:
          $ref: "#/components/schemas/TotalValueObject"
        createdAt:
          description: "Data de criação da ordem de compra ou venda."
          format: date-time
          type: string
        updatedAt:
          description: "Data de atualização da ordem de compra ou venda."
          format: date-time
          type: string
        data.expiresIn:
          description: "Data de expiração da ordem de compra ou venda. Campo retornado apenas para ordens com <i>status</i> CREATED."
          format: date-time
          type: string

    OrderExecutionResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a execução de ordem de compra e venda de criptomoedas.
          $ref: "#/components/schemas/OrderExecutionDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
        links:
          type: array
          description: Links de próximos estados válidos da entidade/recurso.
          items:
            type: object

    OrderQueryResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a ordem de compra ou venda consultada.
          $ref: "#/components/schemas/OrderQueryDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
        links:
          type: array
          description: Links de próximos estados válidos da entidade/recurso.
          items:
            type: object

    PriceDto:
      type: object
      properties:
        market:
          description: Mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
          type: string
        ask:
          description: Valor de compra da criptomoeda.
          $ref: "#/components/schemas/PriceValueObject"
        bid:
          description: Valor da venda da criptomoeda.
          $ref: "#/components/schemas/PriceValueObject"
        timestamp:
          description: "Momento da consulta (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
          type: string

    PriceResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a cotação de criptomoedas.
          $ref: "#/components/schemas/PriceDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
        links:
          type: array
          description: Links de próximos estados válidos da entidade/recurso.
          items:
            type: object

    GraphPointValueObject:
      type: object
      properties:
        price:
          $ref: "#/components/schemas/PriceValueObject"
        timestamp:
          type: string
          nullable: true
          description: "Momento da cotação (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."

    GraphDto:
      type: object
      properties:
        market:
          type: string
          description: Mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
        points:
          type: array
          items:
            $ref: "#/components/schemas/GraphPointValueObject"
    
    GraphResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre o gráfico da cotação de criptomoedas por período.
          $ref: "#/components/schemas/GraphDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
        links:
          type: array
          description: Links de próximos estados válidos da entidade/recurso.
          items:
            type: object

x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl