openapi: 3.0.1
info:
  title: Serviços Auxiliares
  description: Consulte endereços, liste cidades e pesquise por instituições financeiras.
  version: '1.0'
servers:
  - url: https://api.sandbox.bankly.com.br
paths:
  /addresses/{zipCode}:
    get:
      tags:
        - Endereços
      summary: Consulte endereço através do CEP.
      description: Você pode consultar o endereço, através do CEP.
      operationId: GetAddress
      parameters:
        - name: zipCode
          in: path
          description: O CEP correspondente ao endereço
          required: true
          schema:
            type: string
            description: O CEP correspondente ao endereço
            nullable: true
            example: '05402100'
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
              example:
                zipCode: '05402100'
                addressLine: Avenida Rebouças
                neighborhood: Pinheiros
                city: São Paulo
                state: SP
                country: BR
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
  /banklist:
    get:
      tags:
        - Instituições Financeiras
      summary: Liste instituições financeiras através do produto
      description: Você pode listar instituições financeiras por produtos
      operationId: GetBanks
      parameters:
        - name: name
          in: query
          description: Use para filtrar a lista de bancos por nome
          schema:
            type: string
            description: Use para filtrar a lista de bancos por nome
            nullable: true
        - name: product
          in: query
          description: Use para buscar bancos de um produto específico
          schema:
            $ref: '#/components/schemas/Product'
        - name: id
          in: query
          description: Use para buscar um ou mais bancos por ID
          schema:
            type: array
            items:
              type: string
            description: Use para buscar um ou mais bancos por ID
            nullable: true
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          schema:
            type: integer
            format: int32
            default: 20
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bank'
              example:
                - name: Acesso Soluções De Pagamento S.A.
                  ispb: '13140088'
                  code: '332'
                  shortName: Acesso Solucoes Pagamento Sa
                  isSPIDirect: true
                  products:
                    - TED
                    - PIX
                - name: Banco Do Brasil S.A.
                  ispb: '00000000'
                  code: '001'
                  shortName: Bco Do Brasil S.A.
                  isSPIDirect: true
                  products:
                    - TED
                    - PIX
                - name: Agk Corretora De Cambio S.A.
                  ispb: '00250699'
                  code: '272'
                  shortName: Agk Cc S.A.
                  products:
                    - TED
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
  /banklist/{id}:
    get:
      tags:
        - Instituições Financeiras
      summary: Consulte instituições financeiras através do ISPB ou Código
      description: Você pode consultar a instituição financeira, através do ISPB ou Código Bancário
      operationId: GetBank
      parameters:
        - name: id
          in: path
          description: O Id corresponde ao ISPB ou Code
          required: true
          schema:
            type: string
            description: O Id corresponde ao ISPB ou Code
            nullable: true
            example: '332'
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bank'
              example:
                name: Acesso Soluções De Pagamento S.A.
                ispb: '13140088'
                code: '332'
                shortName: Acesso Solucoes Pagamento Sa
                isSPIDirect: true
                products:
                  - TED
                  - PIX
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
  /states/{state}/cities:
    get:
      tags:
        - Endereços
      summary: Liste cidades através da sigla do estado.
      description: Você pode listar cidades através da sigla do estado.
      operationId: GetCities
      parameters:
        - name: state
          in: path
          description: "Sigla do estado brasileiro conforme a ISO 3166-2:BR.\r\n'AC','AL','AM','AP','BA','CE','DF','ES','GO','MA','MG','MS','MT','PA','PB','PE','PI','PR','RJ','RN','RO','RR','RS','SC','SE','SP','TO'"
          required: true
          schema:
            type: string
            description: "Sigla do estado brasileiro conforme a ISO 3166-2:BR.\r\n'AC','AL','AM','AP','BA','CE','DF','ES','GO','MA','MG','MS','MT','PA','PB','PE','PI','PR','RJ','RN','RO','RR','RS','SC','SE','SP','TO'"
            nullable: true
            example: SP
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - Adamantina
                - Adolfo
                - Aguaí
                - Águas da Prata
                - Águas de Lindóia
                - Águas de Santa Bárbara
                - Águas de São Pedro
                - Agudos
                - Alambari
                - Alfredo Marcondes
                - Altair
                - Altinópolis
                - Alto Alegre
                - Alumínio
                - Álvares Florence
                - Álvares Machado
                - Álvaro de Carvalho
                - Alvinlândia
                - Americana
                - Américo Brasiliense
                - Américo de Campos
                - Amparo
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
components:
  schemas:
    Address:
      type: object
      properties:
        zipCode:
          type: string
          description: O CEP correspondente ao endereço
          nullable: true
        addressLine:
          type: string
          description: Nome da rua (ou avenida)
          nullable: true
        neighborhood:
          type: string
          description: Nome do bairro ou distrito
          nullable: true
        city:
          type: string
          description: Nome da cidade
          nullable: true
        state:
          type: string
          description: "Sigla do estado brasileiro conforme a ISO 3166-2:BR.\r\n'AC','AL','AM','AP','BA','CE','DF','ES','GO','MA','MG','MS','MT','PA','PB','PE','PI','PR','RJ','RN','RO','RR','RS','SC','SE','SP','TO'"
          nullable: true
        country:
          type: string
          description: 'Sigla do país (Brasil) conforme a ISO 3166-2. Exemplo: BR.'
          nullable: true
      additionalProperties: false
    Error:
      type: object
      properties:
        code:
          type: string
          nullable: true
        propertyName:
          type: string
          nullable: true
        messages:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
        reference:
          type: integer
          format: int32
      additionalProperties: false
    Product:
      enum:
        - None
        - TED
        - PIX
      type: string
    Bank:
      type: object
      properties:
        name:
          type: string
          description: Nome do Instituição Participante
          nullable: true
        ispb:
          type: string
          description: Código do ISPB (Identificador de Sistema de Pagamentos Brasileiro)
          nullable: true
        code:
          type: string
          description: Código da Instituição Participante. Normalmente identificado nas transferências STR (TED)
          nullable: true
        shortName:
          type: string
          description: Nome reduzido da Instituição Participante
          nullable: true
        isSPIDirect:
          type: boolean
          description: Indica se a Instituição Participante é uma participante direto do SPI (PIX)
          nullable: true
        products:
          type: array
          items:
            type: string
          description: "Retorna quais são os produtos suportados pelo registro da instituição financeira\r\n<example>PIX</example>"
          nullable: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer.
      scheme: bearer
      bearerFormat: JWT
      
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
