openapi: 3.0.1
info:
  version: 1.0.0
  title: Gestão de cartões
  description: |
    Solicite e gerencie cartões vinculados à conta do seu cliente em poucos
    minutos. Consulte também nossa
    [documentação](https://bankly.readme.io/v1.0/docs/) para mais detalhes sobre
    os fluxos de negócio.
servers:
  - url: 'https://bsp.sandbox.bankly.com.br'
paths:
  
  /cards/batches/:
    post:
      tags:
        - Cartões No Name
      summary: Criação de cartão em lote
      description: |
        <div class="bkly-ref-description">
          <p>Crie um lote de cartões sem vínculo com uma conta (Cartão No Name).</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.create</span>
        </div>
      operationId: cardCreateCardsInLot
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCardsInLotRequest"
      responses:
        '202':
          description: A solicitação foi aceita e o cartão em lote está sendo criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createCardInLotResponse"
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ Program Id must not be empty. ], reasons: [] },
                              { code: required, message: [ Quantity Cards must not be empty. ], reasons: [] },
                              { code: required, message: [ Address must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '406':
          description: A requisição é válida, porém não foi aceita devido a alguma regra de negócio contratada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 115, message: [ Program does not belong to lot! ], reasons: [] }]
        '409':
          description: Requisição em conflito com as regras de negócio contratada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
          uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/lots/
          passthroughBehavior: when_no_match
          connectionType: VPC_LINK
          connectionId: m116y5
          httpMethod: POST
          type: http
          requestParameters:
            integration.request.header.api-version: method.request.header.api-version
            integration.request.header.Authorization: method.request.header.Authorization
          responses:
            '202':
              statusCode: 202
            '400':
              statusCode: 400
            '401':
              statusCode: 401
            '406':
              statusCode: 406
            '409':
              statusCode: 409
            '500':
              statusCode: 500
  
  /cards/activateCode/{activateCode}/binding/:
    patch:
      tags:
        - Cartões No Name
      summary: Vinculação do cartão com uma conta bancária
      description: |
        <div class="bkly-ref-description">
          <p>Vincule um cartão a uma conta, para que ele seja ativado e para que seja possível definir uma senha para ele.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.update</span>
        </div>
      operationId: cardbindNoName
      parameters:
        - name: activateCode
          in: path
          required: true
          schema:
            type: string
            description: Código de ativação do cartão (12 caracteres).
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/bindNoNameRequest"
      responses:
        '200':
          description: Vínculo realizado.
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: length, message: [ Password must be 4 characters in length. You entered 5 characters. ], reasons: [] },
                            { code: required, message: [ Document must not be empty. ], reasons: [] },
                            { code: required, message: [ Bank Agency must not be empty. ], reasons: [] },
                            { code: required, message: [ Bank Account must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: O cartão não existe.
        '409':
          description: Requisição em conflito com as regras de negócio contratadas.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]   
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{activateCode}/bindNoName
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: PATCH
        type: http
        requestParameters:
          integration.request.path.activateCode: method.request.path.activateCode
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/batches/:{lotId}:
    get:
      tags:
        - Cartões No Name
      summary: Consulta de lote por ID
      description: |
        <div class="bkly-ref-description">
          <p>Obtenha os dados de um lote específico de cartões.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: cardGetLotById
      parameters:
        - name: lotId
          in: path
          required: true
          schema:
            type: string
            description: Id do lote a ser consultado.
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Solicitação recebida com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardLotResponse"
              examples:
                response:
                  value:
                    lotId: "LT01"
                    quantityOrder: 1000
                    dateOrder: "2021-06-07T08:30:40"
                    programId: 1
                    address:
                      zipCode: "05402100"
                      address: Avenida Rebouças
                      number: "1368"
                      neighborhood: Pinheiros
                      complement: Em frente a Wizard
                      city: São Paulo
                      state: SP
                      country: Brasil
                    cards: [
                        "2500011000021160417",
                        "2500011000068618940" 
                    ]
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: length, message: [ Password must be 4 characters in length. You entered 5 characters. ], reasons: [] },
                            { code: required, message: [ Document must not be empty. ], reasons: [] },
                            { code: required, message: [ Bank Agency must not be empty. ], reasons: [] },
                            { code: required, message: [ Bank Account must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Lote não encontrado.
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/lots/{id}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.id: method.request.path.id
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '500':
            statusCode: 500

  /cards/batches:
    get:
      tags:
        - Cartões No Name
      summary: Consulta dos lotes
      description: |
        <div class="bkly-ref-description">
          <p>Obtenha os dados de todos os lotes de cartões. </p>  
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: cardGetLotsByCompanyKey
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Solicitação recebida com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardLotsResponse"
              examples:
                response:
                  value:
                    [
                      {
                        lotId: "LT01",
                        quantityOrder: 1000,
                        companyKey: "Acesso",
                        dateOrder: "2021-06-07T08:30:40",
                        programId: 1
                      }
                    ]
                    
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: length, message: [ Password must be 4 characters in length. You entered 5 characters. ], reasons: [] },
                            { code: required, message: [ Document must not be empty. ], reasons: [] },
                            { code: required, message: [ Bank Agency must not be empty. ], reasons: [] },
                            { code: required, message: [ Bank Account must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Não foram encontrados lotes para essa company key.              
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/lots/
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '204':
            statusCode: 204      
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '500':
            statusCode: 500
  
  /cards/virtual:
    post:
      tags:
        - Criação de cartão
      summary: Cartão virtual
      description:  |
        <div class="bkly-ref-description">
          <p>Crie um cartão virtual que será utilizado em compras não presenciais.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.create</span>
        </div>  
      operationId: cardCreateVirtualCard
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCardRequest"
      responses:
        '202':
          description: A solicitação foi aceita e o cartão está sendo criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardBuildingResponse"
              examples:
                response:
                  value:
                    proxy: "2370021007715002820"
                    activateCode: "A0DDDC0951D1"
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ Card Name must not be empty ], reasons: [] }, { code: conflict, message: [ Alias is not in the correct format ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '406':
          description: A requisição é válida, porém não foi aceita devido a alguma regra de negócio contratada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 202, message: [ Account does not belong to the customer! ], reasons: [] }]
        '409':
          description: A requisição com os dados enviados já foi realizada e está em processamento.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/virtual
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: POST
        type: http
        requestParameters:
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '406':
            statusCode: 406
          '409':
            statusCode: 409
          '500':
            statusCode: 500
  
  /cards/physical:
    post:
      tags:
        - Criação de cartão
      summary: Cartão físico
      description:  |
        <div class="bkly-ref-description">
          <p>Crie um cartão físico que será embossado e entregue no endereço informado.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.create</span>
        </div>
      operationId: cardCreatePhysicalCard
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCardRequest"
      responses:
        '202':
          description: A solicitação foi aceita e o cartão está sendo criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardBuildingResponse"
              examples:
                response:
                  value:
                    proxy: "2370021007715002820"
                    activateCode: "A0DDDC0951D1"
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ Card Name must not be empty ], reasons: [] }, { code: conflict, message: [ Alias is not in the correct format ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '406':
          description: Quando a requisição é válida, porém não foi aceita devido a alguma regra de negócio contratada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 202, message: [ Account does not belong to the customer! ], reasons: [] }]
        '409':
          description: A requisição com os dados enviados já foi realizada e está em processamento.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/physical
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: POST
        type: http
        requestParameters:
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '406':
            statusCode: 406
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/multiple:
    post:
      tags:
        - Criação de cartão
      summary: Cartão físico múltiplo
      description: |
        <div class="bkly-ref-description">
          <p>Crie um cartão físico múltiplo (pré e pós) que será embossado e entrege no endereço informado pelo cliente.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.create</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "O cartão múltiplo tem como principal característica ter no mesmo plástico um número pré e um pós. Porém, um dos números ficará adormecido enquanto o outro estiver ativo."
        }
        [/block]
      operationId: cardCreateMultipleCard
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCardRequest"
      responses:
        '202':
          description: A solicitação foi aceita e o cartão está sendo criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardBuildingResponse"
              examples:
                response:
                  value:
                    proxy: "2370021007715002820"
                    activateCode: "A0DDDC0951D1"
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ Card Name must not be empty ], reasons: [] }, { code: conflict, message: [ Alias is not in the correct format ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '406':
          description: Quando a requisição é válida, porém não foi aceita devido a alguma regra de negócio contratada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 202, message: [ Account does not belong to the customer! ], reasons: [] }]
        '409':
          description: A requisição com os dados enviados já foi realizada e está em processamento.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/orders/multiple
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: POST
        type: http
        requestParameters:
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/{proxy}/duplicate:
    post:
      tags:
        - Criação de cartão
      summary: Segunda via de cartão
      description: |
        <div class="bkly-ref-description">
          <p>Crie uma segunda via de um cartão físico com as mesmas características da primeira via.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.create</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Quando a segunda via for emitida, a primeira via será cancelada automaticamente."
        }
        [/block]
      operationId: createDuplicateCard
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createDuplicateCardRequest"
      responses:
        '202':
          description: Cartão
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardBuildingResponse"
              examples:
                response:
                  value:
                    proxy: "2370021007715002820"
                    activateCode: "A0DDDC0951D1"
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ Card Name must not be empty ], reasons: [] }, { code: conflict, message: [ Alias is not in the correct format ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '406':
          description: Quando a requisição é válida, porém não foi aceita devido a alguma regra de negócio contratada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 202, message: [ Account does not belong to the customer! ], reasons: [] }]
        '409':
          description: A requisição com os dados enviados já foi realizada e está em processamento.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
  
  /cards/{proxy}:
    get:
      tags:
        - Consulta de Cartões
      summary: Por proxy
      description: |
        <div class="bkly-ref-description">
          <p>Consulte os dados de um cartão pelo seu proxy.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: GetCardByProxy
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: A solicitação é recebida e retorna o cartão do proxy correspondente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardResponse"
              examples:
                response:
                  value:
                    created: "2020-07-20T22:53:12"
                    companyKey: "Acesso"
                    documentNumber: "00000000000"
                    activateCode: "A9991B2E491D"
                    bankAgency: "0001"
                    bankAccount: "0001"
                    lastFourDigits: "4321"
                    proxy: "22999903520114195"
                    name: Jose da Silva
                    alias: Meu Cartão
                    cardType: Virtual
                    status: InTransitLocked
                    physicalBinds: 
                      [{ proxy: "2300199994444111999", created: "2020-07-20T22:54:03" }]               
                    virtualBind: 
                      proxy: "22999903520114195"
                      created: "2020-07-20T22:55:12"            
                    allowContactless: true
                    address:
                      zipCode: "05402100"
                      address: Avenida Rebouças
                      number: "1368"
                      neighborhood: Pinheiros
                      complement: Em frente a Wizard
                      city: São Paulo
                      state: SP
                      country: Brasil
                    historyStatus:
                      [ { modified: "2020-07-20T22:53:12", value: Building }, { modified: "2020-07-20T22:55:12", value: InTransitLocked } ]
                    wallets:
                      - status: Approved
                        walletType: GooglePay
                        walletFlowAdd: YellowPatch
                      - status: Approved
                        walletType: ApplePay 
                        walletFlowAdd: GreenPatch
                    creditPos:
                      contractNumber: "54684325763"
                      limit: 3000.00
                      limitActive: 1000.00
                    activatedAt: null
                    lastUpdatedAt: "2020-07-20T22:55:12"
                    isActivated: false
                    isLocked: true
                    isCanceled: false
                    isBuilding: false
                    isFirtual: true
                    isPre: true
                    isPos: false
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Cartão não existente.
        '409':
          description: Requisição em conflito com as regras de negócio contratado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/document/{documentNumber}:
     get:
      tags:
        - Consulta de Cartões
      summary: Por documento (CPF ou CNPJ)
      description: |
        <div class="bkly-ref-description">
          <p>Consulte os cartões vinculados ao número de documento (CPF ou CNPJ) do titular.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: cardGetCardsByDocument
      parameters:
        - name: documentNumber
          in: path
          required: true
          description: Número do documento de CPF ou CNPJ (informe somente os números). Tamanho máximo de 14 caracteres.
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Lista com os cartões pertecentes ao documento.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/cardResponse"
              examples:
                response:
                  value:
                    - created: "2020-07-20T22:53:12"
                      companyKey: "Acesso"
                      documentNumber: "00000000000"
                      activateCode: "A9991B2E491D"
                      bankAgency: "0001"
                      bankAccount: "0001"
                      lastFourDigits: "4321"
                      proxy: "22999903520114195"
                      name: Jose da Silva
                      alias: Meu Cartão
                      cardType: Virtual
                      status: InTransitLocked
                      physicalBinds: 
                        [{ proxy: "2300199994444111999", created: "2020-07-20T22:54:03" }]               
                      virtualBind: 
                        proxy: "22999903520114195"
                        created: "2020-07-20T22:55:12"  
                      allowContactless: true
                      address:
                        zipCode: "05402100"
                        address: Avenida Rebouças
                        number: "1368"
                        neighborhood: Pinheiros
                        complement: Em frente a Wizard
                        city: São Paulo
                        state: SP
                        country: Brasil
                      historyStatus:
                        [ { modified: "2020-07-20T22:53:12", value: Building }, { modified: "2020-07-20T22:55:12", value: InTransitLocked } ]
                      wallets:
                        - status: Approved
                          walletType: GooglePay
                          walletFlowAdd: YellowPatch
                        - status: Approved
                          walletType: ApplePay 
                          walletFlowAdd: GreenPatch
                      creditPos:
                        contractNumber: "54684325763"
                        limit: 3000.00
                        limitActive: 1000.00
                      activatedAt: null
                      lastUpdatedAt: "2020-07-20T22:55:12"
                      isActivated: false
                      isLocked: true
                      isCanceled: false
                      isBuilding: false
                      isFirtual: true
                      isPre: true
                      isPos: false
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '404':
          description: Não há cartões criados para o documento fornecido.
        '401':
          description: Sem autorização para realizar a solicitação.
        '409':
          description: Requisição em conflito com as regras de negócio contratado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/document/{document}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.documentNumber: method.request.path.documentNumber
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '204':
            statusCode: 204
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/activateCode/{activationCode}:
    get:
      tags:
        - Consulta de Cartões
      summary: Por código de ativação
      description: |
        <div class="bkly-ref-description">
          <p>Consulte os cartões através do seu código de ativação.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: cardGetByActivateCode
      parameters:
        - name: activationCode
          in: path
          required: true
          description: Código de ativação do cartão (12 caracteres).
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Lista com os cartões com o código de ativação informado.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/cardResponse"
              examples:
                response:
                  value:
                    - created: "2020-07-20T22:53:12"
                      companyKey: "Acesso"
                      documentNumber: "00000000000"
                      activateCode: "A9991B2E491D"
                      bankAgency: "0001"
                      bankAccount: "0001"
                      lastFourDigits: "4321"
                      proxy: "22999903520114195"
                      name: Jose da Silva
                      alias: Meu Cartão
                      cardType: Virtual
                      status: InTransitLocked
                      physicalBinds: 
                        [{ proxy: "2300199994444111999", created: "2020-07-20T22:54:03" }]               
                      virtualBind: 
                        proxy: "22999903520114195"
                        created: "2020-07-20T22:55:12" 
                      allowContactless: true
                      address:
                        zipCode: "05402100"
                        address: Avenida Rebouças
                        number: "1368"
                        neighborhood: Pinheiros
                        complement: Em frente a Wizard
                        city: São Paulo
                        state: SP
                        country: Brasil
                      historyStatus:
                        [ { modified: "2020-07-20T22:53:12", value: Building }, { modified: "2020-07-20T22:55:12", value: InTransitLocked } ]
                      wallets:
                        - status: Approved
                          walletType: GooglePay
                          walletFlowAdd: YellowPatch
                        - status: Approved
                          walletType: ApplePay 
                          walletFlowAdd: GreenPatch
                      creditPos:
                        contractNumber: "54684325763"
                        limit: 3000.00
                        limitActive: 1000.00
                      activatedAt: null
                      lastUpdatedAt: "2020-07-20T22:55:12"
                      isActivated: false
                      isLocked: true
                      isCanceled: false
                      isBuilding: false
                      isFirtual: true
                      isPre: true
                      isPos: false
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '204':
          description: Não há cartões criados para o código de ativação fornecido.
        '401':
          description: Sem autorização para realizar a solicitação.
        '409':
          description: Requisição em conflito com as regras de negócio contratado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/activatecode/{activatecode}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.activateCode: method.request.path.activateCode
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '204':
            statusCode: 204
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/account/{account}:
    get:
      tags:
        - Consulta de Cartões 
      summary: Por conta
      description: |
        <div class="bkly-ref-description">
          <p>Consulte os cartões vinculados a uma conta.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: cardGetCardsByAccount
      parameters:
        - name: agency
          in: query
          required: false
          description: Número de agência (4 dígitos).
          schema:
            type: string
        - name: account
          in: path
          required: true
          schema:
            type: string
        - name: documentNumber
          in: query
          required: false
          description: Número de documento de CPF ou CNPJ (informe somente os números). Tamanho máximo de 14 caracteres.
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Lista com os cartões pertecentes à conta.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/cardResponse"
              examples:
                response:
                  value:
                    - created: "2020-07-20T22:53:12"
                      companyKey: "Acesso"
                      documentNumber: "00000000000"
                      activateCode: "A9991B2E491D"
                      bankAgency: "0001"
                      bankAccount: "0001"
                      lastFourDigits: "4321"
                      proxy: "22999903520114195"
                      name: Jose da Silva
                      alias: Meu Cartão
                      cardType: Virtual
                      status: InTransitLocked
                      physicalBinds: 
                        [{ proxy: "2300199994444111999", created: "2020-07-20T22:54:03" }]               
                      virtualBind: 
                        proxy: "22999903520114195"
                        created: "2020-07-20T22:55:12" 
                      allowContactless: true
                      address:
                        zipCode: "05402100"
                        address: Avenida Rebouças
                        number: "1368"
                        neighborhood: Pinheiros
                        complement: Em frente a Wizard
                        city: São Paulo
                        state: SP
                        country: Brasil
                      historyStatus:
                        [ { modified: "2020-07-20T22:53:12", value: Building }, { modified: "2020-07-20T22:55:12", value: InTransitLocked } ]
                      wallets:
                        - status: Approved
                          walletType: GooglePay
                          walletFlowAdd: YellowPatch
                        - status: Approved
                          walletType: ApplePay 
                          walletFlowAdd: GreenPatch
                      creditPos:
                        contractNumber: "54684325763"
                        limit: 3000.00
                        limitActive: 1000.00
                      activatedAt: null
                      lastUpdatedAt: "2020-07-20T22:55:12"
                      isActivated: false
                      isLocked: true
                      isCanceled: false
                      isBuilding: false
                      isFirtual: true
                      isPre: true
                      isPos: false
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Não há cartões criados para a conta fornecida.
        '409':
          description: Requisição em conflito com as regras de negócio contratado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/account/{account}?agency={agency}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.agency: method.request.path.agency
          integration.request.path.account: method.request.path.account
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '204':
            statusCode: 204
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/{proxy}/pci:
    post:
      tags:
        - Consulta de Cartões
      summary: Dados de segurança do cartão
      description: |
        <div class="bkly-ref-description">
          <p>Consulte os dados de PCI do cartão (PAN, CVV e data de validade).</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.pci.read</span>
        </div>
      operationId: getDataPci
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
        - name: proxy
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/getDataPciRequest"
      responses:
        '200':
          description: Dados de PCI do cartão.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dataPciResponse"
              examples:
                response:
                  value:
                    cardNumber: "000000000000000"
                    cvv: "000"
                    expirationDate: 05/09
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: length, message: [ Password must be 4 characters in length. You entered 5 characters ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Cartão não existente.
        '409':
          description: Requisição em conflito com as regras de negócio contratado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 029, message: [ The card is in the process of being created ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/pci
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: POST
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500  
  
  /cards/{proxy}/password:
    patch:
      tags:
        - Gestão de senha
      summary: Alteração de senha
      description: |
        <div class="bkly-ref-description">
          <p>Altere a senha do cartão.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.pci.password.update</span>
        </div>
      operationId: cardChangeCardPassword
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeCardPasswordRequest"
      responses:
        '200':
          description: Alteração de senha realizada.
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: length, message: [ Password must be 4 characters in length. You entered 6 characters. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Cartão não encontrado.
        '409':
          description: Requisição em conflito com as regras de negócio contratado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 029, message: [ The card is in the process of being created ], reasons: [] }]
        '500':
          description:  Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/password
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: PATCH
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.authorization-token: method.request.header.authorization-token
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/limit:
    patch:
      tags:
        - Gestão de limite de crédito
      summary: Alteração de limite ativo de cartão pós-pago
      description: |
        <div class="bkly-ref-description">
          <p>Altere o limite de crédito ativo de um cartão pós-pago.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.update</span>
        </div>
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/limitAlterationRequest"
      responses:
        '204':
          description: Limite de crédito ativo alterado com sucesso.
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: length, message: [ Password must be 4 characters in length. You entered 6 characters. ], reasons: [] }]
        '404':
          description: Cartão não encontrado.
        '500':
          description:  Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/password
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: PATCH
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.authorization-token: method.request.header.authorization-token
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/{proxy}/activate:
    patch:
      tags:
        - Status do cartão
      summary: Ativação de cartão
      description: |
        <div class="bkly-ref-description">
          <p>Realize a ativação do cartão pela primeira vez.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.update</span>
        </div>
      operationId: cardActivateCard
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/activateCardRequest"
      responses:
        '200':
          description: Ativação foi realizada.
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: length, message: [ Password must be 4 characters in length. You entered 5 characters. ], reasons: [] },
                              { code: required, message: [ Activate Code must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Se o cartão não existir.
        '409':
          description: Requisição em conflito com as regras de negócio contratado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/activate
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: PATCH
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500
  
  /cards/{proxy}/status:
    patch:
      tags:
        - Status do cartão
      summary: Alteração do status do cartão
      description: |
        <div class="bkly-ref-description">
          <p>[stable] O status do cartão poderá ser alterado para temporário ou definitivo.</p> 
          <span class="bkly-ref-scope-tag"><b>Scope</b>: <code>card.provider.update>/code> </span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "É possível cancelar um cartão por meio da alteração do seu status. Para mais informações, confira a documentação [Alteração do status do cartão](https://bankly-bsp.readme.io/docs/alteracao-status-cartao)."
        }
        [/block]
      operationId: cardChangeCardStatus
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeCardStatusRequest"
      responses:
        '200':
          description: O status foi alterado com sucesso.
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: conflict, message: [ Error converting value Cancel to type Core.Card.Domain.Shared.Types.CardStatus. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Se o cartão não exisitir.
        '409':
          description: Requisição em conflito com as regras de negócio contratado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/status
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: PATCH
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500 
            
  /cards/{proxy}/contactless:
    patch:
      tags:
        - Status do cartão
      summary: Configuração do contactless
      description: |
        <div class="bkly-ref-description">
          <p>Ative ou desative a função contactless do cartão. Para cartões virtuais, caso o contactless fique desativado, não será possível realizar transações com o uso de carteiras digitais.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.update</span>
        </div>
      operationId: cardContactLess
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - name: allowContactless
          in: query
          schema:
            type: boolean
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Alteração realizada com sucesso.
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: conflict, message: [ The value ok is not valid. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Se o cartão não existir.
        '409':
          description: Requisição em conflito com as regras de negócio contratado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/contactless?allowContactless={allowContactless}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: PATCH
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.query.allowContactless: method.request.path.allowContactless
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500 
  
  /cards/{proxy}/nextStatus:
    get:
      tags:
        - Status do cartão
      summary: Consulta dos próximos status
      description: |
        <div class="bkly-ref-description">
          <p>[stable] Consulte todos os possíveis próximos status válidos para o cartão. Serão consideradas as permissões concedidas para o token informado na requisição.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag"><b>Scope</b>: <code>card.provider.read</code> </span>
        </div>
        [block:callout]
        {
          "type": "note",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Consulta dos próximos status](https://bankly-bsp.readme.io/docs/consulta-proximos-status)."
        }
        [/block]
      operationId: cardGetLots
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Solicitação recebida. O retorno traz os dados dos lotes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/nextStatusResponse"
              examples:
                response:
                  value:
                    [
                      {
                        value: "ExpiredCanceled",
                        isDefinitive: true
                      }
                    ]         
        '204':
          description: Não foram encontrados lotes.              
        '400':
          description: "Existem erros no preenchimento da requisição."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/lots/
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '204':
            statusCode: 204      
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '500':
            statusCode: 500  
            
  /cards/{proxy}/transactions:
    get:
      tags:
        - Consulta de transações
      summary: Consulta de transações por cartão
      description: |
        <div class="bkly-ref-description">
          <p>Consulte as transações realizadas no cartão de acordo com os filtros informados. <br /> <b>Importante!</b> A diferença entre a data de início e de fim deverá ser de, no máximo, sete dias.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: cardTransactionsByCard
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: string
            description: Para realizar a consulta da primeira página, <b>não</b> envie esse parâmetro na requisição.
        - name: pageSize
          in: query
          description: O valor máximo permitido é de 100.
          required: false
          schema:
            type: string
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            description: Data de início dos eventos a serem pesquisados, no formato yyyy-mm-dd. Caso necessário, poderá ser feito um filtro incluindo o horário, no formato yyyy-mm-ddThh:mm:ss. Utilize esse campo em conjunto com o parâmetro <code>endDate</code> para filtrar eventos por um range de datas.
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            description: Data do final dos eventos a serem pesquisados, no formato yyyy-mm-dd. Caso necessário, poderá ser feito um filtro incluindo o horário, no formato yyyy-mm-ddThh:mm:ss. Utilize esse campo em conjunto com o parâmetro <code>startDate</code> para filtrar eventos por um range de datas.
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Lista as transações pertencentes ao cartão, além das propriedades referentes à paginação da consulta.
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/resultTransactionResponse"
              examples:
                response:
                  value:
                    - nextPage: "mkzjfhcnnhat84y583hguim49801"
                      hasLastPage: true
                      transactions: 
                        [
                          {
                            account: {
                              number: "000231",
                              agency: "0001"
                            },
                            amount: {
                              value: 138.54,
                              local: 138.54,
                              net: 138.54,
                              iof: 0,
                              markup: 0
                            },
                            merchant: {
                              id: "207001540000011",
                              name: "EC*MERCADOLIVRE",
                              mcc: "0101",
                              city: "SAO PAULO"
                            },  
                            authorizationCode: "823912",
                            countryCode: "BR",
                            currencyCode: "986",
                            entryMode: "Chip",
                            status: "TransactionHoldWasExpired",
                            transactionTimestamp: "2020-09-24T17:21:39.8921566+00:00",
                            transactionType: "Purchase"
                          }
                        ]
        '204':
          description: Não há transações para o cartão fornecido.
        '400':
          description: Existem erros no preenchimento da requisição.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/transactions?startDate={startDate}&endDate={endDate}&pageSize={pageSize}&page={page}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.query.startDate: method.request.query.startDate
          integration.request.query.endDate: method.request.query.endDate
          integration.request.query.page: method.request.query.page
          integration.request.query.pageSize: method.request.query.pageSize
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '204':
            statusCode: 204
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '500':
            statusCode: 500

  /cards/{proxy}/tracking:
    get:
      tags:
        - Rastreio de cartões
      summary: Por proxy
      description: |
        <div class="bkly-ref-description">
          <p>Obtenha o rastreio do cartão pelo seu proxy.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: trackingGetByProxy
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Solicitação recebida. O retorno é o rastreio do cartão do proxy correspondente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trackingResponse"
              examples:
                response:
                  value:
                    createdDate: "2020-07-20T22:53:12"
                    externalTracking:
                      code: "A2327692D592"
                      partner: "CORREIOS"
                    name: Jose da Silva
                    alias: Meu Cartão
                    address:
                      [ { zipCode: "05402100", address: Avenida Rebouças, number: "1368", neighborhood: Pinheiros, complement: Em frente a Wizard, city: São Paulo, state: SP, country: Brasil } ]
                    status:
                      [ { createdDate: "2020-07-20T22:53:12", type: Created, reason: Created  }, { createdDate: "2020-07-20T22:55:12", type: InProgress, reason: In route to delivery } ]
                    finalized:
                      [ { createdDate: "2020-07-20T22:53:12", recipientName: "Maria da Silva", recipientKinship: "Mãe", documentNumber: "1234567", attempts: 1 }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Rastreio de cartão não existente.
        '500':
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trackingErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/tracking
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            $ref: 'http://localhost:3320/commons/components#/components/responses/404'
          '500':
            $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  
  /cards/{proxy}/tracking/address:
    post:
      tags:
        - Rastreio de cartões
      summary: Atualização de endereço
      description: |
        <div class="bkly-ref-description">
          <p>Atualize o endereço do destinatário para uma nova tentativa de entrega.</p>
          <span class="bkly-ref-small-stable-tag">stable</span>
          <span class="bkly-ref-scope-tag">scope: card.update</span>
        </div>
      operationId: trackingUpdateAddress
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateTrackingAddressRequest"
      responses:
        '201':
          description: Endereço cadastrado com sucesso.
        '400':
          description: Não é possível alterar o endereço, pois o seu cartão não está em custódia.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors: [{ code: required, message: [ Address must not be empty ], reasons: [] }, { code: conflict, message: [ Tracking Status not allowed to update address ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'   
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'   

      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/tracking
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '201':
            statusCode: 201
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '500':
            statusCode: 500

  /cards-pci/{proxy}/wallet/{wallet}/brand/{brand}:
    post:
      tags:
        - Carteiras digitais
      summary: Geração de token
      description: |
        <div class="bkly-ref-description">
            <p>Gere um token com os dados criptografados do cartão para adição do cartão junto a uma carteira digital.</p>
            <span class="bkly-ref-small-stable-tag">stable</span> 
            <span class="bkly-ref-scope-tag">scope: card.pci.token.create</span>
          </div>
      
      operationId: GenerateTokenizationForWallet
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - name: wallet
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/walletTypes"
        - name: brand
          in: path
          required: true
          schema:
            type: string
            $ref: "#/components/schemas/brandTypes"
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Resultado da geração do token.
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/cardTokenizationResponse"
              examples:
                response:
                  value:
                    - data: "mkzjfhcnnhat84y583hguim49801mkzjfhcnnhat84y583hguim49801mkzjfhcnnhat84y583hguim49801mkzjfhcnnhat84y583hguim49801mkzjfhcnnhat84y583hguim49801mkzjfhcnnhat84y583hguim49801"
                      lastFourDigits: "1534"
                      phoneNumber: "11999999999"
                      address:
                        zipCode: "05402100"
                        address: Avenida Rebouças
                        number: "1368"
                        neighborhood: Pinheiros
                        complement: Em frente a Wizard
                        city: São Paulo
                        state: SP
                        country: Brasil
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards-pci/{proxy}/wallet/{wallet}/brand/{brand}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: POST
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.path.wallet: method.request.path.wallet
          integration.request.path.brand: method.request.path.brand
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/trackings/range:
    post:
      tags:
        - Rastreio de cartões
      summary: Criação de lote de códigos de rastreio
      description:  |
        <div class="bkly-ref-description">
          <p>[BETA] Realize a a gestão personalizada da criação de lotes de códigos de rastreio.</p> 
          <b>Scope:</b> <code>card.tracking.batch.provider.write</code>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Importante",
          "body": "Para mais informações, consulte a documentação [Criação de lote de códigos de rastreio](https://bankly-bsp.readme.io/docs/criacao-lote-codigos-de-rastreio)."
        }
        [/block]
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/X-Company-Key"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTrackingCodeBatches'
      responses:
        '201':
          description: A solicitação foi aceita e o lote de códigos de rastreio foi criado com sucesso.
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'


security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    apiVersion:
      name: api-version
      in: header
      required: true
      schema:
        type: string
        
    authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string 

    DocumentNumber:
      name: documentNumber
      in: path
      required: true
      schema:
        type: string
        nullable: true

    Proxy:
      name: proxy
      in: path
      required: true
      schema:
        type: string
        nullable: true

  schemas:
    createCardsInLotRequest:
      type: object
      properties:
        programId:
          type: integer
          description: Identificador do programa que será vinculado ao cartão.
        quantityCards:
          type: integer
          description: Quantidade de cartões em lote (informar um valor acima de 0 e menor que 2000).
        paymentDay:
          type: integer
          description: Dia de pagamento do cartão.
        address:
          type: object
          description: Informações sobre o endereço de entrega.
          properties:
            zipCode:
              type: string
              description: CEP (informar somente os números).
            address:
              type: string
              description: Logradouro.
            number:
              type: string
              description: Número.
            neighborhood:
              type: string
              description: Bairro.
            complement:
              type: string
              description: Complemento.
            city:
              type: string
              description: Cidade.
            state:
              type: string
              description: Estado (informar a UF).
            country:
              type: string
              description: País.
          required:
            - zipCode
            - address
            - number
            - neighborhood
            - city
            - state
            - country
      required:
        - programId
        - quantityCards
        - address
    
    createCardInLotResponse:
      type: object
      properties:
        lotId:
          type: string
          description: Id do lote.

    cardLotsResponse:
      type: array
      items:
        type: object
        properties:
          lotId:
            type: string
            description: Id do lote.
          quantityOrder:
            type: integer
            description: Quantidade de cartões solicitados.    
          dateOrder:
            type: string
            description: Data da solicitação de criação do lote.
          programId:
            type: integer
[...]
