openapi: 3.0.1
info:
  title: Pix
  description: Gerencie vínculo entre chaves e contas de pagamento e realize pagamentos através do sistema Pix®, a qualquer hora do dia ou da noite. Consulte também
    nossa [documentação](https://bankly.readme.io/v1.0/docs/) para mais detalhes
    sobre os fluxos de negócio.
  version: '1.0'
servers:
  - url: https://bsp.sandbox.bankly.com.br
paths:
  /customers/{documentNumber}/bookmarks/{bookmarkId}/enable:
    patch:
      tags:
        - Gestão de favorecidos
      summary: Ativação de favorecido para pessoa física
      description: |
        <div class="bkly-ref-description">
          <p>Ative um documento (CPF ou CNPJ) para um relacionamento de confiança.</p>
          <span class="bkly-ref-small-stable-tag">beta</span> 
          <span class="bkly-ref-scope-tag">scope:customer.bookmark.write</span>
        </div>
      operationId: EnableBookmarksForCustomerAsync
      parameters:
        - $ref: "#/components/parameters/CustomerDocumentNumber"
        - $ref: "#/components/parameters/BookmarkId"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        "202":
          $ref: "http://localhost:3320/commons/components#/components/responses/202"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "422":
          $ref: "http://localhost:3320/commons/components#/components/responses/422"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
      security:
        - Bearer: []
  
  /customers/{documentNumber}/bookmarks/{bookmarkId}/disable:
    patch:
      tags:
        - Gestão de favorecidos
      summary: Desativação de favorecido para pessoa física
      description: |
        <div class="bkly-ref-description">
          <p>Desative um documento (CPF ou CNPJ) para um relacionamento de confiança.</p>
          <span class="bkly-ref-small-stable-tag">beta</span> 
          <span class="bkly-ref-scope-tag">scope:customer.bookmark.write</span>
        </div>
      operationId: DisableBookmarksForCustomerAsync
      parameters:
        - $ref: "#/components/parameters/CustomerDocumentNumber"
        - $ref: "#/components/parameters/BookmarkId"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        "204":
          description: A requisição foi aceita e está sendo processada.
          headers: {x-bkly-correlation-id: {description: "Id correlação da operação requisitada.", schema: {type: string}}}
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
      security:
        - Bearer: []
  
  /customers/{documentNumber}/bookmarks/{bookmarkId}:
    get:
      tags:
        - Gestão de favorecidos
      summary: Consulta de um favorecido para pessoa física
      description: |
        <div class="bkly-ref-description">
          <p>Consulte um favorecido e suas respectivas contas.</p>
          <span class="bkly-ref-small-stable-tag">beta</span> 
          <span class="bkly-ref-scope-tag">scope:customer.bookmark.read</span>
        </div>
      operationId: GetBookmarksForCustomerAsync
      parameters:
        - $ref: "#/components/parameters/CustomerDocumentNumber"
        - $ref: "#/components/parameters/BookmarkId"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        "200":
          description: Solicitação aceita com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookmarkDetailedResponse"
        "404":
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
      security:
        - Bearer: []
  
  /customers/{documentNumber}/bookmarks:
    get:
      tags:
        - Gestão de favorecidos
      summary: Consulta de todos os favorecidos para pessoa física
      description: |
        <div class="bkly-ref-description">
          <p>Consulte todos os favorecidos cadastrados, independente de seus respectivos status. </p>
          <span class="bkly-ref-small-stable-tag">beta</span> 
          <span class="bkly-ref-scope-tag">scope:customer.bookmark.read</span>
        </div>
      operationId: ListBookmarksForCustomerAsync
      parameters:
      - $ref: "#/components/parameters/CustomerDocumentNumber"
      - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
      - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        "200":
          description: Solicitação aceita com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BookmarkBasicResponse"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "404":
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
      security:
        - Bearer: []
  
  /business/{documentNumber}/bookmarks/{bookmarkId}/enable:
    patch:
      tags:
        - Gestão de favorecidos
      summary: Ativação de favorecido para pessoa jurídica
      description: |
        <div class="bkly-ref-description">
          <p>Ative um documento (CPF ou CNPJ) para um relacionamento de confiança.</p>
          <span class="bkly-ref-small-stable-tag">beta</span> 
          <span class="bkly-ref-scope-tag">scope:business.bookmark.write</span>
        </div>
      operationId: EnableBookmarksForBusinessAsync
      parameters:
        - $ref: "#/components/parameters/BusinessDocumentNumber"
        - $ref: "#/components/parameters/BookmarkId"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        "202":
          $ref: "http://localhost:3320/commons/components#/components/responses/202"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "422":
          $ref: "http://localhost:3320/commons/components#/components/responses/422"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
      security:
        - Bearer: []
  
  /business/{documentNumber}/bookmarks/{bookmarkId}/disable:
    patch:
      tags:
        - Gestão de favorecidos
      summary: Desativação de favorecido para pessoa jurídica
      description: |
        <div class="bkly-ref-description">
          <p>Desative um documento (CPF ou CNPJ) para um relacionamento de confiança.</p>
          <span class="bkly-ref-small-stable-tag">beta</span> 
          <span class="bkly-ref-scope-tag">scope:business.bookmark.write</span>
        </div>
      operationId: DisableBookmarksForBusinessAsync
      parameters:
        - $ref: "#/components/parameters/BusinessDocumentNumber"
        - $ref: "#/components/parameters/BookmarkId"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        "204":
          description: A requisição foi aceita e está sendo processada.
          headers: {x-bkly-correlation-id: {description: "Id correlação da operação requisitada.", schema: {type: string}}}
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
      security:
        - Bearer: []
  
  /business/{documentNumber}/bookmarks/{bookmarkId}:
    get:
      tags:
        - Gestão de favorecidos
      summary: Consulta de um favorecido para pessoa jurídica
      description: |
        <div class="bkly-ref-description">
          <p>Consulte um favorecido e suas respectivas contas.</p>
          <span class="bkly-ref-small-stable-tag">beta</span> 
          <span class="bkly-ref-scope-tag">scope:business.bookmark.read</span>
        </div>
      operationId: GetBookmarksForBusinessAsync
      parameters:
        - $ref: "#/components/parameters/BusinessDocumentNumber"
        - $ref: "#/components/parameters/BookmarkId"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        "200":
          description: Solicitação aceita com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookmarkDetailedResponse"
        "404":
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
      security:
        - Bearer: []
  
  /business/{documentNumber}/bookmarks:
    get:
      tags:
        - Gestão de favorecidos
      summary: Consulta de todos os favorecidos para pessoa jurídica
      description: |
        <div class="bkly-ref-description">
          <p>Consulte todos os favorecidos cadastrados, independente de seus respectivos status.</p>
          <span class="bkly-ref-small-stable-tag">beta</span> 
          <span class="bkly-ref-scope-tag">scope:business.bookmark.read</span>
        </div>
      operationId: ListBookmarksForBusinessAsync
      parameters:
      - $ref: "#/components/parameters/BusinessDocumentNumber"
      - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
      - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        "200":
          description: Solicitação aceita com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BookmarkBasicResponse"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "404":
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
      security:
        - Bearer: []

  /accounts/{accountNumber}/addressing-keys:
    get:
      tags:
        - Diretório de chaves - DICT
      summary: Consulta de chaves de uma conta
      description: |
        <div class="bkly-ref-description">
          <p>Consulte a lista de chaves de endereçamento vinculadas a uma conta de pagamento.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: pix.account.read</span>
        </div>
      operationId: GetAccountEntriesAsync
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id"
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
            nullable: true
      responses:
        "200":
          description: Chave encontrada.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AddressingKey"
        "404":
          $ref: "http://localhost:3320/commons/components#/components/responses/404"   
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"   
        "503":
          $ref: "http://localhost:3320/commons/components#/components/responses/503" 
      security:
        - Bearer: []      

  /pix/claims:
    post:
      tags:
        - Reivindicação de chaves
      summary: Criação de pedido de reivindicação
      description: |
        <div class="bkly-ref-description">
          <p>Crie um pedido de portabilidade de chaves ou reivindique a posse para outra instituição.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: pix.claims.create</span>
        </div>
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
          in: header
          required: true
          schema:
            type : string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClaimRequest"
      responses:
        '201':
          description: Pedido de reivindicação de chave criado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimResponseCreated"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500' 
        '503':
          $ref: 'http://localhost:3320/commons/components#/components/responses/503'
      security:
        - Bearer: []
    get:
      tags:
        - Reivindicação de chaves
      summary: Consulta dos pedidos de reivindicação
      description: |
        <div class="bkly-ref-description">
          <p>Acompanhe as solicitações de reivindicação de posse ou portabilidade de chaves e verifique se há pedidos de reivindicação provenientes de outras instituições financeiras direcionados aos clientes dos parceiros Bankly.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: pix.claims.read</span>
        </div>
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - name: documentNumber
          in: query
          required: true
          description: Número do documento do titular da conta.
          schema:
            type: string
            nullable: true
        - name: claimsFrom
          required: true
          in: query
          schema:
            $ref: "#/components/schemas/ClaimsFrom"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/ClaimStatus"      
      responses:
        '200':
          description: Recurso encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClaimResponseQuery"
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
      security:
        - Bearer: []

  /pix/claims/{claimId}/confirm:
    patch:
      tags:
        - Reivindicação de chaves
      summary: Confirmação do pedido de reivindicação
      description: |
        <div class="bkly-ref-description">
          <p>Realize a confirmação de um pedido de reivindicação proveniente de outra instituição financeira para efetuar a doação de uma chave.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: pix.claims.confirm</span>
        </div>
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - name: claimId
          in: path
          required: true
          schema:
            type: string
            description: Identificador único do pedido. Esse valor é retornado na criação de pedido de reivindicação de chave, no evento PIX_CLAIM_WAS_CONFIRMED e na consulta de pedidos de reivindicação. 
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimConfirmRequest"
      responses:
        '200':
          description: Pedido de reivindicação confirmado.
          headers:
            x-bkly-correlation-id:
              description: Id de correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimResponseConfirm"
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
      security:
        - Bearer: []

  /pix/claims/{claimId}/complete:
    patch:
      tags:
        - Reivindicação de chaves
      summary: Completando um pedido de reivindicação
      description: |
        <div class="bkly-ref-description">
          <p>Complete o pedido de reivindicação de <b>posse</b> de chave assim que seu <i>status</i> estiver como CONFIRMED.</p>
          <span class="bkly-ref-small-stable-tag">stable</span>  
          <span class="bkly-ref-scope-tag">scope: pix.claims.complete</span>
        </div>
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - name: x-bkly-transactional-hash
          in: header
          description: O envio desse campo no header da requisição é obrigatório <b>apenas</b> para reivindicação de chaves do tipo <b>e-mail</b> e <b>telefone</b>. Ele deve ser preenchido com o hash gerado na criação do código TOTP.
          schema:
            type: string         
        - name: claimId
          in: path
          required: true
          description: Identificador único do pedido. Esse valor é retornado na criação de pedido de reivindicação de chave, no evento PIX_CLAIM_WAS_CONFIRMED e na consulta de pedidos de reivindicação. 
          schema:
            type: string
            nullable: true
  
      responses:
        '200':
          description: Pedido de reivindicação completado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimResponseComplete"
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
      security:
        - Bearer: []

  /pix/stub/claim/acknowledge:
    post:
      tags:
        - Reivindicação de chaves
      summary: Simulação de reconhecimento de pedido de reivindicação
      description: |
        <div class="bkly-ref-description">
          <p>Simule o reconhecimento de um pedido de reivindicação de portabilidade ou de posse de chaves por parte de outra instituição. </p>
          <span class="bkly-ref-small-simulacao-tag">simulação</span>
        </div>
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcknowledgementSimulationRequest"
      responses:
        '201':
          description: Solicitação aceita com sucesso.
      security:
        - Bearer: []

  /pix/claims/{claimId}/cancel:
    patch:
      tags:
        - Reivindicação de chaves
      summary: Cancelamento de um pedido de reivindicação
      description: |
        <div class="bkly-ref-description">
          <p>Cancele um pedido de reivindicação de posse ou portabilidade de uma chave. Tanto o doador quanto o reivindicador poderão realizar o cancelamento, desde que o <i>status</i> do pedido de reivindicação esteja como WAITING_RESOLUTION.</p>
          <span class="bkly-ref-small-stable-tag">stable</span>
          <span class="bkly-ref-scope-tag">scope: pix.claims.cancel</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "O cliente doador só poderá cancelar um pedido de reivindicação de posse ou portabilidade de <i>e-mail</i> e telefone após validar a posse da chave por meio do código TOTP."
        }
        [/block]
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - name: x-bkly-transactional-hash
          in: header
          description: O envio desse campo no header da requisição é obrigatório <b>apenas</b> para reivindicação de chaves do tipo <b>e-mail</b> e <b>telefone</b>. Ele deve ser preenchido com o hash gerado na criação do código TOTP.
          schema:
            type: string         
        - name: claimId
          in: path
          required: true
          description: Identificador único do pedido. Esse valor é retornado na criação de pedido de reivindicação de chave, no evento PIX_CLAIM_WAS_CONFIRMED e na consulta de pedidos de reivindicação. 
          schema:
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimCancelRequest"
      responses:
        '200':
          description: Reivindicação cancelada.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimResponseCancel"
        '400':
            $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
            $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '422':
            $ref: 'http://localhost:3320/commons/components#/components/responses/422'
      security:
        - Bearer: []

  /pix/entries:
    post:
      tags:
        - Diretório de chaves - DICT
      summary: Cadastro de chaves
      description: |
        <div class="bkly-ref-description">
          <p>Cadastre até cinco chaves para contas com titular pessoa física e vinte chaves para contas com titular pessoa jurídica.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: pix.entries.create</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Cadastro de chaves](/docs/cadastro-de-chaves)."
        }
        [/block]
      operationId: CreateEntryAsync
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntryRequest'
      responses:
        '201':
          description: Chave cadastrada com sucesso.
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
        '503':
          $ref: 'http://localhost:3320/commons/components#/components/responses/503'
      security:
        - Bearer: []

  /pix/entries/{addressingKeyValue}:
    get:
      tags:
        - Diretório de chaves - DICT
      summary: Consulta de chave para transferência
      description: |
        <div class="bkly-ref-description">
          <p>Consulte informações sobre a chave de endereçamento para a qual você realizará uma transferência Pix.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.entries.read</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Consulta de chaves para transferência](/docs/pix-consulta-por-chaves)."
        }
        [/block]
      operationId: GetAsync
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - name: addressingKeyValue
          in: path
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Recurso encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntryResponse'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
        '503':
          $ref: 'http://localhost:3320/commons/components#/components/responses/503'
      security:
        - Bearer: []
  
    delete:
      tags:
        - Diretório de chaves - DICT
      summary: Exclusão de chaves
      description: |
        <div class="bkly-ref-description">
          <p><b>Importante!</b> A chave a ser excluída não pode estar em um processo de reinvindicação. Se esse for o caso, é necessário aguardar o encerramento da disputa para realizar a exclusão.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.entries.delete</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Exclusão de chaves](/docs/pix-exclusao-chaves)."
        }
        [/block]
      operationId: DeleteAsync
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - name: addressingKeyValue
          in: path
          required: true
          schema:
            type: string
            nullable: true        
      responses:
        '204':
          $ref: 'http://localhost:3320/commons/components#/components/responses/204'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
        '503':
          $ref: 'http://localhost:3320/commons/components#/components/responses/503'
      security:
        - Bearer: []
        
  /pix/cash-out:
    post:
      tags:
        - Pagamentos instantâneos
      summary: Transferência via Pix
      description: |
        <div class="bkly-ref-description">
          <p>Realize transferências via Pix (manuais, por chave ou QR Code). Para isso, é necessário possuir uma conta aberta no Bankly.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.cashout.create</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Transferência via Pix](/docs/pix-cash-out)."
        }
        [/block]
      operationId: CreatePixCashOutTransactionAsync
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePixCashOutTransactionRequest'
      responses:
        '202':
          description: Pagamento realizado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePixCashOutTransactionResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'   
      security:
        - Bearer: []

  /pix/cash-out/accounts/{accountNumber}/authenticationcode/{authenticationCode}:
    get:
      tags:
        - Pagamentos instantâneos
      summary: Consulta do status da transação
      description: |
        <div class="bkly-ref-description">
          <p>Realize a consulta do status das transferências e pagamentos realizados via Pix. Para isso, é necessário ter um <b>authenticationCode</b> válido.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.cashout.read</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Consulta do status da transação](/docs/pix-consulta-status)."
        }
        [/block]

      operationId: GetByAuthenticationCodeAsync
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: authenticationCode
          in: path
          required: true
          schema:
            type: string
            nullable: true        
      responses:
        '200':
          description: Consulta retornada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixTransferResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
      security:
        - Bearer: []
 
  /pix/cash-out:refund:
    post:
      tags:
        - Pagamentos instantâneos
      summary: Devolução de transferência Pix
      description: |
        <div class="bkly-ref-description">
          <p>Realize a devolução de valores recebidos via Pix. <b>Importante!</b> Para que uma devolução possa ocorrer, é necessário que a transação tenha acontecido dentro dos últimos 90 dias.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.cashout.create</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Devolução](/docs/pix-devolucao)."
        }
        [/block]
      operationId: CreateRefundAsync
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePixRefundRequest'
      responses:
        '202':
          description: Devolução realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatPixRefundResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'      
      security:
        - Bearer: []
        
  /pix/qrcodes/static/transfer:
    post:
      tags:
        - QR Codes
      summary: Emissão de QR Codes estáticos
      description: |
        <div class="bkly-ref-description">
          <p>Para emitir um QR Code, é necessário possuir uma chave no DICT registrada previamente.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.qrcode-static-transfer.create</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Emissão de QR Code](/docs/pix-emissao-qrcode)."
        }
        [/block]
      operationId: CreateStaticQRCodeAsync
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStaticQRCodeRequest'
      responses:
        '200':
          description: QR Code emitido com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  encodedValue:
                    description: QR Code codificado em base64.
                    type: string
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
      security:
        - Bearer: []      
  
  /pix/qrcodes/dynamic/payment:
    post:
      tags:
        - QR Codes
      summary: Emissão de QR Codes dinâmicos
      description: | 
        <div class="bkly-ref-description">
          <p>Para emitir um QR Code, é necessário possuir uma chave no DICT registrada previamente.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: pix.qrcode-dynamic-payment.create</span>
        </div>
      operationId: CreateDynamicQRCodePaymentAsync
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDynamicQRCodePaymentRequest"
      responses:
        '200':
          description: QR Code emitido com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  encodedValue:
                    description: QR Code codificado em base64.
                    type: string
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
      security:
        - Bearer: []

  /pix/qrcodes/decode:
    post:
      tags:
        - QR Codes
      summary: Decodificação de QR Codes estáticos e dinâmicos 
      description: |
        <div class="bkly-ref-description">
          <p><b>Importante!</b> Para que a leitura possa ser realizada, é obrigatório que o conteúdo do QR Code esteja em base64.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: pix.qrcode.read</span>
        </div>
        
      operationId: DecodeQRCodeAsync
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-pix-user-id'
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization" 
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodeQRCodeRequest'
      responses:
        '200':
          description: Decodificação de QR Code realizada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  endToEndId:
                    type: string
                    description: Identificador único gerado pelo Bacen que deverá ser informado ao realizar o pagamento do QR Code.
                  conciliationId:
                    type: string
                  addressingKey:
                    $ref: '#/components/schemas/AddressingKey'
                  qrCodeType:
                    description: Informa se o QR Code é estático ou dinâmico. 
                    type: string
                  payer:
                    $ref: '#/components/schemas/PayerQrCodeDynamicResponse'
                  holder:
                    $ref: '#/components/schemas/PersonalInformationHolder'  
                  bank:
                    $ref: '#/components/schemas/BankName'
                  payment:
                    $ref: '#/components/schemas/Payment'
                  location:
                    $ref: '#/components/schemas/LocationResponse'
                  withdrawalDetail:
                    $ref: '#/components/schemas/WithdrawalDetail'
                  changeAmountDetail:
                    $ref: '#/components/schemas/ChangeAmountDetail'
                  qrCodePurpose:
                    type: string
                    description: Razão da emissão do QR Code.
         
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
      security:
        - Bearer: []

components:
  parameters:
    BookmarkId:
      name: bookmarkId
      description: Identificador único do favorecido.
      in: path
      required: true
      schema:
        minLength: 1
        type: string
    CustomerDocumentNumber:
      name: documentNumber
      description: número do CPF do cliente. Informe somente números.
      in: path
      required: true
      schema:
        type: string
        nullable: true
    BusinessDocumentNumber:
      name: documentNumber
      description: número do CNPJ do cliente. Informe somente números.
      in: path
      required: true
      schema:
        type: string
        nullable: true
  
  schemas:
    DocumentNumberType:
      enum:
          - CPF
          - CNPJ
      type: string
      description: Tipo do documento.
    
    Document:
      type: object
      properties:
        value:
          type: string
          description: Número do documento do favorecido.
          nullable: true
        type:
          $ref: "#/components/schemas/DocumentNumberType"
      additionalProperties: false
    
    BookmarkContact:
      type: object
      properties:
        name:
          type: string
          description: Nome de registro ou social do favorecido.
          nullable: true
        document:
          $ref: "#/components/schemas/Document"
        status:
          type: string
          description: Situação da conta favorecida (Enabled - Disabled ou Active - Inactive).
          nullable: true
      additionalProperties: false
    
    BookmarkBasicResponse:
      type: object
      properties:
        bookmarkId:
            type: string
            description: Identificador único do favorecido.
            nullable: true
        contact:
            $ref: "#/components/schemas/BookmarkContact"
      additionalProperties: false
    
    BookmarkAccountType:
      enum:
      - Checking
      - Salary
      - Savings
      - Payment
      type: string
      description: Tipo de conta.
    
    BookmarkBank:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        code:
          description: Código do banco.
          type: string
          nullable: true
        name:
          description: Nome do banco.
          type: string
          nullable: true
      additionalProperties: false
    
    BookmarkAccount:
      type: object
      properties:
        branch:
          description: Nome da agência.
          type: string
          nullable: true
        number:
          description: Número da conta favorecida.
          type: string
          nullable: true
        type:
          $ref: "#/components/schemas/BookmarkAccountType"
        bank:
          $ref: "#/components/schemas/BookmarkBank"
      additionalProperties: false
    
    BookmarkDetailedResponse:
      type: object
      properties:
        bookmarkId:
          type: string
          description: Identificador único do favorecido.
        contact:
            $ref: "#/components/schemas/BookmarkContact"
        accounts:
            type: array
            items: {$ref: "#/components/schemas/BookmarkAccount"}
            nullable: true
      additionalProperties: false

    Account:
      required:
        - branch
        - number
      type: object
      properties:
        branch:
          minLength: 1
          description: Número da agência.
          type: string
        number:
          minLength: 1
          description: Número da conta
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
      additionalProperties: false
   
    AccountRecipient:
      type: object
      properties:
        branch:
          minLength: 1
          type: string
          description: Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
        number:
          minLength: 1
          type: string
          description: Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
        type:
          enum:
          - CHECKING
          - SALARY
          - SAVINGS
          - PAYMENT
          type: string
          description: Informe o tipo de conta.   
    
    AccountRecipientResponse:
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
    
    AccountSender:
      required:
        - branch
        - number
        - type
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
        type:
          enum:
          - CHECKING
          - SALARY
          - SAVINGS
          - PAYMENT
          type: string
          description: Informe o tipo de conta.
      additionalProperties: false
    
    AccountSenderResponse:
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
      additionalProperties: false
       
    AccountType:
      enum:
        - CHECKING
        - SALARY
        - SAVINGS
        - PAYMENT
      type: string
    
    AcknowledgementSimulationRequest:
      type: object
      required:
        - claimId
        - claimType
        - addressingKey
        - claimer
        - donor
        - status
        - createdAt
        - resolutionLimitDate
        - conclusionLimitDate
      properties:
        claimId:
          type: string
          description:  Identificador único do pedido. Este valor é retornado na criação de pedido de reivindicação de chave.
        claimType:
          $ref: '#/components/schemas/ClaimType'
        addressingKey:
          description: Objeto que contém informações sobre a chave.
          $ref: '#/components/schemas/AddressingKeyAcknowlegment'
        claimer:
          description: Objeto que contém informações sobre o reivindicador da chave.
          $ref: '#/components/schemas/ClaimerInfo'
        donor:
          description: Objeto que contém informações sobre o doador da chave.
          $ref: '#/components/schemas/DonorInfo'
        status:
          description: Para garantir que a simulação funcione, o valor do status deve ser OPEN.
          $ref: '#/components/schemas/ClaimStatus'
        createdAt:
          type: string
          format: date-time
          description: Data em que o pedido foi realizado. Para garantir que a simulação funcione, a data de criação deve ser a mesma retornada na requisição de [criação pedido de reivindicação de chave Pix](https://docs.bankly.com.br/docs/reivindicacao-chave).
        resolutionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de portabilidade realizar ações, como concluir ou cancelar o pedido de reivindicação. Para garantir que a simulação funcione, a data limite deve ser a mesma retornada na requisição de [criação pedido de reivindicação de chave Pix](https://docs.bankly.com.br/docs/reivindicacao-chave).
        conclusionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de posse e o reivindicador (tanto de posse como de portabilidade) confirmarem ou cancelarem o pedido. Para garantir que a simulação funcione, a data de conclusão deve ser a mesma retornada na requisição de [criação pedido de reivindicação de chave Pix](https://docs.bankly.com.br/docs/reivindicacao-chave).

    AdditionalData:
      type: object
      properties:
        name:
          type: string
          nullable: true
        value:
          type: string
          nullable: true
      additionalProperties: false

    Address:
      type: object
      required:
        - city
        - zipCode
      properties:
        addressLine:
          type: string
          description: Logradouro (Nome da rua, avenida etc.).
          nullable: true
        state:
          type: string
          description: "Sigla do estado brasileiro conforme a ISO 3166-2:BR. Exemplo: SP."
          nullable: true
        city:
          type: string
          nullable: true
          description:  Nome da cidade. O valor máximo é de <b>15 caracteres</b> para esse campo.
        zipCode:
          type: string
          description: Código postal do endereço.
          nullable: true
      additionalProperties: false

    AddressingKeyAcknowlegment:
      type: object
      required:
        - type
        - value
      properties:
        type:
          $ref: '#/components/schemas/AddressingKeyType'
        value:
          type: string
          description: Valor da chave.
          nullable: true
      additionalProperties: false

    AddressingKey:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AddressingKeyType'
        value:
          type: string
          description: Valor da chave.
          nullable: true
      additionalProperties: false

    AddressingKeyType:
      enum:
        - CPF
        - CNPJ
        - EMAIL
        - PHONE
        - EVP
      type: string
      description: "Tipo de chave de endereçamento do DICT. <b>Observação</b>: chaves do tipo EVP não entram em processo de reivindicação."
    
    Bank:
      type: object
      properties:
        ispb:
          type: string
          description: ISPB (Identificador de Sistema de Pagamentos Brasileiro) do banco.
          nullable: true
        compe:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
      additionalProperties: false
    
    BankClaim:
      type: object
      properties:
        name:
          type: string
          description: Nome da instituição de pagamento.
          nullable: true
        ispb:
          type: string
          description: ISPB (Identificador de Sistema de Pagamentos Brasileiro) do banco.
          nullable: true

      additionalProperties: false
    
    BankIspb:
      type: object
      properties:
        ispb:
          type: string
          description: ISPB (Identificador de Sistema de Pagamentos Brasileiro) do banco.
          nullable: true

    BankName:
      type: object
      properties:
        name:
          type: string
          description: Retorna apenas em caso de leitura de QR Code estático.
        ispb: 
          type: string
          description: Retorna apenas em caso de leitura de QR Code dinâmico.
      additionalProperties: false
    
    BankRecipientResponse:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
          description: Campo não retornado em caso de pagamento de QR Code para Pix Troco.
        name:
          type: string
          nullable: true
          description: Campo não retornado em caso de pagamento de QR Code para Pix Troco.
      additionalProperties: false
          
    BankRequestRecipient:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
          description: Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
   
    BankRequestSender:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        
    BankSenderResponse:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      additionalProperties: false
        
    BankStatus:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
          description: <code>compe</code> do banco do sender não é retornado em caso de Pix externo.
        name:
          type: string
          nullable: true
          description: <code>name</code> do banco do sender não é retornado em caso de Pix externo.
      additionalProperties: false

    ChangeAmountDetail:
      type: object
      description: Informações retornadas em caso de decodificação de QR Code para Pix Troco.
      properties:
        changeAmountType:
          type: string
          description: Indica a possibilidade de alteração do valor do QR Code.
        agentType:
          type: string
          description: Especifica o tipo de estabelecimento comercial que está fornecendo o troco.
    
    ChangeAmountType:
      enum:
        - NOT_ALLOWED
        - ALLOWED
      type: string
      description: Campo que indica se o valor a ser pago pode (“ALLOWED”) ou não ("NOT_ALLOWED") ser alterado no momento da transação. Caso o valor "NOT_ALLOWED" seja informado, o campo <code>amount</code> deve ser preenchido <b>obrigatoriamente</b>.

    ChannelResponse:
      enum:
        - INTERNAL
        - EXTERNAL
      type: string
    
    ClaimAccount:
      type: object
      properties:
        branch:
          type: string
          description: Número da agência.
          nullable: true
        number:
          type: string
          description: Número da conta.
          nullable: true
    
    ClaimAccountClaimer:
      type: object
      description: Objeto que contém os dados do banco e da conta do reivindicador.
      properties:
        branch:
          type: string
          description: Número da agência.
          nullable: true
        number:
          type: string
          description: Número da conta.
          nullable: true
        bank:
          $ref: "#/components/schemas/BankClaim"
    
    ClaimAccountClaimerConfirm:
      type: object
      description: Objeto que contém os dados do banco e da conta do reivindicador.
      properties:
        branch:
          type: string
          description: Número da agência.
          nullable: true
        number:
          type: string
          description: Número da conta.
          nullable: true
        bank:
          $ref: "#/components/schemas/BankIspb"

    ClaimAccountDonor:
      type: object
      description: Objeto que contém os dados do banco e da conta do doador.
      properties:
        branch:
          type: string
          description: Número da agência.
          nullable: true
        number:
          type: string
          description: Número da conta.
          nullable: true
        bank:
          $ref: "#/components/schemas/BankIspb"
      additionalProperties: false
    
    ClaimAccountQuery:
      type: object
      description: Objeto que contém os dados do banco e da conta do reivindicador.
      properties:
        branch:
          type: string
          description: Número da agência.
          nullable: true
        number:
          type: string
          description: Número da conta.
          nullable: true
        bank:
          $ref: "#/components/schemas/BankIspb"
      additionalProperties: false

    ClaimCancelReason:
      description: Motivo de cancelamento do pedido de reivindicação.
      enum:
        - CLAIMER_REQUEST
        - DONOR_REQUEST
        - FRAUD

      type: string

    ClaimCancelRequest:
      type: object
      required:
      - reason
      properties:
        reason:
          $ref: "#/components/schemas/ClaimCancelReason"
    
    ClaimConfirmReason:
      type: string
      description: Motivo da confirmação do pedido de reinvindicação.
      enum:
        - DONOR_REQUEST
        - DEFAULT_OPERATION
      
    ClaimConfirmRequest:
      type: object
      required:
      - reason
      properties:
        reason:
          type: string
          description: Motivo da confirmação do pedido de reinvindicação. Nesse caso deverá ser preenchido com DONOR_REQUEST (solicitação do cliente).

    ClaimBank:
      type: object
      properties:
        name:
          type: string
          nullable: true
        ispb:
          type: string
          description: "Identificador do sistema de pagamentos brasileiro."
          nullable: true
      additionalProperties: false

    ClaimerInfo:
      type: object
      required:
        - branch
        - number
        - bankISPB
        - holder
      properties:
        branch:
          type: string
          description: Número da agência.
        number:
          type: string
          description: Número da conta.
        bankISPB:
          type: string
          description: ISPB da instituição financeira.
        holder:
          type: object
          required:
            - documentNumber
          description: Objeto que contém informações sobre o titular da conta.
          properties:
            documentNumber:
              type: string
              description: Número do documento.
 
    ClaimsFrom:
      enum:
        - Claimer
        - Donor
      type: string

    ClaimPerson:
      description: Autor da confirmação ou cacelamento do pedido.
      enum:
        - DONOR
        - CLAIMER
        - SYSTEM
      type: string

    ClaimResponseCancel:
      type: object
      properties:
        claimId:
          type: string
          nullable: true
          description: Identificação única de pedido de portabilidade ou posse. Esse valor deverá ser utilizado todas as vezes que você realizar uma operação referente a essa reivindicação, como consulta, cancelamento etc.
        type:
          $ref: "#/components/schemas/ClaimType"
        addressingKey:
          $ref: "#/components/schemas/AddressingKey"
        claimer:
          $ref: "#/components/schemas/ClaimAccountClaimerConfirm"
        donor:
          $ref: "#/components/schemas/ClaimAccountDonor"
        status:
          $ref: "#/components/schemas/ClaimStatus"
        previousStatus:
          description: Situação que o pedido de reinvindicação apresentava em etapa anterior.
          $ref: "#/components/schemas/ClaimStatus"
        cancelReason:
          $ref: "#/components/schemas/ClaimCancelReason"
        canceledBy:
          $ref: "#/components/schemas/ClaimPerson"
        createdAt:
          type: string
          format: date-time
          description: Data de criação do pedido de reivindicação.
        updatedAt:
          type: string
          format: date-time
          nullable: true
        resolutionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de portabilidade realizar ações, como concluir ou cancelar o pedido de reivindicação.
          nullable: true
        conclusionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de posse e o reivindicador (tanto de posse como de portabilidade) confirmarem ou cancelarem o pedido.
          nullable: true
        canceledAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false

    ClaimResponseComplete:
      type: object
      properties:
        claimId:
          type: string
          nullable: true
          description: Identificação única de pedido de portabilidade ou posse. Esse valor deverá ser utilizado todas as vezes que você realizar uma operação referente a essa reivindicação, como consulta, cancelamento etc.
        type:
          $ref: "#/components/schemas/ClaimType"
        addressingKey:
          $ref: "#/components/schemas/AddressingKey"
        claimer:
          $ref: "#/components/schemas/ClaimAccountClaimerConfirm"
        donor:
          $ref: "#/components/schemas/ClaimAccountDonor"
        status:
          $ref: "#/components/schemas/ClaimStatus"
        previousStatus:
          description: Situação que o pedido de reinvindicação apresentava em etapa anterior.
          $ref: "#/components/schemas/ClaimStatus"
        confirmReason:
          $ref: "#/components/schemas/ClaimConfirmReason"
        confirmedBy:
          $ref: "#/components/schemas/ClaimPerson"
        createdAt:
          type: string
          format: date-time
          description: Data de criação do pedido de reivindicação.
        updatedAt:
          type: string
          format: date-time
          description: Data de atualização do pedido de reivindicação.
          nullable: true
        resolutionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de portabilidade realizar ações, como concluir ou cancelar o pedido de reivindicação.
          nullable: true
        conclusionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de posse e o reivindicador (tanto de posse como de portabilidade) confirmarem ou cancelarem o pedido.
          nullable: true
        confirmedAt:
          type: string
          format: date-time
          description: Data de confirmação do pedido de reivindicação.
          nullable: true
        completedAt:
          type: string
          format: date-time
          description: Data em que o pedido de reivindicação foi completado.
          nullable: true
      additionalProperties: false

    ClaimResponseConfirm:
      type: object
      properties:
        claimId:
          type: string
          nullable: true
          description: Identificação única de pedido de portabilidade ou posse. Esse valor deverá ser utilizado todas as vezes que você realizar uma operação referente a essa reivindicação, como consulta, cancelamento etc.
        type:
          $ref: "#/components/schemas/ClaimType"
        addressingKey:
          $ref: "#/components/schemas/AddressingKey"
        claimer:
          $ref: "#/components/schemas/ClaimAccountClaimerConfirm"
        donor:
          $ref: "#/components/schemas/ClaimAccountDonor"
        status:
          $ref: "#/components/schemas/ClaimStatus"
        previousStatus:
          description: Situação que o pedido de reinvindicação apresentava em etapa anterior.
          $ref: "#/components/schemas/ClaimStatus"
        confirmReason:
          $ref: "#/components/schemas/ClaimConfirmReason"
        confirmedBy:
          $ref: "#/components/schemas/ClaimPerson"
        createdAt:
          type: string
          format: date-time
          description: Data de criação do pedido de reivindicação.
        updatedAt:
          type: string
          format: date-time
          description: Data de atualização do pedido de reivindicação.
          nullable: true
        resolutionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de portabilidade realizar ações, como concluir ou cancelar o pedido de reivindicação.
          nullable: true
        conclusionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de posse e o reivindicador (tanto de posse como de portabilidade) confirmarem ou cancelarem o pedido.
          nullable: true
        confirmedAt:
          type: string
          format: date-time
          description: Data de confirmação do pedido de reivindicação.
          nullable: true

      additionalProperties: false

    ClaimResponseCreated:
      type: object
      properties:
        claimId:
          type: string
          nullable: true
          description: Identificação única de pedido de portabilidade ou posse. Esse valor deverá ser utilizado todas as vezes que você realizar uma operação referente a essa reivindicação, como consulta, cancelamento etc.
        type:
          $ref: "#/components/schemas/ClaimType"
        addressingKey:
          $ref: "#/components/schemas/AddressingKey"
        claimer:
          $ref: "#/components/schemas/ClaimAccountClaimer"
        status:
          $ref: "#/components/schemas/ClaimStatus"
        createdAt:
          type: string
          format: date-time
          description: Data de criação do pedido de reivindicação.
        resolutionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de portabilidade realizar ações, como concluir ou cancelar o pedido de reivindicação.
          nullable: true
        conclusionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de posse e o reivindicador (tanto de posse como de portabilidade) confirmarem ou cancelarem o pedido.
          nullable: true

      additionalProperties: false
    
    ClaimResponse:
      type: object
      properties:
        claimId:
          type: string
          nullable: true
          description: Identificação única de pedido de portabilidade ou posse. Esse valor deverá ser utilizado todas as vezes que você realizar uma operação referente a essa reivindicação, como consulta, cancelamento etc.
        type:
          $ref: "#/components/schemas/ClaimType"
        addressingKey:
          $ref: "#/components/schemas/AddressingKey"
        claimer:
          $ref: "#/components/schemas/ClaimAccountClaimer"
        donor:
          $ref: "#/components/schemas/ClaimAccountDonor"
        status:
          $ref: "#/components/schemas/ClaimStatus"
        previousStatus:
          $ref: "#/components/schemas/ClaimStatus"
        confirmReason:
          $ref: "#/components/schemas/ClaimConfirmReason"
        cancelReason:
          $ref: "#/components/schemas/ClaimCancelReason"
        confirmedBy:
          $ref: "#/components/schemas/ClaimPerson"
        canceledBy:
          $ref: "#/components/schemas/ClaimPerson"
        createdAt:
          type: string
          format: date-time
          description: Data de criação do pedido de reivindicação.
        updatedAt:
          type: string
          format: date-time
          nullable: true
        resolutionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de portabilidade realizar ações, como concluir ou cancelar o pedido de reivindicação.
          nullable: true
        conclusionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de posse e o reivindicador (tanto de posse como de portabilidade) confirmarem ou cancelarem o pedido.
          nullable: true
        canceledAt:
          type: string
          format: date-time
          nullable: true
        confirmedAt:
          type: string
          format: date-time
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false

    ClaimResponseQuery:
      type: object
      properties:
        claimId:
          type: string
          nullable: true
          description: Identificação única de pedido de portabilidade ou posse. Esse valor deverá ser utilizado todas as vezes que você realizar uma operação referente a essa reivindicação, como consulta, cancelamento etc.
        type:
          $ref: "#/components/schemas/ClaimType"
        addressingKey:
          $ref: "#/components/schemas/AddressingKey"
        claimer:
          $ref: "#/components/schemas/ClaimAccountQuery"
        donor:
          $ref: "#/components/schemas/ClaimAccountDonor"
        status:
          $ref: "#/components/schemas/ClaimStatus"
        confirmReason:
          $ref: "#/components/schemas/ClaimConfirmReason"
        confirmedBy:
          $ref: "#/components/schemas/ClaimPerson"
        cancelReason:
          $ref: "#/components/schemas/ClaimCancelReason"
        canceledBy:
          $ref: "#/components/schemas/ClaimPerson"
        createdAt:
          type: string
          format: date-time
          description: Data de criação do pedido de reivindicação.
        updatedAt:
          type: string
          format: date-time
          nullable: true
        resolutionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de portabilidade realizar ações, como concluir ou cancelar o pedido de reivindicação.
          nullable: true
        conclusionLimitDate:
          type: string
          format: date-time
          description: Data limite para o doador de posse e o reivindicador (tanto de posse como de portabilidade) confirmarem ou cancelarem o pedido.
          nullable: true
        confirmedAt:
          type: string
          format: date-time
          description: Data de confirmação do pedido de reivindicação.
          nullable: true
        completedAt:
          type: string
          format: date-time
          description: Data em que o pedido de reivindicação foi completado.
          nullable: true
        canceledAt:
          type: string
          format: date-time
          description: Data de cancelamento do pedido de reivindicação.
          nullable: true
      additionalProperties: false

    ClaimType:
      enum:
        - PORTABILITY
        - OWNERSHIP
      description: Tipo do pedido, que pode ser portabilidade (PORTABILITY) ou reivindicação (OWNERSHIP).
      type: string
    
    ClaimStatus:
      enum:
        - OPEN
        - WAITING_RESOLUTION
        - CONFIRMED
        - CANCELLED
        - COMPLETED
      type: string
      description: Situação do pedido de reivindicação.
    
    CreateClaimRequest:
      type: object
      required:
      - type
      - claimer
      - bank
      properties:
        type:
          $ref: "#/components/schemas/ClaimType"
        addressingKey:
          $ref: "#/components/schemas/AddressingKey"
        claimer:
          $ref: "#/components/schemas/ClaimAccountClaimer"
      additionalProperties: false
 
    CreateEntryRequest:
      type: object
      required:
      - addressingKey
      - account
      properties:
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        account: 
          $ref: '#/components/schemas/Account'

      additionalProperties: false
     
    CreateDynamicQRCodePaymentRequest:
      type: object
      properties:
        addressingKey:
          $ref: "#/components/schemas/AddressingKey"
        recipientName:
          type: string
          nullable: true
          description: Nome do recebedor da transação. O valor máximo é de <b>25 caracteres</b> para esse campo.
        conciliationId:
          type: string
          nullable: true
          description: "O ID de conciliação é uma informação utilizada para conciliação dos pagamentos. Ela permite que você identifique a qual QR Code um determinado pagamento pertence. Importante: esse campo deve ter no mínimo 26 e no máximo 35 caracteres, e não são aceitos caracteres especiais."
        additionalData:
          type: array
          items:
            $ref: "#/components/schemas/AdditionalData"
          nullable: true
          description: "Lista contendo um ou mais subcampos, criados pelo emissor, para descrever informações adicionais. Este valor é somente leitura."
        singlePayment:
          type: boolean
          description: "Para que um QR Code possa ser utilizado apenas uma vez, esse campo deve ser preenchido com true. Se este campo não for enviado ou estiver como false, será possível utilizá-lo em mais de um pagamento."
        payer:
          $ref: "#/components/schemas/Payer"
        changeAmountType:
          $ref: "#/components/schemas/ChangeAmountType"
        amount:
          type: number
          format: double
          description: Valor a ser pago. 
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: "Data e hora em que o QR Code deve expirar, no formato \"YYYY-MM-DD 00:00:00\". Caso esse campo não seja informado, o QR Code irá expirar em 24h."
        payerRequestText:
          type: string
          nullable: true
          description: "Texto que o pagador visualizará no momento da transação."
      additionalProperties: false

    CreatePixCashOutTransactionRequest:
      type: object
      properties:
        correlationId:
          type: string
          nullable: true
          readOnly: true
        amount:
          type: number
          format: double
          description: Informe o valor a ser pago.<br /> Em caso de pagamento de QR Code para Pix Troco, informe o valor total a ser pago (valor da compra somado ao valor que se deseja obter em espécie). <br />Em caso de pagamento de QR Code para Pix Saque, <b>não</b> preencha este campo. O valor deverá ser enviado no campo <code>withdrawalAmount</code>.
        description:
          type: string
          nullable: true
          description: Campo que pode ser utilizado pelo usuário para enviar mensagens ao destinatário da transferência com informações sobre a transação. O texto pode conter no máximo 140 caracteres e não aceita nenhum caractere especial (exceto hífen).
        sender:
          $ref: '#/components/schemas/PersonRequestSender'
        initializationType:
          $ref: '#/components/schemas/PixInitializationType'
        recipient:
          $ref: '#/components/schemas/PersonRequestRecipient'
        endToEndId:
          type: string
          nullable: true
          description: Campo obrigatório para cash-out por <b>chave Pix</b> e <b>Pix QR Code</b>. Só deve ser preenchido nesses casos.
        withdrawalAmount:
          type: number
          format: double
          description: Informe o valor do saque. <br /> Preenchimento <b>exclusivo</b> e <b>obrigatório</b> em caso de pagamento de <b>QR Code para Pix Saque</b>.
        requestDatetime:
          type: string
          format: date-time
          readOnly: true
        receiverReconciliationId:
          type: string
          description: Deve ser preenchido com o valor do <code>conciliationId</code> quando esse campo retornar na leitura do QR Code.
        changeAmount:
          type: number
          format: double
          description: Informe o valor do troco. <br /> Preenchimento <b>exclusivo</b> e <b>obrigatório</b> em caso de pagamento de <b>QR Code para Pix Troco</b>.
      required: 
        - amount
        - sender
        - initializationType
      additionalProperties: false  
     
    CreatePixCashOutTransactionResponse:
      type: object
      properties:
        amount:
          type: number
          format: double
        withdrawalAmount:
          type: number
          format: double
          description: Valor do saque (retornado apenas em caso de pagamento de QR Code para Pix Saque).
        changeAmount:
          type: number
          format: double
          description: Valor do troco (retornado apenas em caso de pagamento de QR Code para Pix Troco).
        description:
          type: string
          nullable: true
        sender:
          $ref: '#/components/schemas/PixPersonSender'
        recipient:
          $ref: '#/components/schemas/PixPersonRecipient'
        authenticationCode:
          type: string
          description: Identificador retornado nas operações de cash-out. Seu valor é utilizado para verificar os status da transação no endpoint de consulta de status.
      additionalProperties: false

    CreatePixRefundRequest:
      type: object
      required:
        - account
        - authenticationCode
        - amount
        - refundCode
      properties:
        account:
          $ref: '#/components/schemas/AccountSender'
        authenticationCode:
          type: string
          format: uuid
          description: Código de autenticação do pagamento.
        amount:
          type: number
          format: double
          description: Valor devolvido.
        refundCode:
          $ref: '#/components/schemas/RefundCode'
        refundReason:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
      additionalProperties: false
   
    CreatPixRefundResponse:
      type: object
      properties:
        authenticationCode: 
          type: string
          format: uuid
          description: Código de autenticação do pagamento.
        amount:
          type: number
          format: double
          description: Valor devolvido.
        description: 
          type: string
          description: Descrição da devolução.
        correlationId:
          type: string
          description: GUID da requisição.
        sender:
          $ref: '#/components/schemas/PixPersonSenderResponse'
        recipient:
          $ref: '#/components/schemas/PixPersonRecipientResponse'
        status:
          $ref: '#/components/schemas/PixTransferStatusResponse'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateStaticQRCodeRequest:
      required:
        - addressingKey
        - recipientName
      type: object
      properties:
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        amount:
          type: number
          format: double
          description: Preenchimento <b>obrigatório</b> em caso de emissão de <b>QR Code para Pix Saque</b>.
          nullable: true
        recipientName:
          minLength: 1
          type: string
        location:
          $ref: '#/components/schemas/Location'
        conciliationId:
          type: string
          nullable: true
          description: Informe um valor que auxilie o parceiro a identificar a qual QR Code um determinado pagamento pertence.<br /> Esse campo é limitado a 25 caracteres e não aceita nenhum caractere especial.
        categoryCode:
          type: string
          nullable: true
        additionalData:
          type: string
          nullable: true
          description: Campo livre para informações adicionais. Seu tamanho máximo é definido por 73 subtraído o tamanho da chave. Considerando que uma chave tem o tamanho mínimo de 9 caracteres, o tamanho máximo deste campo é 64. Esse campo <b>não</b> aceita caracteres especiais.
        withdrawalProviderIspb:
          type: string
          description: Informe o ISPB do provedor do saque.<br /> Preenchimento <b>exclusivo</b> e <b>obrigatório</b> em caso de emissão de <b>QR Code para Pix Saque</b>.
      additionalProperties: false
      
    DecodeQRCodeRequest:
      type: object
      required: 
      - encodedValue
      properties:
        encodedValue:
          type: string
      additionalProperties: false

    DonorInfo:
      type: object
      required:
        - branch
        - number
        - bankISPB
        - holder
      properties:
        branch:
          type: string
          description: Número da agência.
        number:
          type: string
          description: Número da conta.
        bankISPB:
          type: string
          description: ISPB da instituição financeira.
        holder:
          type: object
          required: 
            - documentNumber
          description: Objeto que contém informações sobre o titular da conta.
          properties:
            documentNumber:
              type: string
              description: Número do documento.

    EntryStatus:
      enum:
        - OWNED
        - EXCLUDED
        - LOCKED_BY_CLAIM
      type: string
  
    Error:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
  
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
      additionalProperties: false
  
    GetEntryResponse:
      type: object
      properties:
        endToEndId:
          type: string
          nullable: true
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        holder:
          $ref: '#/components/schemas/HolderGetEntryResponse'
        status:
          $ref: '#/components/schemas/EntryStatus'
        createdAt:
          type: string
          format: date-time
        ownedAt:
          type: string
          format: date-time
      additionalProperties: false
  
    HolderGetEntryResponse:
      type: object
      properties:
        type:
         type: string
        name:
         type: string
        socialName: 
          type: string
        document:
          $ref: '#/components/schemas/Document'
      additionalProperties: false
 
    HolderType:
      enum:
        - CUSTOMER
        - BUSINESS
      type: string
 
    Location:
      type: object
      description: Preenchimento <b>obrigatório</b> em caso de emissão de <b>QR Code para Pix Saque</b>.
      properties:
        city:
          type: string
          nullable: true
        zipCode:
          type: string
          nullable: true
      additionalProperties: false
     
    LocationResponse:
      type: object
      properties:
        city:
          type: string
          nullable: true
        zipCode:
          type: string
          description: Retorna apenas na leitura de QR Codes estáticos.
      additionalProperties: false
    
    Payer:
      type: object
      required:
        - type
        - address
        - documentNumber
        - name
      properties:
        name:
          type: string
          description: "Nome do pagador. O valor máximo é de <b>15 caracteres</b> para esse campo."
          nullable: true
        documentNumber:
          type: string
          description: "Número do documento do pagador."
          nullable: true
        type:
          $ref: "#/components/schemas/PersonType"
          description: "Tipo de pagador, que pode ser CUSTOMER (pessoa física) ou BUSINESS (pessoa jurídica)."
        address:
          $ref: "#/components/schemas/Address"
      additionalProperties: false
      description: Objeto que contém informações sobre o pagador.

    PayerQrCodeDynamicResponse:
      description: Objeto que contém informações sobre o pagador. Reetornado apenas na decodificação de <b>QR Codes dinâmicos</b>.
      properties:
        name:
          type: string
          description: "Nome do pagador. O valor máximo é de <b>15 caracteres</b> para esse campo."
          nullable: true
        documentNumber:
          type: string
          description: "Número do documento do pagador."
          nullable: true
        type:
          $ref: "#/components/schemas/PersonType"
          description: "Tipo de pagador, que pode ser CUSTOMER (pessoa física) ou BUSINESS (pessoa jurídica)."
        address:
          $ref: "#/components/schemas/Address"
      additionalProperties: false
      
    Payment:
      type: object
      properties:
        baseValue:
          type: number
          format: double
          description: 	Valor de base.
        interestValue:
          type: number
          format: double
          description: Valor de juros.
        penaltyValue:
          type: number
          format: double
          description: Valor de multa.
        discountValue:
          type: number
          format: double
          description: Valor do desconto.
        reductionValue:
          type: number
          format: double
          description: Valor do abatimento.
        totalValue:
          type: number
          format: double
          description: Valor do total da compra ou transferência.
        dueDate:
          type: string
          format: date-time
          description: 	Data de vencimento do pagamento.
        changeValue:
          type: number
          format: double
          description: Valor do troco em espécie. <br /> Retornado apenas em caso de <b>decodificação de QR Code para Pix Troco</b>. 
        withdrawalValue:
          type: string
          format: double
          description: Valor do saque em espécie. <br /> Retornado apenas em caso de <b>decodificação de QR Code para Pix Saque</b>. 
      additionalProperties: false
    
    PersonalInformationHolder:
      type: object
      properties:
        type:
          type: string
        name:
          type: string
        document:
          type: string
        
    PersonRequestRecipient:
      type: object
      description: Os dados do recebedor <b>não</b> devem ser enviados em caso de pagamento por chave Pix e QR Code. 
      properties:
        account:
          $ref: '#/components/schemas/AccountRecipient'
        bank:
          $ref: '#/components/schemas/BankRequestRecipient'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).<br /> Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta. Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa. <br /> Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
          nullable: true
      additionalProperties: false

    PersonRequestSender:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountSender'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false
      required:
        - documentNumber
        - name
        - account
  
    PersonType:
      enum:
        - CUSTOMER
        - BUSINESS
      type: string

    PixInitializationType:
      enum:
        - Manual
        - Key
        - StaticQrCode
        - DynamicQrCode
      type: string
  
    PixPerson:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountSenderResponse'
        bank:
          $ref: '#/components/schemas/BankStatus'
        documentNumber:
          type: string
          description: Número do documento.
          nullable: true
        documentType:
          type: string
          description: Tipo de documento (CPF ou CNPJ).
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false

    PixPersonRecipient:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountRecipientResponse'
        bank:
          $ref: '#/components/schemas/BankRecipientResponse'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false
    
    PixPersonRecipientResponse:
      properties:
        account:
          $ref: '#/components/schemas/AccountRecipientResponse'
        bank:
          $ref: '#/components/schemas/BankRecipientResponse'
        documentNumber:
          type: string
          description: Número do documento.
          nullable: true
        documentType:
          type: string
          description: Tipo de documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false

    PixPersonSender:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountSenderResponse'
        bank:
          $ref: '#/components/schemas/BankSenderResponse'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false
    
    PixPersonSenderResponse:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountSenderResponse'
        bank:
          $ref: '#/components/schemas/BankSenderResponse'
        documentNumber:
          type: string
          description: Número do documento.
          nullable: true
        documentType:
          type: string
          description: Tipo de documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true

      additionalProperties: false

    PixTransferResponse:
      type: object
      properties:
        companyKey:
          type: string
        authenticationCode:
          type: string
          format: uuid
        endToEndId:
          type: string
          nullable: true
        initializationType:
          $ref: '#/components/schemas/PixInitializationType'
        receiverReconciliationId:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        description:
          type: string
          nullable: true
        correlationId:
          type: string
          nullable: true
        sender:
          $ref: '#/components/schemas/PixPerson'
        recipient:
          $ref: '#/components/schemas/PixPerson'
        channel:
          $ref: '#/components/schemas/ChannelResponse'
        status:
          $ref: '#/components/schemas/PixTransferStatusResponse'
        type:
          $ref: '#/components/schemas/PixTransferTypeResponse'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    
    PixTransferStatusResponse:
      enum:
        - IN_PROCESS
        - DONE
        - UNDONE
        - CANCELED
      type: string
    
    PixTransferTypeResponse:
      enum:
        - CASH_OUT
        - REFUND
      type: string      

    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        extensions:
          type: object
          additionalProperties:
            type: object
            additionalProperties: false
          nullable: true
          readOnly: true
      additionalProperties: false

    RefundCode:
      enum:
        - BE08
        - FR01
        - MD06
        - SL02
      type: string

    WithdrawalDetail:
      type: object
      description: Informações retornadas em caso de decodificação de QR Code para Pix Saque.
      properties:
        changeAmountType:
          type: string
          description: Indica a possibilidade de alteração do valor do QR Code.
        agentType:
          type: string
          description: Especifica o tipo de estabelecimento comercial que está fornecendo o saque.
        providerIspb:
          type: string
          description: ISPB do provedor.
      additionalProperties: false
      
  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer.
      scheme: bearer

x-readme:
  explorer-enabled: true
  
  proxy-enabled: true
  
  samples-enabled: true
  
  samples-languages:
    - curl
