openapi: 3.0.1
info:
  title: PIX
  description: Gerencie vínculo entre chaves e contas de pagamento e realize pagamentos através do sistema PIX®, a qualquer hora do dia ou da noite. Consulte também
    nossa [documentação](https://bankly.readme.io/v1.0/docs/) para mais detalhes
    sobre os fluxos de negócio.
  version: '1.0'
servers:
  - url: https://api.sandbox.bankly.com.br
paths:
  /accounts/{accountNumber}/addressing-keys:
    get:
      tags:
        - Diretório de chaves - DICT
      summary: Consulta de chaves de uma conta
      description: |
        <div class="bkly-ref-description">
          <p>Consulte a lista de chaves de endereçamento vinculadas a uma conta de pagamento.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.account.read</span>
        </div>
      operationId: GetAccountEntriesAsync
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: authorization
          in: header 
          required: true
          schema:
            type : string
        - name: x-bkly-pix-user-id
          in: header
          description: Informe o número do documento do cliente que solicita a consulta.
          required: true
          schema:
            type: string
        - name: x-correlation-id
          in: header 
          description: Informe um GUID v4, gerado randomicamente. A cada requisição, deve-se gerar um novo GUID. 
          required: true
          schema:
            type : string
      responses:
        '200':
          description: Chave encontrada.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressingKey'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'   
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'   
        '503':
          $ref: 'http://localhost:3320/commons/components#/components/responses/503' 
      security:
        - Bearer: []      

  /pix/entries:
    post:
      tags:
        - Diretório de chaves - DICT
      summary: Cadastro de chaves
      description: |
        <div class="bkly-ref-description">
          <p>Cadastre até cinco chaves para contas com titular pessoa física e vinte chaves para contas com titular pessoa jurídica.</p>
          <p>Para informações mais detalhadas a respeito deste endpoint, confira a documentação <a href="https://docs.bankly.com.br/docs/pix-cadastro-chaves" target="_blank" rel="noopener noreferrer">Cadastro de chaves</a>.</p>
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: pix.entries.create</span>
        </div>
          
      operationId: CreateEntryAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: authorization
          in: header 
          required: true
          schema:
            type : string
        - name: x-correlation-id
          in: header 
          description: Informe um GUID v4, gerado randomicamente. A cada requisição, deve-se gerar um novo GUID.
          required: true
          schema:
            type : string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntryRequest'
      responses:
        '201':
          description: Chave cadastrada com sucesso.
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
        '503':
          $ref: 'http://localhost:3320/commons/components#/components/responses/503'
        
      security:
        - Bearer: []

  /pix/entries/{addressingKeyValue}:
    get:
      tags:
        - Diretório de chaves - DICT
      summary: Consulta de vínculo de chave com uma conta
      description: |
        <div class="bkly-ref-description">
          <p>Consulte os detalhes da conta vinculada a uma chave de endereçamento.</p>
          <p>Para informações mais detalhadas a respeito deste endpoint, confira a documentação <a href="https://docs.bankly.com.br/docs/pix-consulta-por-chaves" target="_blank" rel="noopener noreferrer">Consulta por chaves</a>.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.entries.read</span>
        </div>
      operationId: GetAsync
      parameters:
        - name: addressingKeyValue
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: x-bkly-pix-user-id
          in: header
          description: Informe o número do documento do cliente que solicita a consulta.
          required: true
          schema:
            type: string
        - name: authorization
          in: header 
          required: true
          schema:
            type : string
        - name: x-correlation-id
          in: header 
          description: Informe um GUID v4, gerado randomicamente. A cada requisição, deve-se gerar um novo GUID.
          required: true
          schema:
            type : string
      responses:
        '200':
          description: Recurso encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntryResponse'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
        '503':
          $ref: 'http://localhost:3320/commons/components#/components/responses/503'
      security:
        - Bearer: []
  
    delete:
      tags:
        - Diretório de chaves - DICT
      summary: Exclusão de chaves
      description: |
        <div class="bkly-ref-description">
          <p><b>Importante!</b> A chave a ser excluída não pode estar em um processo de reinvindicação. Se esse for o caso, é necessário aguardar o encerramento da disputa para realizar a exclusão.</p>
          <p>Para informações mais detalhadas a respeito deste endpoint, confira a documentação <a href="https://docs.bankly.com.br/docs/pix-exclusao-chaves" target="_blank" rel="noopener noreferrer">Exclusão chaves</a>.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.entries.delete</span>
        </div>
      operationId: DeleteAsync
      parameters:
        - name: addressingKeyValue
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: x-bkly-pix-user-id
          in: header
          description: Deve informar o número do documento do cliente que solicita a exclusão da chave.
          required: true
          schema:
            type: string
        - name: authorization
          in: header 
          required: true
          schema:
            type : string
        - name: x-correlation-id
          in: header 
          description: Informe um GUID v4, gerado randomicamente. A cada requisição, deve-se gerar um novo GUID.
          required: true
          schema:
            type : string
      responses:
        '200':
          description: Chave excluída com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntryResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
        '503':
          $ref: 'http://localhost:3320/commons/components#/components/responses/503'
      security:
        - Bearer: []
        
  /pix/cash-out:
    post:
      tags:
        - Pagamentos instantâneos
      summary: Transferência via Pix
      description: |
        <div class="bkly-ref-description">
          <p>Realize transferências via Pix (manuais, por chave ou QR Code). Para isso, é necessário possuir uma conta aberta no Bankly.</p>
          <p>Para informações mais detalhadas a respeito deste endpoint, confira a documentação <a href="https://docs.bankly.com.br/docs/pix-cash-out" target="_blank" rel="noopener noreferrer">Pix cash-out</a>.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.cashout.create</span>
        </div>
      operationId: CreatePixCashOutTransactionAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: authorization
          in: header 
          required: true
          schema:
            type : string
        - name: x-correlation-id
          in: header 
          description: Informe um GUID v4, gerado randomicamente. A cada requisição, deve-se gerar um novo GUID.
          required: true
          schema:
            type : string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePixCashOutTransactionRequest'
      responses:
        '202':
          description: Pagamento realizado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePixCashOutTransactionResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'   
      security:
        - Bearer: []
  
  /pix/cash-out:refund:
    post:
      tags:
        - Pagamentos instantâneos
      summary: Devolução de transferência Pix
      description: |
        <div class="bkly-ref-description">
          <p><b>Importante!</b> Para realizar uma devolução, é necessário que a transação tenha acontecido dentro dos últimos 90 dias.</p>
          <p>Para informações mais detalhadas a respeito deste endpoint, confira a documentação <a href="https://docs.bankly.com.br/docs/pix-devolucao" target="_blank" rel="noopener noreferrer">Devolução</a>.</p>
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: pix.cashout.create</span>
        </div>
      operationId: CreateRefundAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: authorization
          in: header 
          required: true
          schema:
            type : string
        - name: x-correlation-id
          in: header 
          description: Informe um GUID v4, gerado randomicamente. A cada requisição, deve-se gerar um novo GUID.
          required: true
          schema:
            type : string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePixRefundRequest'
      responses:
        '202':
          description: Devolução realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePixRefundRequest'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
      
      security:
        - Bearer: []
        
  /pix/cash-out/accounts/{accountNumber}/authenticationcode/{authenticationCode}:
    get:
      tags:
        - Pagamentos instantâneos
      summary: Consulta do status da transação
      description: |
        <div class="bkly-ref-description">
          <p>Realize a consulta do status dos pagamentos realizados via Pix. Para isso, é necessário ter um <b>AuthenticationCode</b> válido.</p>
          <p>Para informações mais detalhadas a respeito deste endpoint, confira a documentação <a href="https://docs.bankly.com.br/docs/pix-consulta-status" target="_blank" rel="noopener noreferrer">Consulta do status da transação</a>.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.cashout.read</span>
        </div>
      operationId: GetByAuthenticationCodeAsync
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: authenticationCode
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: x-bkly-pix-user-id
          in: header
          description: Informe o número do documento do cliente que solicita a consulta.
          required: true
          schema:
            type: string
        - name: authorization
          in: header 
          required: true
          schema:
            type : string
        - name: x-correlation-id
          in: header 
          description: Informe um GUID v4, gerado randomicamente. A cada requisição, deve-se gerar um novo GUID.
          required: true
          schema:
            type : string
      responses:
        '200':
          description: Consulta retornada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixTransferResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
      security:
        - Bearer: []
  
  /pix/qrcodes:
    post:
      tags:
        - QR Codes
      summary: Emissão de QR Codes estáticos
      description: |
        <div class="bkly-ref-description">
          <p>Para emitir um QR Code, é necessário possuir uma chave no DICT registrada previamente.</p>
          <p>Para informações mais detalhadas a respeito deste endpoint, confira a documentação <a href="https://docs.bankly.com.br/docs/pix-emissao-qrcode" target="_blank" rel="noopener noreferrer">Emissão de QR Code</a>.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.qrcode.create</span>
        </div>
      operationId: CreateStaticQRCodeAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: authorization
          in: header 
          required: true
          schema:
            type : string
        - name: x-correlation-id
          in: header 
          description: Informe um GUID v4, gerado randomicamente. A cada requisição, deve-se gerar um novo GUID.
          required: true
          schema:
            type : string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStaticQRCodeRequest'
      responses:
        '200':
          description: QR Code emitido com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  encodedValue:
                    description: QR Code codificado em base64.
                    type: string
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
      security:
        - Bearer: []      
  
  /pix/qrcodes/decode:
    post:
      tags:
        - QR Codes
      summary: Decodificação de QR Codes estáticos e dinâmicos 
      description: |
        <div class="bkly-ref-description">
          <p><b>Importante!</b> Para que a leitura possa ser realizada, é obrigatório que o conteúdo do QR Code esteja em base64.</p>
          <p>Para informações mais detalhadas a respeito deste endpoint, confira a documentação <a href="https://docs.bankly.com.br/docs/pix-decodificacao-qrcode" target="_blank" rel="noopener noreferrer">Decodificação de QR Code</a>.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: pix.qrcode.read</span>
        </div>
      operationId: DecodeQRCodeAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: x-bkly-pix-user-id
          in: header
          description: Informe o número do documento do cliente que solicita a leitura do QR Code.
          required: true
          schema:
            type: string  
        - name: authorization
          in: header 
          required: true
          schema:
            type : string  
        - name: x-correlation-id
          in: header
          description: Informe um GUID v4, gerado randomicamente. A cada requisição, deve-se gerar um novo GUID.
          required: true
          schema:
            type: string 
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodeQRCodeRequest'
      responses:
        '200':
          description: Decodificação de QR Code realizada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  endToEndId:
                    type: string
                    description: Identificador único gerado pelo Bacen que deverá ser informado ao realizar o pagamento do QR Code.
                  conciliationId:
                    type: string
                  addressingKey:
                    $ref: '#/components/schemas/AddressingKey'
                  qrCodeType:
                    description: Informa se o QR Code é estático ou dinâmico. 
                    type: string
                  holder:
                    $ref: '#/components/schemas/PersonalInformationHolder'  
                  bank:
                    $ref: '#/components/schemas/BankName'
                  payment:
                    $ref: '#/components/schemas/Payment'
                  location:
                    $ref: '#/components/schemas/LocationResponse'
                  withdrawalDetail:
                    $ref: '#/components/schemas/WithdrawalDetail'
                  changeAmountDetail:
                    $ref: '#/components/schemas/ChangeAmountDetail'
                  qrCodePurpose:
                    type: string
                    description: Razão da emissão do QR Code.
         
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
      security:
        - Bearer: []
components:
  schemas:
    AddressingKeyType:
      enum:
        - CPF
        - CNPJ
        - EMAIL
        - PHONE
        - EVP
      type: string
      description: Tipo de chave de endereçamento do DICT.

    AddressingKey:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AddressingKeyType'
        value:
          type: string
          nullable: true
      additionalProperties: false
    
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        extensions:
          type: object
          additionalProperties:
            type: object
            additionalProperties: false
          nullable: true
          readOnly: true
      additionalProperties: false
    
    AccountType:
      enum:
        - CHECKING
        - SALARY
        - SAVINGS
        - PAYMENT
      type: string
    
    Account:
      required:
        - branch
        - number
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
      additionalProperties: false

    CreateEntryRequest:
      required:
      - account
      - addressingKey
      type: object
      properties:
          $ref: '#/components/schemas/AddressingKey'
        addressingKey: 
        account: 
          $ref: '#/components/schemas/Account'
      additionalProperties: false

    CreateEntryResponse:
      type: object
      properties:
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        account:
          $ref: '#/components/schemas/PaymentAccount'
        status:
          $ref: '#/components/schemas/EntryStatus'
        createdAt:
          type: string
          format: date-time
        ownedAt:
          type: string
          format: date-time
      additionalProperties: false
      
    PaymentAccount:
      type: object
      properties:
        branch:
          type: string
          nullable: true
        compe:
        number:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/AccountType'
        holder:
          $ref: '#/components/schemas/Holder'
        bank:
          $ref: '#/components/schemas/Bank'
      additionalProperties: false

    EntryStatus:
      enum:
        - OWNED
        - EXCLUDED
        - LOCKED_BY_CLAIM
      type: string
   
    Holder:
      type: object
      properties:
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        account:
          $ref: '#/components/schemas/PaymentAccount'
        status:
          $ref: '#/components/schemas/EntryStatus'
        createdAt:
          type: string
          format: date-time
        ownedAt:
          type: string
          description: Nome comercial (nome fantasia) da empresa. Esse campo é retornado apenas quando o Person é Pessoa Jurídica
          nullable: true
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física trata-se do nome de registro e quando pessoa jurídica trata-se da Razão Social da empresa.
          nullable: true
      additionalProperties: false
    
    HolderType:
      enum:
        - CUSTOMER
        - BUSINESS
      type: string

    HolderGetEntryResponse:
      type: object
      properties:
        type:
         type: string
        name:
         type: string
        socialName: 
          type: string
        document:
         type: string
      additionalProperties: false
    Bank:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
      additionalProperties: false

    BankStatus:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
          description: <code>compe</code> do banco do sender não é retornado em caso de Pix externo.
        name:
          type: string
          nullable: true
          description: <code>name</code> do banco do sender não é retornado em caso de Pix externo.
      additionalProperties: false
    
    BankName:
      type: object
      properties:
        name:
          type: string
          description: Retorna apenas em caso de leitura de QR Code estático.
        ispb: 
          type: string
          description: Retorna apenas em caso de leitura de QR Code dinâmico.

      additionalProperties: false
    
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
      additionalProperties: false
    
    Error:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false

    GetEntryResponse:
      type: object
      properties:
        endToEndId:
          type: string
          nullable: true
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        holder:
          $ref: '#/components/schemas/HolderGetEntryResponse'
        status:
          $ref: '#/components/schemas/EntryStatus'
        createdAt:
          type: string
          format: date-time
        ownedAt:
          type: string
          format: date-time
      additionalProperties: false
    
    CreatePixCashOutTransactionRequest:
      type: object
      properties:
        correlationId:
          type: string
          nullable: true
          readOnly: true
        amount:
          type: number
          format: double
          description: Informe o valor a ser pago.<br /> Em caso de pagamento de QR Code para Pix Troco, informe o valor total a ser pago (valor da compra somado ao valor que se deseja obter em espécie). <br />Em caso de pagamento de QR Code para Pix Saque, <b>não</b> preencha este campo. O valor deverá ser enviado no campo <code>withdrawalAmount</code>.
        description:
          type: string
          nullable: true
        sender:
          $ref: '#/components/schemas/PersonRequestSender'
        recipient:
          $ref: '#/components/schemas/PersonRequestRecipient'
        initializationType:
          $ref: '#/components/schemas/PixInitializationType'
        endToEndId:
          type: string
          nullable: true
          description: Campo obrigatório para cash-out por <b>chave Pix</b> e <b>Pix QR Code</b>. Só deve ser preenchido nesses casos.
        withdrawalAmount:
          type: number
          format: double
          description: Informe o valor do saque. <br /> Preenchimento <b>exclusivo</b> e <b>obrigatório</b> em caso de pagamento de <b>QR Code para Pix Saque</b>.
        requestDatetime:
          type: string
          format: date-time
          readOnly: true
        receiverReconciliationId:
          type: string
          description: Deve ser preenchido com o valor do <code>conciliationId</code> quando esse campo retornar na leitura do QR Code.
        changeAmount:
          type: number
          format: double
          description: Informe o valor do troco. <br /> Preenchimento <b>exclusivo</b> e <b>obrigatório</b> em caso de pagamento de <b>QR Code para Pix Troco</b>.
      required: 
        - amount
        - description
        - sender
        - initializationType
      additionalProperties: false  
         
    CreatePixCashOutTransactionResponse:
      type: object
      properties:
        amount:
          type: number
          format: double
        withdrawalAmount:
          type: number
          format: double
          description: Valor do saque (retornado apenas em caso de pagamento de QR Code para Pix Saque).
        changeAmount:
          type: number
          format: double
          description: Valor do troco (retornado apenas em caso de pagamento de QR Code para Pix Troco).
        description:
          type: string
          nullable: true
        sender:
          $ref: '#/components/schemas/PixPersonSender'
        recipient:
          $ref: '#/components/schemas/PixPersonRecipient'
        authenticationCode:
          type: string
          description: Identificador retornado nas operações de cash-out. Seu valor é utilizado para verificar os status da transação no endpoint de consulta de status.
      additionalProperties: false
      
    PersonRequestSender:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountSender'
        bank:
          $ref: '#/components/schemas/BankRequestSender'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false
      required:
        - documentNumber
        - name
        - account

    PersonRequestRecipient:
      type: object
      description: Os dados do recebedor <b>não</b> devem ser enviados em caso de pagamento por chave Pix e QR Code. 
      properties:
        account:
          $ref: '#/components/schemas/AccountRecipient'
        bank:
          $ref: '#/components/schemas/BankRequestRecipient'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).<br /> Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta. Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa. <br /> Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
          nullable: true
      additionalProperties: false
  
    PixInitializationType:
      enum:
        - Manual
        - Key
        - StaticQrCode
        - DynamicQrCode
      type: string
      
    PixPersonSender:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountSenderResponse'
        bank:
          $ref: '#/components/schemas/BankSenderResponse'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false
    
    PixPerson:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountSenderResponse'
        bank:
          $ref: '#/components/schemas/BankStatus'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false
      
    PixPersonRecipient:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountRecipientResponse'
        bank:
          $ref: '#/components/schemas/BankRecipientResponse'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false
    
    AccountSender:
      required:
        - branch
        - number
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
      additionalProperties: false
      
    AccountSenderResponse:
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
      additionalProperties: false
      
    AccountRecipient:
      type: object
      properties:
        branch:
          minLength: 1
          type: string
          description: Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
        number:
          minLength: 1
          type: string
          description: Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
    
    AccountRecipientResponse:
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
          
    BankRequestSender:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
         
    BankRequestRecipient:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
          description: Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
    
    BankSenderResponse:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      additionalProperties: false
      
    BankRecipientResponse:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
          description: Campo não retornado em caso de pagamento de QR Code para Pix Troco.
        name:
          type: string
          nullable: true
          description: Campo não retornado em caso de pagamento de QR Code para Pix Troco.
      additionalProperties: false
    
    CreatePixRefundRequest:
      type: object
      required:
        - account
        - authenticationCode
        - amount
        - refundCode
      properties:
        correlationId:
          type: string
          nullable: true
          readOnly: true
        account:
          $ref: '#/components/schemas/AccountSenderResponse'
        authenticationCode:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        refundCode:
          $ref: '#/components/schemas/RefundCode'
        refundReason:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
      additionalProperties: false
    
    RefundCode:
      enum:
        - AM05
        - AM09
        - BE08
        - DS28
        - FOCR
        - FR01
        - MD06
        - RUTA
        - SL11
        - SL12
        - UPAY
        - NARR
        - SL02
      type: string
      
    PixTransferResponse:
      type: object
      properties:
        companyKey:
          type: string
        authenticationCode:
          type: string
          format: uuid
        endToEndId:
          type: string
          nullable: true
        initializationType:
          $ref: '#/components/schemas/PixInitializationType'
        receiverReconciliationId:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        description:
          type: string
          nullable: true
        correlationId:
          type: string
          nullable: true
        sender:
          $ref: '#/components/schemas/PixPerson'
        recipient:
          $ref: '#/components/schemas/PixPerson'
        channel:
          $ref: '#/components/schemas/ChannelResponse'
        status:
          $ref: '#/components/schemas/PixTransferStatusResponse'
        type:
          $ref: '#/components/schemas/PixTransferTypeResponse'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    
    ChannelResponse:
      enum:
        - INTERNAL
        - EXTERNAL
      type: string
    
    PixTransferStatusResponse:
      enum:
        - IN_PROCESS
        - DONE
        - UNDONE
        - CANCELED
      type: string
    
    PixTransferTypeResponse:
      enum:
        - CASH_OUT
        - REFUND
      type: string
      
    CreateStaticQRCodeRequest:
      required:
        - addressingKey
        - recipientName
      type: object
      properties:
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        amount:
          type: number
          format: double
          description: Preenchimento <b>obrigatório</b> em caso de emissão de <b>QR Code para Pix Saque</b>.
          nullable: true
        recipientName:
          minLength: 1
          type: string
        location:
          $ref: '#/components/schemas/Location'
        conciliationId:
          type: string
          nullable: true
          description: Informe um valor que auxilie o parceiro a identificar a qual QR Code um determinado pagamento pertence.<br /> Esse campo é limitado a 25 caracteres e não aceita nenhum caractere especial.
        categoryCode:
          type: string
          nullable: true
        additionalData:
          type: string
          nullable: true
        withdrawalProviderIspb:
          type: string
          description: Informe o ISPB do provedor do saque.<br /> Preenchimento <b>exclusivo</b> e <b>obrigatório</b> em caso de emissão de <b>QR Code para Pix Saque</b>.
      additionalProperties: false
      
    Location:
      type: object
      description: Preenchimento <b>obrigatório</b> em caso de emissão de <b>QR Code para Pix Saque</b>.
      properties:
        city:
          type: string
          nullable: true
        zipCode:
          type: string
          nullable: true
      additionalProperties: false
    
    DecodeQRCodeRequest:
      type: object
      required: 
      - encodedValue
      properties:
        encodedValue:
          type: string
      additionalProperties: false
    
    PersonalInformationHolder:
      type: object
      properties:
        type:
          type: string
        name:
          type: string
        document:
          type: string
    
    Payment:
      type: object
      properties:
        baseValue:
          type: number
          format: double
        interestValue:
          type: number
          format: double
        penaltyValue:
          type: number
          format: double
        discountValue:
          type: number
          format: double
        totalValue:
          type: number
          format: double
          description: Retornado em caso de <b>decodificação de QR Code para Pix Troco</b>.<br /> Indica o valor do total da compra ou transferência.
        dueDate:
          type: string
          format: date-time
        changeValue:
          type: number
          format: double
          description: Retornado em caso de <b>decodificação de QR Code para Pix Troco</b>.<br /> Indica o valor do troco em espécie.
        withdrawalValue:
          type: string
          format: double
          description: Retornado em caso de <b>decodificação de QR Code para Pix Saque</b>.<br /> Indica o valor do saque em espécie.
      additionalProperties: false

    WithdrawalDetail:
      type: object
      description: Informações retornadas em caso de decodificação de QR Code para Pix Saque.
      properties:
        changeAmountType:
          type: string
          description: Indica a possibilidade de alteração do valor do QR Code.
        agentType:
          type: string
          description: Especifica o tipo de estabelecimento comercial que está fornecendo o saque.
        providerIspb:
          type: string
          description: ISPB do provedor.
      additionalProperties: false
    
    ChangeAmountDetail:
        type: object
        description: Informações retornadas em caso de decodificação de QR Code para Pix Troco.
        properties:
          changeAmountType:
            type: string
            description: Indica a possibilidade de alteração do valor do QR Code.
          agentType:
            type: string
            description: Especifica o tipo de estabelecimento comercial que está fornecendo o troco.

    LocationResponse:
      type: object
      properties:
        city:
          type: string
          nullable: true
        zipCode:
          type: string
          description: Retorna apenas na leitura de QR Codes estáticos.
      additionalProperties: false

    
  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer.
      scheme: bearer
      bearerFormat: JWT

x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
