openapi: 3.0.1
info:
  title: PIX
  description: Gerencie vínculo entre chaves e contas de pagamento e realize pagamentos através do sistema PIX® à qualquer hora do dia ou da noite. Consulte também
    nossa [documentação](https://bankly.readme.io/v1.0/docs/) para mais detalhes
    sobre os fluxos de negócio.
  version: '1.0'
servers:
  - url: https://api.sandbox.bankly.com.br
paths:
  /accounts/{accountNumber}/addressing-keys:
    get:
      tags:
        - Gestão de Chaves
      summary: Consulte as chaves de endereçamento de uma conta.
      description: Obtém a lista de chaves de endereçamento vinculadas à uma conta.
      operationId: GetAccountEntriesAsync
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressingKey'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '503':
          description: O serviço está temporariamente indisponível.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
      security:
        - Bearer: []
  /pix/entries:
    post:
      tags:
        - Gestão de Chaves
      summary: Crie um novo vínculo de chave com conta.
      description: É possível vincular até 5 chaves para contas com titular pessoa física e 20 chaves com titular pessoa jurídica.
      operationId: CreateEntryAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntryRequest'
      responses:
        '201':
          description: Recurso criado com sucesso.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEntryResponse'
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '503':
          description: O serviço está temporariamente indisponível.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
      security:
        - Bearer: []
  /pix/entries/{addressingKeyValue}:
    delete:
      tags:
        - Gestão de Chaves
      summary: Exclua um vínculo de chave com conta.
      description: É necessário que a chave não esteja em um processo de reinvindicação. Caso esteja, é necessário aguardar o encerramento da disputa para realizar a exclusão.
      operationId: DeleteAsync
      parameters:
        - name: addressingKeyValue
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Recurso excluído com sucesso.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '503':
          description: O serviço está temporariamente indisponível.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
      security:
        - Bearer: []
    get:
      tags:
        - Gestão de Chaves
      summary: Consulte um vínculo de chave com conta.
      description: Obtém detalhes da conta vinculada à uma chave de endereçamento.
      operationId: GetAsync
      parameters:
        - name: addressingKeyValue
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: x-bkly-pix-user-id
          in: header
          description: Deve informar o número do documento do cliente que solicita a consulta da chave.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
            x-bkly-pix-endtoend-id:
              description: Identificador fim-a-fim do pagamento associado à essa requisição.Esse identificador deve ser fornecido como EndToEndId para confirmar o pagamento ao SPI.Também é utilizado para rate-limiting.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntryResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '503':
          description: O serviço está temporariamente indisponível.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
      security:
        - Bearer: []
  /pix/cash-in:
    post:
      tags:
        - Pagamentos Instantâneos
      summary: Efetivação de Depósito em conta
      description: IMPORTANTE! É necessário ter conta aberta e chave cadastrada corretamente
      operationId: DepositAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationAccountMakeTransferCashInRequest'
      responses:
        '202':
          description: Success
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MakePixCashInTransferResponse'
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAccountMakeTransferCashInResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAccountMakeTransferCashInResponse'
      security:
        - Bearer: []
  /pix/{endToEndId}/cash-in:refund:
    post:
      tags:
        - Pagamentos Instantâneos
      summary: Efetivação de Devolução de crédito em conta
      description: IMPORTANTE! É necessário ter conta aberta e chave cadastrada corretamente
      operationId: RefundAsync
      parameters:
        - name: endToEndId
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationAccountMakeTransferCashInRequest'
      responses:
        '202':
          description: Success
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MakePixCashInTransferResponse'
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAccountMakeTransferCashInResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAccountMakeTransferCashInResponse'
      security:
        - Bearer: []
  /pix/cash-out:
    post:
      tags:
        - Pagamentos Instantâneos
      summary: Transferência pix cashout
      description: IMPORTANTE! É necessário ter conta aberta.
      operationId: CreatePixCashOutTransactionAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePixCashOutTransactionRequest'
      responses:
        '202':
          description: Success
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePixCashOutTransactionResponse'
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
  /pix/cash-out:refund:
    post:
      tags:
        - Pagamentos Instantâneos
      summary: Devolução de pix cashout.
      description: IMPORTANTE! É necessário que a transação tenha acontecido dentro dos últimos 90 dias.
      operationId: CreateRefundAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePixRefundRequest'
      responses:
        '202':
          description: Success
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePixRefundRequest'
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
  /pix/cash-out/accounts/{accountNumber}/authenticationcode/{authenticationCode}:
    get:
      tags:
        - Pagamentos Instantâneos
      summary: Consulta de pix cashout
      description: É necessário ter um AuthenticationCode válido
      operationId: GetByAuthenticationCodeAsync
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: authenticationCode
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixTransferResponse'
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
  /pix/qrcodes:
    post:
      tags:
        - QRCodes
      summary: Crie QRCodes estáticos.
      description: É necessário ter uma chave no DICT registrada previamente.
      operationId: CreateStaticQRCodeAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStaticQRCodeRequest'
      responses:
        '200':
          description: Recurso criado com sucesso.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
  /pix/qrcodes/decode:
    post:
      tags:
        - QRCodes
      summary: Leitura de QRCodes estáticos e dinâmicos
      description: O conteúdo do QRCode deve estar obrigatoriamente em formato base64.
      operationId: DecodeQRCodeAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodeQRCodeRequest'
      responses:
        '200':
          description: Recurso criado com sucesso.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
components:
  schemas:
    AddressingKeyType:
      enum:
        - CPF
        - CNPJ
        - EMAIL
        - PHONE
        - EVP
      type: string
      description: Tipo de Chave de endereçamento do dict
    AddressingKey:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AddressingKeyType'
        value:
          type: string
          nullable: true
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        extensions:
          type: object
          additionalProperties:
            type: object
            additionalProperties: false
          nullable: true
          readOnly: true
      additionalProperties: false
    AccountType:
      enum:
        - CHECKING
        - SALARY
        - SAVINGS
        - PAYMENT
      type: string
    Account:
      required:
        - branch
        - number
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
      additionalProperties: false
    CreateEntryRequest:
      required:
        - account
        - addressingKey
      type: object
      properties:
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        account:
          $ref: '#/components/schemas/Account'
      additionalProperties: false
    HolderType:
      enum:
        - CUSTOMER
        - BUSINESS
      type: string
    Holder:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/HolderType'
        socialName:
          type: string
          description: "Nome pelo qual a pessoa deseja ser chamada. [Saiba mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)\r\nEsse campo é retornado se foi previamente informado no durante o onboard, quando titular da conta está associado a um parceiro Bankly."
          nullable: true
        tradingName:
          type: string
          description: Nome comercial (nome fantasia) da empresa. Esse campo é retornado apenas quando o Person é Pessoa Jurídica
          nullable: true
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: "Nome de registro conforme consta no cadastro da conta.\r\nQuando pessoa física trata-se do nome de registro e quando pessoa jurídica trata-se da Razão Social da empresa."
          nullable: true
      additionalProperties: false
    Bank:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      additionalProperties: false
    PaymentAccount:
      type: object
      properties:
        branch:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/AccountType'
        holder:
          $ref: '#/components/schemas/Holder'
        bank:
          $ref: '#/components/schemas/Bank'
      additionalProperties: false
    EntryStatus:
      enum:
        - OWNED
        - EXCLUDED
        - LOCKED_BY_CLAIM
      type: string
    CreateEntryResponse:
      type: object
      properties:
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        account:
          $ref: '#/components/schemas/PaymentAccount'
        status:
          $ref: '#/components/schemas/EntryStatus'
        createdAt:
          type: string
          format: date-time
        ownedAt:
          type: string
          format: date-time
      additionalProperties: false
    Error:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
      additionalProperties: false
    GetEntryResponse:
      type: object
      properties:
        endToEndId:
          type: string
          nullable: true
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        account:
          $ref: '#/components/schemas/PaymentAccount'
        status:
          $ref: '#/components/schemas/EntryStatus'
        createdAt:
          type: string
          format: date-time
        ownedAt:
          type: string
          format: date-time
      additionalProperties: false
    PersonMakeTransferCashIn:
      type: object
      properties:
        holderType:
          $ref: '#/components/schemas/HolderType'
        account:
          $ref: '#/components/schemas/Account'
        bank:
          $ref: '#/components/schemas/Bank'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: "Nome de registro conforme consta no cadastro da conta.\r\nQuando pessoa física trata-se do nome de registro e quando pessoa jurídica trata-se da Razão Social da empresa."
          nullable: true
      additionalProperties: false
    PaymentOrderCreditMakeTransferCashIn:
      type: object
      properties:
        endToEndId:
          type: string
          nullable: true
        conciliationId:
          type: string
          nullable: true
        key:
          type: string
          nullable: true
      additionalProperties: false
    DevolutionCreditMakeTransferCashIn:
      type: object
      properties:
        endToEndIdOriginal:
          type: string
          nullable: true
        endToEndIdDevolution:
          type: string
          nullable: true
        devolutionCode:
          type: string
          nullable: true
        devolutionReason:
          type: string
          nullable: true
      additionalProperties: false
    ValidationAccountMakeTransferCashInRequest:
      type: object
      properties:
        sender:
          $ref: '#/components/schemas/PersonMakeTransferCashIn'
        recipient:
          $ref: '#/components/schemas/PersonMakeTransferCashIn'
        amount:
          type: number
          format: double
        description:
          type: string
          nullable: true
        conciliationId:
          type: string
          nullable: true
      additionalProperties: false
    MakePixCashInTransferResponse:
      type: object
      properties:
        pixTransactionId:
          type: string
          format: uuid
        endToEndId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
      additionalProperties: false
    ValidationAccountMakeTransferCashInResponse:
      type: object
      properties:
        result:
          type: integer
          format: int32
        reason:
          type: string
          nullable: true
        complementReason:
          type: string
          nullable: true
        validationDate:
          type: string
          format: date-time
      additionalProperties: false
    BankRequest:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      additionalProperties: false
    Document:
      type: object
      properties:
        value:
          type: string
          nullable: true
      additionalProperties: false
    PersonRequest:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Account'
        bank:
          $ref: '#/components/schemas/BankRequest'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: "Nome de registro conforme consta no cadastro da conta.\r\nQuando pessoa física trata-se do nome de registro e quando pessoa jurídica trata-se da Razão Social da empresa."
          nullable: true
      additionalProperties: false
    PixInitializationType:
      enum:
        - Manual
        - Key
        - StaticQrCode
        - DynamicQrCode
      type: string
    CreatePixCashOutTransactionRequest:
      type: object
      properties:
        correlationId:
          type: string
          nullable: true
          readOnly: true
        amount:
          type: number
          format: double
        description:
          type: string
          nullable: true
        sender:
          $ref: '#/components/schemas/PersonRequest'
        recipient:
          $ref: '#/components/schemas/PersonRequest'
        initializationType:
          $ref: '#/components/schemas/PixInitializationType'
        addressKey:
          type: string
          nullable: true
        receiverReconciliationId:
          type: string
          nullable: true
        endToEndId:
          type: string
          nullable: true
        requestDatetime:
          type: string
          format: date-time
          readOnly: true
      additionalProperties: false
    DocumentType:
      enum:
        - UNDEFINED
        - CPF
        - CNPJ
      type: string
    PixPerson:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Account'
        bank:
          $ref: '#/components/schemas/Bank'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: "Nome de registro conforme consta no cadastro da conta.\r\nQuando pessoa física trata-se do nome de registro e quando pessoa jurídica trata-se da Razão Social da empresa."
          nullable: true
      additionalProperties: false
    CreatePixCashOutTransactionResponse:
      type: object
      properties:
        amount:
          type: number
          format: double
        description:
          type: string
          nullable: true
        sender:
          $ref: '#/components/schemas/PixPerson'
        recipient:
          $ref: '#/components/schemas/PixPerson'
        authenticationCode:
          type: string
          nullable: true
      additionalProperties: false
    RefundCode:
      enum:
        - AM05
        - AM09
        - BE08
        - DS28
        - FOCR
        - FR01
        - MD06
        - RUTA
        - SL11
        - SL12
        - UPAY
        - NARR
        - SL02
      type: string
    CreatePixRefundRequest:
      type: object
      properties:
        correlationId:
          type: string
          nullable: true
          readOnly: true
        account:
          $ref: '#/components/schemas/Account'
        authenticationCode:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        refundCode:
          $ref: '#/components/schemas/RefundCode'
        refundReason:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
      additionalProperties: false
    ChannelResponse:
      enum:
        - INTERNAL
        - EXTERNAL
      type: string
    PixTransferStatusResponse:
      enum:
        - IN_PROCESS
        - DONE
        - UNDONE
        - CANCELED
      type: string
    PixTransferTypeResponse:
      enum:
        - CASH_OUT
        - REFUND
      type: string
    PixTransferResponse:
      type: object
      properties:
        authenticationCode:
          type: string
          format: uuid
        endToEndId:
          type: string
          nullable: true
        initializationType:
          $ref: '#/components/schemas/PixInitializationType'
        addressingKey:
          type: string
          nullable: true
        receiverReconciliationId:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        description:
          type: string
          nullable: true
        correlationId:
          type: string
          nullable: true
        sender:
          $ref: '#/components/schemas/PixPerson'
        recipient:
          $ref: '#/components/schemas/PixPerson'
        channel:
          $ref: '#/components/schemas/ChannelResponse'
        status:
          $ref: '#/components/schemas/PixTransferStatusResponse'
        type:
          $ref: '#/components/schemas/PixTransferTypeResponse'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    Location:
      type: object
      properties:
        city:
          type: string
          nullable: true
        zipCode:
          type: string
          nullable: true
      additionalProperties: false
    CreateStaticQRCodeRequest:
      required:
        - addressingKey
        - recipientName
      type: object
      properties:
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        amount:
          type: number
          format: double
          nullable: true
        recipientName:
          minLength: 1
          type: string
        location:
          $ref: '#/components/schemas/Location'
        conciliationId:
          type: string
          nullable: true
        categoryCode:
          type: string
          nullable: true
        additionalData:
          type: string
          nullable: true
      additionalProperties: false
    DecodeQRCodeRequest:
      type: object
      properties:
        encodedValue:
          type: string
          nullable: true
      additionalProperties: false
  
  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer.
      scheme: bearer
      bearerFormat: JWT

x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
