openapi: 3.0.3
info:
  title: Registro do cliente
  description: |
    Registre, atualize, consulte o cadasto de clientes pessoa física ou
    jurídica. Um cliente com cadastro pode se tornar titular de contas de
    pagamento e cartões de crédito (pré-pago).
  version: "1.0"
servers:
  - url: "https://api-mtls.sandbox.bankly.com.br"

paths:
  /customers/{documentNumber}:
    put:
      tags:
        - Pessoa física
      summary: Registro de pessoa física
      description: |
        <div class="bkly-ref-description">
          <p>[Stable] Registre um cliente pessoa física. Se os dados informados já existirem, eles serão sobrepostos. <br/>Após o registro, as informações serão analisadas e você poderá obter o resultado dessa análise por meio do endpoint <a href="/reference/getcustomerregistration">Consulta do registro do cliente</a>.</p>
          <b>Scope: customer.write</b>
        </div>      
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Os possíveis status do cliente após essa análise são: PENDING_APPROVAL, APPROVED, REPROVED e BLOCKLISTED. Para mais informações, consulte a documentação [Onboarding de pessoa física](https://docs.bankly.com.br/docs/onboarding-completo)."
        }
        [/block]
      operationId: PutCustomerRegistration
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/CustomerDocument"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterCustomerRequest"
      responses:
        "202":
          $ref: "http://localhost:3320/commons/components#/components/responses/202"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "409":
          $ref: "http://localhost:3320/commons/components#/components/responses/409"
        "422":
          $ref: "http://localhost:3320/commons/components#/components/responses/422"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
    
    get:
      tags:
        - Pessoa física
      summary: |
        Consulta do registro do cliente
      description: |
        <div class="bkly-ref-description">
          <p>[Stable] Obtenha o resultado detalhado dos dados de registro de um cliente.</p>  
          <b>Scope: customer.read</b>
        </div>
      operationId: GetCustomerRegistration
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/CustomerDocument"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ResultLevel"
      responses:
        "200":
          description: Recurso encontrado.
          headers:
            x-bkly-correlation-id:
              $ref: "http://localhost:3320/commons/components#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerResponse"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "404":
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
    
    patch:
      tags:
        - Pessoa física
      summary: Atualização cadastral
      description: |
        <div class="bkly-ref-description">
            <p>[Stable] Realize a atualização de determinados dados cadastrais de clientes do tipo pessoa física.</p> 
            <b>Scope: customer.update</b>
          </div>   
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/CustomerDocument"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomerRequest"
      responses:
        "200":
          description: Cadastro atualizado com sucesso.
          headers:
            x-bkly-correlation-id:
              $ref: "http://localhost:3320/commons/components#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCustomerResponse"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "404":
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        "422":
          $ref: "http://localhost:3320/commons/components#/components/responses/422"
  
  /customers/{documentNumber}/cancel:
    patch:
      tags:
        - Pessoa física
      summary: |
        Offboarding de pessoa física
      description: |
        <div class="bkly-ref-description">
          <p>[Stable] Solicite o o cancelamento de relacionamento do cliente pessoa física.</p> 
          <b>Scope: customer.cancel</b>
        </div>
      operationId: CancelCustomerRegistration
      parameters:
        - $ref: http://localhost:3320/commons/components#/components/parameters/CustomerDocument
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelRequest"
      responses:
        "202":
          $ref: "http://localhost:3320/commons/components#/components/responses/202"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "409":
          $ref: "http://localhost:3320/commons/components#/components/responses/409"
        "422":
          $ref: "http://localhost:3320/commons/components#/components/responses/422"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"

  /business/{documentNumber}:
    put:
      tags:
        - Pessoa jurídica
      summary: Registro de pessoa jurídica (MEI, EI, EIRELI ou SLU)
      description: |
        <div class="bkly-ref-description">
          <p>[Stable] Registre um cliente pessoa jurídica. <br/>Após o registro, as informações serão analisadas e você poderá obter o resultado dessa análise por meio do endpoint <a href="/reference/getbusinessregistration">Consulta do registro da empresa</a>.</p>  
          <b>Scope: business.write</b>
        </div>        
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Os possíveis status da empresa após essa análise são: _APPROVED, REPROVED, REVOKED e BLOCKED_."
        }
        [/block]
      operationId: PutBusinessRegistration
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/BusinessDocument"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterBusinessRequest"
      responses:
        "202":
          $ref: "http://localhost:3320/commons/components#/components/responses/202"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "409":
          $ref: "http://localhost:3320/commons/components#/components/responses/409"
        "422":
          $ref: "http://localhost:3320/commons/components#/components/responses/422"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
    
    get:
      tags:
        - Pessoa jurídica
      summary: |
        Consulta do registro da empresa
      description: |
        <div class="bkly-ref-description">
          <p>[Stable] Obtenha um resultado resumido (BASIC) ou detalhado (DETAILED) dos dados de registro de uma empresa.</p>  
          <b>Scope: business.read</b>
        </div>
      operationId: GetBusinessRegistration
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/BusinessDocument"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ResultLevel"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        "200":
          description: Recurso encontrado.
          headers:
            x-bkly-correlation-id:
              $ref: "http://localhost:3320/commons/components#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessResponse"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "404":
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
 
  /corporation-business/{documentNumber}:
    put:
      tags:
        - Pessoa jurídica
      summary: Registro de pessoa jurídica (LTDA, S.A. ou TS)
      description: |
        <div class="bkly-ref-description">
          <p>[Stable] Registre (ou substitua) uma nova empresa (LTDA, S.A. ou TS). O pedido de registro será analisado e você poderá obter o resultado dessa análise por meio do endpoint <a href="/reference/getbusinessregistration">Consulta do registro da empresa</a>. Caso o cadastro não exista, ele será criado. Se já existir, os dados serão sobrepostos.</p> 
          <b>Scope: business.corporation.write</b>
        </div>
      operationId: RegisterCorporationBusinessAsync
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/BusinessDocument"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterCorporationBusinessRequest"
      responses:
        "202":
          description: Requisição foi aceita e está sendo processada.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
            Location:
              description: Localização do recurso recém-criado ou em análise.
              schema:
                type: string
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "409":
          $ref: "http://localhost:3320/commons/components#/components/responses/409"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
      security:
        - Bearer: []

  /business/{documentNumber}/cancel:
    patch:
      tags:
        - Pessoa jurídica
      summary: |
        Offboarding de pessoa jurídica
      description: |
        <div class="bkly-ref-description">
          <p>[Stable] Solicite o o cancelamento de relacionamento do cliente pessoa jurídica.</p> 
          <b>Scope: business.cancel</b>
        </div>
      operationId: CancelBusinessRegistration
      parameters:
        - $ref: http://localhost:3320/commons/components#/components/parameters/BusinessDocument
        - $ref: http://localhost:3320/commons/components#/components/parameters/ApiVersion
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelRequest"
      responses:
        "202":
          $ref: "http://localhost:3320/commons/components#/components/responses/202"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "409":
          $ref: "http://localhost:3320/commons/components#/components/responses/409"
        "422":
          $ref: "http://localhost:3320/commons/components#/components/responses/422"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"

security:
  - Bearer: []

components:
  schemas:
    Address:
      required:
        - addressLine
        - buildingNumber
        - city
        - country
        - neighborhood
        - state
        - zipCode
      type: object
      properties:
        zipCode:
          minLength: 1
          type: string
          description: O CEP correspondente ao endereço.
        addressLine:
          maxLength: 256
          minLength: 1
          type: string
          description: Logradouro (Nome da rua, avenida etc.).
        buildingNumber:
          maxLength: 10
          minLength: 1
          type: string
          description: Número da residência.
        complement:
          maxLength: 256
          type: string
          description: "Complemento do endereço. Exemplo: Apto 123, Casa B etc."
          nullable: true
        neighborhood:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome do bairro ou distrito.
        city:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome da cidade.
        state:
          minLength: 1
          type: string
          description: Sigla do estado brasileiro conforme a ISO 3166-2:BR.
        country:
          minLength: 1
          type: string
          description: "Sigla do país (Brasil) conforme a ISO 3166-2. Exemplo: BR."
      additionalProperties: false

    AddressResponse:
      type: object
      properties:
        zipCode:
          minLength: 1
          type: string
          description: O CEP correspondente ao endereço.
        addressLine:
          maxLength: 256
          minLength: 1
          type: string
          description: Logradouro (Nome da rua, avenida etc.).
        buildingNumber:
          maxLength: 10
          minLength: 1
          type: string
          description: Número da residência.
        complement:
          maxLength: 256
          type: string
          description: "Complemento do endereço. Exemplo: Apto 123, Casa B etc."
          nullable: true
        neighborhood:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome do bairro ou distrito.
        city:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome da cidade.
        state:
          minLength: 1
          type: string
          description: Sigla do estado brasileiro conforme a ISO 3166-2:BR.
        country:
          minLength: 1
          type: string
          description: "Sigla do país (Brasil) conforme a ISO 3166-2. Exemplo: BR."
      additionalProperties: false
    
    BusinessResponse:
      type: object
      properties:
        documentNumber:
          description: Número do documento CNPJ da empresa. (Obsoleto. Considere o campo <code>document.value</code>).
          type: string
        document:
          type: object
          description: Objeto que contém informações sobre o documento da pessoa jurídica.
          properties:
            value:
              type: string
              description: Número do documento.
            type:
              type: string
              description: Tipo do documento (nesse caso, "CNPJ").
        businessName:
          description: Razão social da empresa.
          type: string
        tradingName:
          description: Nome fantasia da empresa.
          type: string
        businessEmail:
          type: string
          description: E-mail comercial da empresa.
          format: email
          nullable: false
        businessType:
          description: Tipo da empresa (MEI, EI, SLU, LTDA, S.A.).
          $ref: "#/components/schemas/BusinessType"
        businessSize:
          description: |
            Porte da empresa (MEI, ME, EPP, SMALL, MEDIUM, LARGE).
          $ref: "#/components/schemas/BusinessSize"
        businessAddress:
          description: Endereço da empresa informado no registro.
          $ref: "#/components/schemas/AddressResponse"
        status:
          $ref: "#/components/schemas/Status"
        declaredAnnualBilling:
          $ref: "#/components/schemas/DeclaredAnnualBilling"
        confirmedAnnualBilling:
          type: string
          description: Indica se o valor de faturamento informado foi confirmado no Bureau de informação. 
        owners:
          description: Lista de sócios da empresa como consta no Quadro dos Sócios e Administradores (QSA). Somente retornado para clientes do tipo LTDA / S.A. / TS.
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentativeBusinessResponse"
        legalRepresentatives:
          description: Lista de representantes legais da empresa.
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentativeBusinessResponse"
        createdAt:
          description: Data do primeiro registro da empresa.
          type: string
          format: date-time
        updatedAt:
          description: Data da atualização do registro da empresa.
          type: string
          format: date-time
          nullable: true
        cnaeCode:
          type: string
          nullable: true
          description: Código CNAE (Classificação Nacional de Atividades Econômicas) da empresa. Somente retornado para clientes do tipo LTDA / S.A. / TS.
        legalNature:
          type: string
          nullable: true
          description: Natureza jurídica da empresa. Somente retornado para clientes do tipo LTDA / S.A. / TS.
        openingDate:
          type: string
          format: date-time
          description: Data de abertura da empresa. Somente retornado para clientes do tipo LTDA / S.A. / TS.
        phone:
          $ref: "#/components/schemas/PhoneResponse"
          description: Somente retornado para clientes do tipo LTDA / S.A. / TS.
        reasons:
          description: Motivos de reprovação do registro da empresa (quando é o caso).
          type: array
          nullable: true
          items:
            type: string
      additionalProperties: false

    BusinessSize:
      description: Porte da empresa (MEI, ME e EPP).
      type: string
      enum:
        - MEI
        - ME
        - EPP

    BusinessType:
      description: Tipo da empresa (MEI, EI, SLU, LTDA, S.A. ou TS).
      type: string
      enum:
        - MEI
        - EI
        - EIRELI
        - SLU
        - LTDA
        - SA
        - TS
    
    BusinessTypeMEIEISLURequest:
      description: Tipo da empresa (MEI, EI, EIRELI e SLU).
      type: string
      enum:
        - MEI
        - EI
        - EIRELI
        - SLU

    CancelRequest:
      type: object
      properties:
        reason:
          $ref: "#/components/schemas/ReasonType"
      additionalProperties: false

    CorporationBusinessSize:
      enum:
        - SMALL
        - MEDIUM
        - LARGE
      type: string
    
    CorporationBusinessType:
      enum:
        - LTDA
        - SA
        - TS
      type: string
   
    CustomerResponse:
      type: object
      properties:
        profile:
          type: string
          enum:
          - SIMPLE
          - COMPLETE
          description: Perfil do cliente, baseado em seu registro.
        status:
          type: string
          enum:
          - PENDING_APPROVAL
          - APPROVED
          - IN_ANALYSIS
          - REPROVED
          - BLOCKLISTED
          description: Situação da análise KYC realizada no registro do cliente.
        registerName:
          type: string
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do cliente.
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. Saiba mais na documentação <a href="https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf">Cartilha do nome social</a>.
        phone:
          description: Objeto que contém informações sobre o telefone do cliente.
          $ref: "#/components/schemas/PhoneResponse"
        address:
          description: Objeto que contém informações sobre o endereço informado no registro do cliente.
          $ref: "#/components/schemas/AddressResponse"
        motherName:
          description: Nome da mãe informado no registro do cliente.
          type: string
          nullable: true
        assertedIncome:
          type: object
          properties:
            value:
              type: number
              description: Valor da renda declarada.
            currency:
              type: string
              description: Código da moeda com base na ISO 4217.
          description: Objeto que contém informações sobre a renda declarada do cliente.
        occupation:
          $ref: "#/components/schemas/OccupationResponse"
        pep:
          type: object
          description: Objeto onde deve ser informado o nível de exposição política do cliente, atendendo à Circular nº 3.978.
          properties:
            level:
              type: string
              enum:
              - NONE
              - SELF
              - RELATED
              description: Nível de exposição política do cliente.
        documentation:
          $ref: "#/components/schemas/SendedDocumentationResponse"
        birthDate:
          description: Data de nascimento do cliente.
          type: string
          format: date-time
        createdAt:
          description: Data do primeiro registro do cliente.
          type: string
          format: date-time
        updatedAt:
          description: Data da atualização do registro do cliente.
          type: string
          format: date-time
          nullable: true
        reasons:
          type: array
          items:
            type: string
          description: Lista contendo os motivos de reprovação do registro.
        document:
          type: object
          description: Objeto que contém informações sobre o documento do cliente.
          properties:
            value:
              type: string
              description: Número do documento.
            type:
              type: string
              description: Tipo do documento, o qual pode ser "CPF" ou "CNPJ".
        email:
          description: E-mail de contato do cliente.
          type: string
          nullable: true
      additionalProperties: false

    CustomerResponseDeprecated:
      type: object
      properties:
        documentNumber:
          description: Número do documento CPF do cliente. (Obsoleto. Considere o campo <code>document.value</code>).
          type: string
        document:
          type: object
          description: Objeto que contém informações sobre o documento do cliente.
          properties:
            value:
              type: string
              description: Número do documento.
            type:
              type: string
              description: Tipo do documento, o qual pode ser "CPF" ou "CNPJ".
        phone:
          description: Objeto que contém informações sobre o telefone do cliente.
          $ref: "#/components/schemas/PhoneResponse"
        address:
          description: Objeto que contém informações sobre o endereço informado no registro do cliente.
          $ref: "#/components/schemas/AddressResponse"
        email:
          description: E-mail de contato do cliente.
          type: string
          nullable: true
        motherName:
          description: Nome da mãe informado no registro do cliente.
          type: string
          nullable: true
        birthDate:
          description: Data de nascimento do cliente.
          type: string
          format: date-time
        registerName:
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do cliente.
          type: string
        socialName:
          description: Nome pelo qual a pessoa gostaria de ser chamada. Saiba mais na documentação [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf).
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/Status"
        profile:
          description: Perfil do cliente, baseado em seu registro.
          $ref: "#/components/schemas/Profile"
        createdAt:
          description: Data do primeiro registro do cliente.
          type: string
          format: date-time
        updatedAt:
          description: Data da atualização do registro do cliente.
          type: string
          format: date-time
          nullable: true
        declaredIncome:
          $ref: "#/components/schemas/DeclaredIncome"
        confirmedIncome:
          type: string
          description: Indica se o valor informado da renda foi confirmado no Bureau de informação. O valor padrão desse campo é null.
        occupation:
          $ref: "#/components/schemas/OccupationResponse"
        pep:
          description: Objeto que contém o nível de exposição política do cliente.
          $ref: "#/components/schemas/PepResponse"
        documentation:
          $ref: "#/components/schemas/SendedDocumentationResponse"
      additionalProperties: false
    

    DataUpdateCustomerRequest:
      type: object
      properties:
        email:
          type: string
          description: Novo endereço de e-mail. Recordamos que um mesmo e-mail não poderá ser usado por dois clientes.
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. Para saber mais, consulte a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf).
          nullable: true
        phone:
          description: Objeto onde devem ser informados os novos dados de telefone do cliente. Recordamos que um mesmo número de telefone não poderá ser usado por dois clientes. As propriedades desse objeto somente são obrigatórias em caso de alteração de telefone.
          $ref: "#/components/schemas/PhonePf"
        address:
          description: Objeto onde devem ser informados novos os dados de endereço do cliente. As propriedades desse objeto somente são obrigatórias em caso de alteração de endereço.
          $ref: "#/components/schemas/Address"
        declaredIncome:
          $ref: "#/components/schemas/DeclaredIncome"
        pep:
          description: Objeto onde deve ser informado o nível de exposição política do cliente. A propriedade desse objeto é obrigatória em caso de alteração de nível de exposição política.
          $ref: "#/components/schemas/Pep"
        occupation:
          $ref: "#/components/schemas/Occupation"
      additionalProperties: false

    DataUpdateCustomerResponse:
      type: object
      properties:
        documentNumber:
          description: Número de documento de CPF. (<b>Obsoleto</b>. Considere o campo <code>document.value</code>).
          type: string
        document:
          type: object
          description: Objeto que contém informações sobre o documento do cliente.
          properties:
            value:
              type: string
              description: Número do documento.
            type:
              type: string
              description: Tipo do documento (nesse caso, "CPF").
        profile: 
          description: Perfil do cliente, baseado em seu registro.
          $ref: "#/components/schemas/Profile"
        status:
          $ref: "#/components/schemas/Status"
        registerName:
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do cliente.
          type: string
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada, informado no registro do cliente ou atualizado. Para saber mais, consulte a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf).
          nullable: true
        phone:
          description: Objeto que contém informações sobre o telefone do cliente, informado em seu registro ou atualizado.
          $ref: "#/components/schemas/PhoneResponse"
        address:
          description: Objeto que contém informações sobre o endereço do cliente, informado em seu registro ou atualizado.
          $ref: "#/components/schemas/AddressResponse"
        email: 
          description: E-mail de contato do cliente, informado em seu registro ou atualizado.
          type: string
        motherName:
          type: string
          description: Nome completo da mãe do cliente conforme consta no documento de identificação. <b>Sem abreviações</b>.
        declaredIncome:
          type: string
          description: Faixa de renda declarada pelo cliente, informada em seu registro ou atualizada.
          $ref: "#/components/schemas/DeclaredIncome"
        confirmedIncome:
          type: string
          description: Indica se o valor informado da renda foi confirmado no Bureau de informação. O valor padrão desse campo é null.
        occupation:
          description: Código de ocupação do cliente, informado em seu registro ou atualizado.
          $ref: "#/components/schemas/Occupation"
        pep:
          description: Objeto que contém o nível de exposição política do cliente, informado em seu registro ou atualizado.
          $ref: "#/components/schemas/PepResponse"
        documentation:
          $ref: "#/components/schemas/SendedDocumentationResponse"
        birthDate:
          type: string
          description: Data de nascimento do cliente. 
          format: date-time
        createdAt:
          description: Data do primeiro registro do cliente.
          type: string
          format: date-time
        updatedAt:
          description: Data da atualização do registro do cliente.
          type: string
          format: date-time
      additionalProperties: false
    
    DeclaredAnnualBillingRequest:
      type: string
      description: Faixa de faturamento anual da empresa.
      enum:
        - UP_TO_FIFTY_THOUSAND
        - MORE_THAN_FIFTY_THOUSAND_UP_TO_ONE_HUNDRED_THOUSAND
        - MORE_THAN_ONE_HUNDRED_THOUSAND_UP_TO_TWO_HUNDRED_AND_FIFTY_THOUSAND
        - MORE_THAN_TWO_HUNDRED_AND_FIFTY_THOUSAND_UP_TO_FIVE_HUNDRED_THOUSAND
        - MORE_THAN_FIVE_HUNDRED_THOUSAND_UP_TO_ONE_MILLION
        - MORE_THAN_ONE_MILLION_UP_TO_TWO_MILLION_AND_FIVE_HUNDRED_THOUSAND
        - MORE_THAN_TWO_MILLION_AND_FIVE_HUNDRED_THOUSAND_UP_TO_FIVE_MILLION
        - MORE_THAN_FIVE_MILLION_UP_TO_TEN_MILLION
        - MORE_THAN_TEN_MILLION_UP_TO_TWENTY_FIVE_MILLION
        - MORE_THAN_TWENTY_FIVE_MILLION_UP_TO_FIFTY_MILLION
        - MORE_THAN_FIFTY_MILLION_UP_TO_ONE_HUNDRED_MILLION
        - MORE_THAN_ONE_HUNDRED_MILLION_UP_TO_TWO_HUNDRED_AND_FIFTY_MILLION
        - MORE_THAN_TWO_HUNDRED_AND_FIFTY_MILLION_UP_TO_FIVE_HUNDRED_MILLION
        - MORE_THAN_FIVE_HUNDRED_MILLION
        - EXEMPT_COMPANY
        - INACTIVE_COMPANY

    DeclaredAnnualBilling:
      type: string
      description: Faixa de faturamento anual da empresa.
      enum:
        - UP_TO_FIFTY_THOUSAND
        - MORE_THAN_FIFTY_THOUSAND_UP_TO_ONE_HUNDRED_THOUSAND
        - MORE_THAN_ONE_HUNDRED_THOUSAND_UP_TO_TWO_HUNDRED_AND_FIFTY_THOUSAND
        - MORE_THAN_TWO_HUNDRED_AND_FIFTY_THOUSAND_UP_TO_FIVE_HUNDRED_THOUSAND
        - MORE_THAN_FIVE_HUNDRED_THOUSAND_UP_TO_ONE_MILLION
        - MORE_THAN_ONE_MILLION_UP_TO_TWO_MILLION_AND_FIVE_HUNDRED_THOUSAND
        - MORE_THAN_TWO_MILLION_AND_FIVE_HUNDRED_THOUSAND_UP_TO_FIVE_MILLION
        - MORE_THAN_FIVE_MILLION_UP_TO_TEN_MILLION
        - MORE_THAN_TEN_MILLION_UP_TO_TWENTY_FIVE_MILLION
        - MORE_THAN_TWENTY_FIVE_MILLION_UP_TO_FIFTY_MILLION
        - MORE_THAN_FIFTY_MILLION_UP_TO_ONE_HUNDRED_MILLION
        - MORE_THAN_ONE_HUNDRED_MILLION_UP_TO_TWO_HUNDRED_AND_FIFTY_MILLION
        - MORE_THAN_TWO_HUNDRED_AND_FIFTY_MILLION_UP_TO_FIVE_HUNDRED_MILLION
        - MORE_THAN_FIVE_HUNDRED_MILLION
        - EXEMPT_COMPANY
        - NOT_DECLARED
        - INACTIVE_COMPANY

    DeclaredIncome:
      type: string
      description: Faixa de renda declarada pelo cliente.
      enum:
        - LESS_THAN_ONE_THOUSAND
        - FROM_ONE_THOUSAND_TO_TWO_THOUSAND
        - FROM_TWO_THOUSAND_TO_THREE_THOUSAND
        - FROM_THREE_THOUSAND_TO_FIVE_THOUSAND
        - FROM_FIVE_THOUSAND_TO_TEN_THOUSAND
        - FROM_TEN_THOUSAND_TO_TWENTY_THOUSAND
        - OVER_TWENTY_THOUSAND
    
    Documentation:
      type: object
      description: Objeto que contém informações dos documentos enviados por meio do endpoint de [Envio de documentos de pessoa jurídica (LTDA, S.A. e TS)](https://docs.bankly.com.br/docs/envio-documentos-corporativos).
      required:
        - articlesOfIncorporation
        - lastContractChange
        - balanceSheet
        - legalRepresentative
      properties:
        articlesOfIncorporation:
          description: Token correspondente ao documento do contrato social ou estatuto social da empresa.
          type: string
          nullable: true
        lastContractChange:
          description: Token correspondente ao documento da última alteração contratual ou última ata de eleição.
          type: string
          nullable: true
        balanceSheet:
          description: Token correspondente ao documento de declaração de faturamento dos últimos 12 meses ou balanço social.
          type: string
          nullable: true
        legalRepresentative:
          $ref: "#/components/schemas/Image"
        powerOfAttorney:
          description: Token correspondente ao documento de procuração pública legal.
          type: string
          nullable: true

    DocumentToken:
      type: string
      description: Token retornado no endpoint de Envio e análise de documentos pessoais.

    Image:
      type: object
      description: Documentos de ao menos um dos representantes legais. É possível usar o RG, CNH, RNE, DNI e CRNM.
      required:
        - documentNumber
        - selfie
        - idCardFront
        - idCardBack
      properties:
        documentNumber:
          description: Número do documento.
          type: string
          nullable: true
        selfie:
          description: Foto do representante legal.
          type: string
          nullable: true
        idCardFront:
          description: Imagem da frente do documento.
          type: string
          nullable: true
        idCardBack:
          description: Imagem do verso do documento.
          type: string
          nullable: true
      additionalProperties: false

    LegalRepresentative:
      required:
        - documentNumber
        - registerName
        - birthDate
        - phone
        - address
        - email
        - motherName
        - pep
        - occupation
      type: object
      properties:
        documentNumber:
          description: Número do documento CPF do cliente.
          type: string
        registerName:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do representante legal.
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. Para saber mais, consulte a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        tradingName:
          type: string
          description: Nome fantasia da empresa. Apenas para sócio pessoa jurídica do tipo LTDA / S.A. / TS.
          nullable: true
        motherName:
          type: string
          description: Nome da mãe do representante legal conforme consta no documento de identificação.
          nullable: true
        email:
          maxLength: 256
          minLength: 1
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá ser usado por dois clientes.
          format: email
        businessName:
          type: string
          description: Razão social da empresa. Apenas para sócio pessoa jurídica do tipo LTDA / S.A. / TS.
          nullable: true
        businessType:
          $ref: "#/components/schemas/BusinessType"
          description: Somente para clientes do tipo LTDA / S.A. / TS.
        birthDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Data de nascimento do cliente. O representante legal deve possuir no mínimo **16 anos**.
          format: date-time
        phone:
          description: Telefone de contato do representante legal da empresa.
          $ref: "#/components/schemas/Phone"
        address:
          description: Endereço do representante legal da empresa.
          $ref: "#/components/schemas/Address"
        occupation:
          description: <b>Obrigatório</b> apenas para sócio <b>pessoa física</b>.
          $ref: "#/components/schemas/Occupation"
        isPoliticallyExposedPerson:
          type: boolean
          description: Pessoa exposta politicamente. <b>Obsoleto</b>. Considere o campo <code>pep</code>.
        pep:
          description: <b>Obrigatório</b> apenas para sócio <b>pessoa física</b>.
          $ref: "#/components/schemas/Pep"
        legalRepresentatives:
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentative"
          description: Representantes legais da empresa (apenas para sócio <b>pessoa jurídica</b>). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        owners:
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentative"
          description: Sócios da empresa. Apenas para sócio pessoa jurídica do tipo LTDA / S.A. / TS.
          nullable: true
      additionalProperties: false
    
    LegalRepresentativeBusinessResponse:
      type: object
      properties:
        documentNumber:
          description: Número do documento CPF do cliente. (Obsoleto. Considere o campo <code>document.value</code>).
          type: string
        document:
          type: object
          description: Objeto que contém informações sobre o documento do cliente.
          properties:
            value:
              type: string
              description: Número do documento.
            type:
              type: string
              description: Tipo do documento (CPF).
        registerName:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do representante legal.
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. Para saber mais, consulte a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        phone:
          $ref: "#/components/schemas/PhoneResponse"
        address:
          $ref: "#/components/schemas/AddressResponse"
        birthDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Data de nascimento do cliente. O representante legal deve possuir no mínimo **16 anos**.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do proprietário ou representante legal conforme consta no documento de identificação.
          nullable: true
        email:
          maxLength: 256
          minLength: 1
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá ser usado por dois clientes.
          format: email
        participationPercentage:
          type: string
          description: Percentual de participação (0 a 100). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        tradingName:
          type: string
          description: Nome fantasia da empresa (apenas para sócio pessoa jurídica). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        businessName:
          type: string
          description: Razão social da empresa (apenas para sócio pessoa jurídica). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        businessType:
          $ref: "#/components/schemas/BusinessType"
          description: Somente retornado para clientes do tipo LTDA / S.A. / TS.
        declaredIncome:
          $ref: "#/components/schemas/DeclaredIncome"
        confirmedIncome:
          type: string
          description: Indica se o valor informado da renda foi confirmado no Bureau de informação. O valor padrão desse campo é null.
        occupation:
          $ref: "#/components/schemas/OccupationResponse"
        pep:
          description: Objeto que contém o nível de exposição política do cliente.
          $ref: "#/components/schemas/PepResponse"
        documentation:
          $ref: "#/components/schemas/SendedDocumentationResponse"
        legalRepresentatives:
          type: array
          items: 
            type: object
          description: Representantes legais da empresa (apenas para sócio pessoa jurídica). Esse campo traz uma lista de itens com as mesmas propriedades do objeto pai <code>legalRepresentative</code> e retorna somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        owners:
          type: array
          items: 
            type: object
          description: Sócios da empresa (apenas para sócio pessoa jurídica). Esse campo traz uma lista de itens com as mesmas propriedades do objeto pai <code>legalRepresentative</code> e retorna somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
      additionalProperties: false
    
    LegalRepresentativePerson:
      type: object
      required:
        - documentNumber
        - registerName
        - birthDate
        - motherName
        - email
        - declaredIncome
        - occupation
        - pep
        - phone
        - address
        - memberQualification
      properties:
        documentNumber:
          type: string
          description: Número do documento CPF. Informe somente os números.
        registerName:
          type: string
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do representante legal.
          nullable: true
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. Saiba mais consultando a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf).
          nullable: true
        birthDate:
          type: string
          description: Data de nascimento do representante legal. O cliente deve possuir no mínimo 16 anos.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do representante legal conforme consta no documento de identificação.
          nullable: true
        email:
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá ser usado por dois representantes legais.
          nullable: true
        declaredIncome:
          $ref: "#/components/schemas/DeclaredIncome"
        occupation:
          $ref: "#/components/schemas/Occupation"
        isPoliticallyExposedPerson:
          type: boolean
          description: Pessoa exposta politicamente. <b>Obsoleto</b>. Utilize o campo <code>pep</code>.
        pep:
          $ref: "#/components/schemas/Pep"
        phone:
          $ref: "#/components/schemas/Phone"
        address:
          $ref: "#/components/schemas/Address"
        memberQualification:
          type: string
          description: Indique a qualificação da pessoa física, de acordo com a natureza jurídica, conforme a tabela do [Anexo 5 da Instrução Normativa RFB nº 1863/2018](https://www.gov.br/receitafederal/pt-br/assuntos/orientacao-tributaria/cadastros/cnpj/tabelas-utilizadas-pelo-programa-cnpj/Anexo_V3.pdf).
          nullable: true
        powerOfAttorney:
          $ref: "#/components/schemas/PowerOfAttorney"
      additionalProperties: false

    LegalRepresentativeRequest:
      required:
        - document
        - registerName
        - phone
        - address
        - birthDate
        - motherName
        - email
        - declaredIncome
        - occupation
        - pep
        - documentation
      type: object
      properties:
        documentNumber:
          maxLength: 11
          minLength: 11
          type: string
          description: |
            Número do documento CPF. Informe somente números. (Obsoleto. Utilize o campo <code>document.value</code>).
        document:
          type: object
          description: Objeto que contém informações sobre o documento do cliente.
          required:
          - value
          - type
          properties:
            value:
              type: string
              description: Número do documento.
            type:
              type: string
              description: Tipo do documento (CPF).
        registerName:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do representante legal.
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. Para saber mais, consulte a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf).
          nullable: true
        phone:
          description: Telefone de contato do representante legal da empresa.
          $ref: "#/components/schemas/Phone"
        address:
          description: Endereço do representante legal da empresa.
          $ref: "#/components/schemas/Address"
        birthDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Data de nascimento do cliente. O representante legal deve possuir no mínimo **16 anos**.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do representante legal conforme consta no documento de identificação.
          nullable: true
        email:
          maxLength: 256
          minLength: 1
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá ser usado por dois clientes.
          format: email
        declaredIncome:
          $ref: "#/components/schemas/DeclaredIncome"
        occupation:
          $ref: "#/components/schemas/Occupation"
        pep:
          description: Objeto onde deve ser informado o nível de exposição política do cliente.
          $ref: "#/components/schemas/Pep"
        documentation:
          $ref: "#/components/schemas/SendedDocumentationRequest"

    Occupation:
      type: string
      description: Código de ocupação do cliente. Para conhecer a descrição dos códigos das ocupações, consulte a documentação [Código de ocupação do cliente](https://docs.bankly.com.br/docs/codigo-de-ocupacao-cliente). <br/><b>Importante:</b> deve-se enviar somente o código. Caso o cliente possua mais de uma ocupação, esse campo deve ser preenchido com a sua principal fonte de renda.
      enum:
        - OCP0001 
        - OCP0002	
        - OCP0003	
        - OCP0004	
        - OCP0005	
        - OCP0006	
        - OCP0007	
        - OCP0008	
        - OCP0009	
        - OCP0010	
        - OCP0011	
        - OCP0012	
        - OCP0013	
        - OCP0014	
        - OCP0015	
        - OCP0016	
        - OCP0017	
        - OCP0018	
        - OCP0019 
        - OCP0020	
        - OCP0021	
        - OCP0022	
        - OCP0023	
        - OCP0024	
        - OCP0025	
        - OCP0026	
        - OCP0027	
        - OCP0028	
        - OCP0029	
        - OCP0030	
        - OCP0031	
        - OCP0032	
        - OCP0033	
        - OCP0034	
        - OCP0035	
        - OCP0036	
        - OCP0037	
        - OCP0038	
        - OCP0039	
        - OCP0040	
        - OCP0041	
        - OCP0042	
        - OCP0043	
        - OCP0044	
        - OCP0045	
        - OCP0046	
        - OCP0047	
        - OCP0048	
        - OCP0049	
        - OCP0050	
        - OCP0051	
        - OCP0052	
        - OCP0053	
        - OCP0054	
        - OCP0055	
        - OCP0056	
        - OCP0057	
        - OCP0058	
        - OCP0059	
        - OCP0060	
        - OCP0061	
        - OCP0062	
        - OCP0063	
        - OCP0064	
        - OCP0065	
        - OCP0066	
        - OCP0067	
        - OCP0068	
        - OCP0069	
        - OCP0070	
        - OCP0071 
        - OCP0072	
        - OCP0073	
        - OCP0074	
        - OCP0075	
        - OCP0076	
        - OCP0077	
        - OCP0078	
        - OCP0079	
        - OCP0080	
        - OCP0081	
        - OCP0082	
        - OCP0083	
        - OCP0084	
        - OCP0085	
        - OCP0086	
        - OCP0087	
        - OCP0088	
        - OCP0089	
        - OCP0090	
        - OCP0091	
        - OCP0092	
        - OCP0093	
        - OCP0094	
        - OCP0095	
        - OCP0096	
        - OCP0097	
        - OCP0098	
        - OCP0099	
        - OCP0100
        - OCP0101 
        - OCP0102 
        - OCP0103 
        - OCP0104 
        - OCP0105 

    OccupationResponse:
      type: string
      description: Código de ocupação do cliente. Para conhecer a descrição dos códigos das ocupações, consulte a documentação [Código de ocupação do cliente](https://docs.bankly.com.br/docs/codigo-de-ocupacao-cliente). 
      enum:
        - OCP0001 
        - OCP0002	
        - OCP0003	
        - OCP0004	
        - OCP0005	
        - OCP0006	
        - OCP0007	
        - OCP0008	
        - OCP0009	
        - OCP0010	
        - OCP0011	
        - OCP0012	
        - OCP0013	
        - OCP0014	
        - OCP0015	
        - OCP0016	
        - OCP0017	
        - OCP0018	
        - OCP0019 
        - OCP0020	
        - OCP0021	
        - OCP0022	
        - OCP0023	
        - OCP0024	
        - OCP0025	
        - OCP0026	
        - OCP0027	
        - OCP0028	
        - OCP0029	
        - OCP0030	
        - OCP0031	
        - OCP0032	
        - OCP0033	
        - OCP0034	
        - OCP0035	
        - OCP0036	
        - OCP0037	
        - OCP0038	
        - OCP0039	
        - OCP0040	
        - OCP0041	
        - OCP0042	
        - OCP0043	
        - OCP0044	
        - OCP0045	
        - OCP0046	
        - OCP0047	
        - OCP0048	
        - OCP0049	
        - OCP0050	
        - OCP0051	
        - OCP0052	
        - OCP0053	
        - OCP0054	
        - OCP0055	
        - OCP0056	
        - OCP0057	
        - OCP0058	
        - OCP0059	
        - OCP0060	
        - OCP0061	
        - OCP0062	
        - OCP0063	
        - OCP0064	
        - OCP0065	
        - OCP0066	
        - OCP0067	
        - OCP0068	
        - OCP0069	
        - OCP0070	
        - OCP0071 
        - OCP0072	
        - OCP0073	
        - OCP0074	
        - OCP0075	
        - OCP0076	
        - OCP0077	
        - OCP0078	
        - OCP0079	
        - OCP0080	
        - OCP0081	
        - OCP0082	
        - OCP0083	
        - OCP0084	
        - OCP0085	
        - OCP0086	
        - OCP0087	
        - OCP0088	
        - OCP0089	
        - OCP0090	
        - OCP0091	
        - OCP0092	
        - OCP0093	
        - OCP0094	
        - OCP0095	
        - OCP0096	
        - OCP0097	
        - OCP0098	
        - OCP0099	
        - OCP0100
        - OCP0101 
        - OCP0102 
        - OCP0103 
        - OCP0104 
        - OCP0105 

    Owner:
      type: object
      required:
        - documentNumber
        - participationPercentage
        - email
        - phone
        - address
      properties:
        documentNumber:
          type: string
          description: Número de documento (CPF ou CNPJ). Informe somente números.
          nullable: true
        registerName:
          type: string
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM). <b>Obrigatório</b> apenas para sócio <b>pessoa física</b>.
          nullable: true
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada, saiba mais consultando a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf). Apenas para sócio pessoa física.
          nullable: true
        birthDate:
          type: string
          description: Data de nascimento do sócio. <b>Obrigatório</b> apenas para sócio <b>pessoa física</b>.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do cliente conforme consta no documento de identificação. <b>Obrigatório</b> apenas para sócio <b>pessoa física</b>.
          nullable: true
        email:
          type: string
          description: Endereço de e-mail do sócio ou de sua empresa.
          nullable: true
        occupation:
          description: <b>Obrigatório</b> apenas para sócio <b>pessoa física</b>.
          $ref: "#/components/schemas/Occupation"
        isPoliticallyExposedPerson:
          type: boolean
          description: Pessoa exposta politicamente. <b>Obsoleto</b>. Utilize o campo <code>pep</code>.
        pep:
          description: Objeto onde deve ser informado o nível de exposição política do cliente, atendendo à Circular nº 3.978. <b>Obrigatório</b> apenas para sócio <b>pessoa física</b>.
          $ref: "#/components/schemas/Pep"
        incomeDeclared:
          type: number
          description: Renda declarada. **Obsoleto**. Utilize o campo <code>declaredIncome</code> para pessoa física ou <code>declaredAnnualBilling</code> para pessoa jurídica.
        declaredIncome:
          description: <b>Obrigatório</b> apenas para sócio <b>pessoa física</b>.
          $ref: "#/components/schemas/DeclaredIncome"
        participationPercentage:
          type: string
          description: Percentual de participação (0 a 100).
          nullable: true         
        phone:
          $ref: "#/components/schemas/Phone"
        address:
          $ref: "#/components/schemas/Address"        
        tradingName:
          type: string
          description: Nome fantasia da empresa. Apenas para sócio <b>pessoa jurídica</b>.
          nullable: true
        businessName:
          type: string
          description: Razão social da empresa. ApenObrigatótio apenas  para sócio <b>pessoa jurídica</b>.
          nullable: true
        businessType:
          description: Tipo da empresa. Obrigatótio apenas para sócio <b>pessoa jurídica</b>.
          $ref: "#/components/schemas/BusinessType"
        declaredAnnualBilling:
          description: Faixa de faturamento anual da empresa. Obrigatório apenas para sócio <b>pessoa jurídica</b>.
          $ref: "#/components/schemas/DeclaredAnnualBillingRequest"
        legalRepresentatives:
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentative"
          description: Representantes legais da empresa. Apenas para sócio <b>pessoa jurídica</b>. O envio desse objeto é opcional. Porém, caso seja enviado, deve-se observar a obrigatoriedade de suas propriedades.
          nullable: true
        owners:
          type: array
          items:
            $ref: "#/components/schemas/Owner"
          description: Sócios da empresa. Apenas para sócio <b>pessoa jurídica</b>.
          nullable: true
      additionalProperties: false
    
    Pep:
      type: object
      description: Objeto onde deve ser informado o nível de exposição política do cliente, atendendo à Circular nº 3.978.
      required:
        - level
      properties:
        level:
          type: string
          description: Nível de exposição política do cliente.
          enum:
            - NONE
            - SELF
            - RELATED

    PepResponse:
      description: Objeto que informa o nível de exposição política do cliente, atendendo à Circular nº 3.978.
      type: object
      properties:
        level:
          type: string
          description: Nível de exposição política do cliente.
          enum:
            - NONE
            - SELF
            - RELATED
        verified:
          type: boolean
          description: Indica se a situação de vínculo com pessoa politicamente exposta foi verificada no Bureau de informação. O valor default desse campo é false.
    
    Phone:
      required:
        - countryCode
        - number
      type: object
      properties:
        countryCode:
          minLength: 1
          type: string
          description: Código DDI do país. 
        number:
          minLength: 1
          type: string
          description: Número de telefone incluindo DDD.
      additionalProperties: false
    
    PhonePf:
      required:
        - countryCode
        - number
      type: object
      properties:
        countryCode:
          minLength: 1
          type: string
          description: Código DDI do país. Esteja atento à lista de países bloqueados para o Onboarding presente na página <a href="https://docs.bankly.com.br/docs/registro-pessoa-fisica">Registro de pessoa física</a>.
        number:
          minLength: 1
          type: string
          description: Número de telefone incluindo DDD.
      additionalProperties: false

    PhoneResponse:
      type: object
      properties:
        countryCode:
          minLength: 1
          type: string
          description: Código DDI do país.
        number:
          minLength: 1
          type: string
          description: Número de telefone incluindo DDD.
      additionalProperties: false
    
    PowerOfAttorney:
      description: Objeto que contém a data de início da procuração (`startDate`) e a data fim (`endDate`). Não é possível utilizar uma procuração que irá vencer em até 30 dias, a partir da data de envio da requisição. 
      type: object
      properties:
        startDate:
          type: string
          description: Data de início da procuração.
          format: date-time
        endDate:
          type: string
          description: Data do fim da procuração.
          format: date-time
      additionalProperties: false

    Profile:
      type: string
      description: Perfil do cliente.
      enum:
        - COMPLETE
        - SIMPLE

    ReasonType:
      type: string
      description: |
        Motivo do cancelamento. 
        _Default: **HOLDER_REQUEST**_.
      default: HOLDER_REQUEST
      enum:
        - HOLDER_REQUEST
        - COMMERCIAL_DISAGREEMENT

    RegisterCustomerRequest:
      required:
        - registerName
        - birthDate
        - phone
        - address
        - pep
        - email
        - motherName
        - declaredIncome
        - occupation
        - documentation
      type: object
      properties:
        registerName:
          maxLength: 256
          minLength: 1
          type: string
          description: >
            Nome completo conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do cliente. <b>Sem abreviações</b>.
        socialName:
          type: string
          description: >
            Nome pelo qual a pessoa gostaria de ser chamada. Saiba mais consultando a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf).
          nullable: true
        birthDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Data de nascimento do cliente.
          format: date-time
        phone:
          description: Objeto onde devem ser informados os dados do telefone do cliente.
          $ref: "#/components/schemas/PhonePf"
        address:
          description: Objeto onde devem ser informados os dados do endereço do cliente.
          $ref: "#/components/schemas/Address"
        declaredIncome:
          $ref: "#/components/schemas/DeclaredIncome"
        occupation:
          $ref: "#/components/schemas/Occupation"
        pep:
          description: Objeto onde deve ser informado o nível de exposição política do cliente.
          $ref: "#/components/schemas/Pep"
        motherName:
          type: string
          description: Nome completo da mãe do cliente conforme consta no documento de identificação. <b>Sem abreviações</b>.
          nullable: true
        email:
          maxLength: 256
          minLength: 1
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá ser usado por dois clientes.
          format: email
        documentation:
          $ref: "#/components/schemas/SendedDocumentationRequest"
      additionalProperties: false
    
    RegisterBusinessRequest:
      required:
        - businessName
        - businessAddress
        - businessEmail
        - businessSize
        - businessType
        - declaredAnnualBilling
        - legalRepresentative
      type: object
      properties:
        businessName:
          maxLength: 256
          minLength: 1
          type: string
          description: Razão social da empresa. <br/><b>Importante:</b> não é possível enviar caracteres especiais neste campo.
        tradingName:
          type: string
          description: Nome fantasia da empresa. <br/><b>Importante:</b> não é possível enviar caracteres especiais neste campo.
          nullable: true
        businessEmail:
          type: string
          description: E-mail comercial da empresa.
          format: email
          nullable: false
        businessType:
          $ref: "#/components/schemas/BusinessTypeMEIEISLURequest"
        businessSize:
          $ref: "#/components/schemas/BusinessSize"
        businessAddress:
          description: Endereço da empresa registrado no cartão CNPJ.
          $ref: "#/components/schemas/Address"
        declaredAnnualBilling:
          $ref: "#/components/schemas/DeclaredAnnualBillingRequest"
        legalRepresentative:
          description: Representante legal da empresa.
          $ref: "#/components/schemas/LegalRepresentativeRequest"
      additionalProperties: false
    
    RegisterCorporationBusinessRequest:
      required:
        - businessType
        - businessSize
        - cnaeCode
        - legalNature
        - openingDate
        - declaredAnnualBilling
        - phone
        - legalRepresentatives
        - businessName
        - businessEmail
        - businessAddress
        - documentation
      type: object
      properties:
        businessName:
          maxLength: 256
          minLength: 1
          type: string
          description: Razão social da empresa.
        tradingName:
          type: string
          description: Nome fantasia da empresa.
          nullable: true  
        businessType:
          description: Tipo da empresa.
          $ref: "#/components/schemas/CorporationBusinessType"
        businessSize:
          description: Tamanho da empresa.
          $ref: "#/components/schemas/CorporationBusinessSize"       
        cnaeCode:
          type: string
          description: Código CNAE (Classificação Nacional de Atividades Econômicas) da empresa.
          nullable: true
        legalNature:
          type: string
          description: Natureza Jurídica da empresa.
          nullable: true
        openingDate:
          type: string
          description: Data de abertura da empresa. 
          format: date-time
        annualBilling:
          type: number
          description: Faturamento anual da empresa. <b>Obsoleto</b>. Utilize o campo <code>declaredAnnualBilling</code>.
          format: double
        declaredAnnualBilling:
          $ref: "#/components/schemas/DeclaredAnnualBillingRequest"
        phone:
          $ref: "#/components/schemas/Phone"
        businessEmail:
          type: string
          description: E-mail comercial da empresa.
          format: email
          nullable: true
        businessAddress:
          $ref: "#/components/schemas/Address"
        documentation:
          $ref: "#/components/schemas/Documentation"        
        legalRepresentatives:
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentativePerson"
          description: Representantes legais da empresa.
          nullable: true
        owners:
          type: array
          items:
            $ref: "#/components/schemas/Owner"
          description: Sócios da empresa. Objeto obrigatório <b>somente</b> para empresas do tipo LTDA. Para S.A. e TS, o envio desse objeto é opcional. <br /> Caso seja enviado, deve-se observar a obrigatoriedade de suas propriedades.
          nullable: true
      additionalProperties: false
    
    SendedDocumentationRequest:
      type: object
      required:
        - "selfie"
        - "idCardFront"
        - "idCardBack"
      description: Objeto onde devem ser informadas as referências dos documentos enviados para análise.
      properties:
        selfie:
          $ref: "#/components/schemas/DocumentToken"
        idCardFront:
          $ref: "#/components/schemas/DocumentToken"
        idCardBack:
          $ref: "#/components/schemas/DocumentToken"

    SendedDocumentationResponse:
      type: object
      description: Objeto que contém as informações referentes aos documentos enviados para análise.
      properties:
        selfie:
          $ref: "#/components/schemas/DocumentToken"
        idCardFront:
          $ref: "#/components/schemas/DocumentToken"
        idCardBack:
          $ref: "#/components/schemas/DocumentToken"

    Status:
      type: string
      description: Status da análise KYC realizada no registro do cliente.
      enum:
        - PENDING_APPROVAL
        - APPROVED
        - REPROVED
        - REVOKED
        - CANCELED
        - BLACKLISTED
 
    UpdateCustomerRequest:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/DataUpdateCustomerRequest"
    
    UpdateCustomerResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/DataUpdateCustomerResponse"
        links:
          type: object
          description: Lista que contém os objetos referente ao HATEOS.
    
  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer
      scheme: bearer

x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
